[2016-08-04 18:55] guidorice commented on #26
Hi @ahmedshuhel I am using aurelia-cli, and I cannot figure out how to add the rev: true flag to add hashtag/ versioning to my app-bundle.js and vendor-bundle.js. Is this available in aurelia-cli projects?

[2016-08-04 19:09] EisenbergEffect commented on #26
This bundler is completely unrelated to the cli. The cli has not implemented the rev feature yet.

[2016-08-04 20:04] guidorice commented on #26
@EisenbergEffect ah ok, got it. Do you want me to log an issue for aurelia-cli or is this in the pipeline already? best regards

[2016-08-04 20:12] EisenbergEffect commented on #26
I believe there's a feature request already tracking it.

[2016-08-04 21:23] atsu85 commented on #137
Oh i forgot to mention that i created separate bundles for app and another for third party assets. At dev time i only bundle third party assets.

[2016-08-05 23:03] MeirionHughes commented on #101
Any progress on this?

[2016-08-17 00:20] gregorydickson commented on #101
This is the exact issue I am running into. +1. I'm going to try with the CLI.

[2016-08-18 08:55] ppoulard commented on #92
Same issue on Aurelia 1.0.
To fix it, I did the following changes in aurelia.json :
        "prepend": [
          "node_modules/bluebird/js/browser/bluebird.core.js",
          "scripts/require.js",
          "node_modules/jquery/dist/jquery.min.js"
        ],
and removes "jquery" in the "dependencies" section

Hope this helps !

[2016-08-19 03:05] jdposthuma opened #138 "Type attribute stripped from input tags"
app/src/components/list-control-search.html:
`...<input type="text" value.bind="filter & debounce:1000" placeholder='ie: "name: intterra"' />...`

app/dist/components/list-control-search.html:
`...<input type="text" value.bind="filter & debounce:1000" placeholder='ie: "name: intterra"' />...`

app/dist/app-build.js:
`...<input value.bind="filter & debounce:1000" placeholder=\'ie: "name: intterra"\

[2016-08-21 23:32] TomWHall commented on #131
Hi @allencoded - would you mind taking a quick look at my similar [issue on StackOverflow](http://stackoverflow.com/questions/39062873/aurelia-exported-bundle-causes-a-404-from-systemjs-if-a-source-module-was-in-a-s)? When you say depCache was part of the issue, was there something else? Thanks! Tom

[2016-08-26 16:39] MarkStega opened #139 "Error bundling application"
**I'm submitting a bug report**

* **Library Version:**
0.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.1.0

* **NPM Version:**
3.10.7

* **JSPM OR Webpack AND Version**
JSPM 0.16.15

* **Browser:**
n/a

* **Language:**
TypeScript typescript-2.0.0.tgz_1468253608465_0.3713174283038825

**Current behavior:**

[12:23:40] Starting 'bundle'...
[

[2016-08-31 12:02] bigopon opened #140 "[Feature Request] Support template together with view model minification"
Hi, as titled, it would be really great if there is a way to minimize the template together with view model properties.

example:
#### Source:
[code]

[code]

#### Expected result:
[code]

[code]

[2016-08-31 13:27] EisenbergEffect commented on #140
This would involve changing the public APIs of classes, which isn't something that you normally do during minification anyway and could break a lot of apps. Feel free to work on this as a gulp or webpack plugin if it interests you. It's not something we are planning to do now or in the relative near future.

[2016-08-31 13:27] #140 closed

[2016-09-02 22:55] gravsten opened #141 "bundling with minify results in error with AMD module loading"
Bundling minifies JavaScript (how ? in `bundler.js` the function `createFetchHook()` seems to handle only HTML and CSS), thus replacing `define` by a single-character.

The problem is that SystemJS looks for `define` for selecting the AMD format. As a result, SystemJS falls back on the CJS format, thus triggering a separate dependency from the AMD defined dependency (this JS library is multiformat

[2016-09-06 14:58] gbreeze opened #142 "Module definition with module-id not working"
**I'm submitting a bug report**

The application without bundling works fine. But after bundling I get an `autoComplete` is not defined error.
[code]

I think the problem is, that the first define function do return an undefined and so the second define function is not executed.
If I change the code by removing this second define function in the bundle like following, everything works fine:

[code

[2016-09-09 11:05] fragsalat opened #143 "Revision missing on html import template bundle"
**I'm submitting a bug report**

* **Library Version:**
0.4.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 16.04

* **Node Version:**
6.1.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.45

* **Browser:**
all

* **Language:**
all

**Current behavior:**
A html bundle using the config property `htmlimport: true` and the option `rev: true` doesn

[2016-09-10 00:54] Furynation commented on #92
So, is the recommended fix for this to include both jquery and bootstrap in the prepend directive as mentioned by @ppoulard ? I ran into this with 1.0 as well. Thanks!

[2016-09-10 18:55] ERobishaw commented on #92
My woes began after npm installing jquery and adding nprogress.

**I solved** this by creating a separate jquery dependency, at the top of the list of dependencies and modified the bootstrap dep as well.
**aurelia.json**

"dependencies": [
          {
            "name":"jquery",
            "path":"../node_modules/jquery/dist",
            "main":"jquery.min",
            "export": "$"

[2016-09-21 09:58] XuJinNet opened #145 "[Bug] When using 2 config files, bundle fail"
I using skeleton-esnext 1.0.0
JSPM Version: 0.16.45

bundle.js
[code]
when run `gulp export` or `gulp bundle`, get the error:
`
[17:51:03] 'bundle' errored after 864 ms
[17:51:03] Error on fetch for npm:jquery@3.1.0.js at file:///Users/xujin/My_Projects/NodeJS/antme-web-client/npm:jquery@3.1.0.js
        Error: ENOENT: no such file or directory, open '/Users/xujin/My_Projects/NodeJS/antme-web-clie

[2016-09-21 13:07] gbreeze commented on #142
Adding a shim to the package.json solves this issue ;-)
https://github.com/jspm/registry/wiki/Configuring-Packages-for-jspm#shim-configuration

[2016-09-21 13:07] #142 closed

[2016-09-22 03:31] XuJinNet commented on #145
The problem seems to be caused by jspm.config.js overrided by jspm.config-extend.js.

[2016-09-23 03:53] XuJinNet commented on #141
The same problem?
[[Bug][skeleton-esnext] Bundle with "moment", can`t find the module moment when set "minify" to true #672](https://github.com/aurelia/skeleton-navigation/issues/672)

[2016-09-23 07:46] gravsten commented on #141
If 'moment' is an AMD-formatted library, then yes most likely it is the same problem.

[2016-09-24 06:08] XuJinNet commented on #141
Yes, the "moment" is AMD format.

[2016-09-25 17:21] ahmedshuhel commented on #145
@XuJinNet  If possible point me to a Github repo that I can use that reproduces this issue. It will be easier for me to debug. Thanks for reporting.

[2016-09-26 01:42] XuJinNet commented on #145
@ahmedshuhel please visit https://github.com/XuJinNet/aurelia-skeleton-esnext
Thank you !!!!

[2016-09-27 13:33] ahmedshuhel commented on #145
Looking at it.

[2016-09-27 15:15] ahmedshuhel commented on #145
@XuJinNet Does your app run with `gulp serve`? I am unable to run it locally. You have `config.js` in `index.html` but you don't have any file in the project root. Before bundling we need to have a working application.

[2016-09-29 04:06] XuJinNet commented on #145
@ahmedshuhel  fixed, please pull, thanks

[2016-09-30 06:45] EisenbergEffect commented on #143
@ahmedshuhel Please review this bug and the associated PR to see if we can get a fix released.

[2016-09-30 16:27] ahmedshuhel commented on #145
Looking at it.

[2016-09-30 16:38] ahmedshuhel commented on #143
On it

[2016-09-30 17:07] ahmedshuhel commented on #145
@XuJinNet I can bundle your app without any problem. I just had to remove and invalid entry from your bundle config. So, now it looks like this:
[code]

Simply, `configPath: './jspm.config.js'` should be your `configPath` as you are only using that in your [index.html here](https://github.com/XuJinNet/aurelia-skeleton-esnext/blob/master/index.html#L25 ). You are not using `jspm.config-extended.js`

[2016-09-30 17:07] #145 closed

[2016-09-30 17:11] ahmedshuhel commented on #141
@gravsten Could you please point me to a Github repo that reproduces this bug? It would be a great help for me to debug and fix it. Thank you.

[2016-09-30 21:30] gravsten commented on #141
I started with the skeleton app here:
https://github.com/adarshpastakia/aurelia-ui-framework/archive/skeleton.zip

This is a TypeScript app, but I added some pure JavaScript libraries in AMD format, which caused the problem when minifying the app.

As far as I remember, the <aurelia-ui-framework> on which the skeleton app is based also depends on some pure JavaScript libraries (included in aurelia

[2016-10-03 04:48] EisenbergEffect commented on #139
@ahmedshuhel Please take a look at this. Thanks!

[2016-10-04 04:53] EisenbergEffect commented on #138
Are you using the jspm bundling system? If so, it has an HTML minifier. My guess is that the default settings remove the type if it is a type=text because that would be the default. You can change that. @ahmedshuhel Can you confirm?

[2016-10-04 10:37] XuJinNet commented on #145
@ahmedshuhel Sorry, i need the file jspm.config-extended.js, i using it in my project,  i fixed the repo, please pull, thanks.

[2016-10-05 14:45] soualid commented on #50
Just in case it might help somebody : to summarize, use `!text` (not `!test` which was obviously a typo) when bundling your CSS inside your `bundle.js`, then use it with the aurelia `<require>` tag to load it inside your views, which will use the bundled resources when exported.

[2016-10-05 18:56] ahmedshuhel commented on #139
Looking at it.

[2016-10-05 19:03] ahmedshuhel commented on #139
@MarkStega The config files in the Archive.zip looks pretty standard to me and I find no reason not to work. Could you share a link of a Github project that reproduces this bug?

[2016-10-05 19:08] ahmedshuhel commented on #141
@gravsten Thank you for writing back. I am having difficulties reproducing this bug. I understand your concern about your project not being open source. Could you please consider creating a new repo(not your project) with some dummy code just enough that reproduces this bug?

[2016-10-05 19:16] ahmedshuhel commented on #145
Could you please point me to where you have used jquery that you configured in https://github.com/XuJinNet/aurelia-skeleton-esnext/blob/master/jspm.config-extend.js ? Then again, I suppose having two config file is not the issue here. It's about the correctness of SystemJS config.  Try importing jquery and use it in your code somewhere and see if your application runs/works and then if the bundlin

[2016-10-05 19:37] ahmedshuhel commented on #138
[Here is the default list of options](https://github.com/aurelia/bundler/blob/master/lib/utils.js#L34) we use for minifying html. Only ` removeEmptyAttributes: true,` is closer to this bug. But, it should only remove **empty** attributes and not the `type="text"` as this is not empty. I'll have to dig into `html minifier` docs to see if they enables this stripping by default or not. In the mean ti

[2016-10-05 19:50] ahmedshuhel commented on #138
@jdposthuma @EisenbergEffect only `removeRedundantAttributes` option can cause this. According to html-minifier docs it's false by default and we haven't enabled it either.  @jdposthuma Could you try explicitly disabling this in `options.htmlminopts` and see how it goes?

[2016-10-06 05:57] EisenbergEffect commented on #136
@ahmedshuhel Can you review to see if this is still an issue?

[2016-10-06 10:18] XuJinNet commented on #145
@ahmedshuhel OK, please pull, thanks.
https://github.com/XuJinNet/aurelia-skeleton-esnext/blob/master/src/welcome.js

[2016-10-07 01:50] #137 closed

[2016-10-07 09:59] pasky commented on #137
@EisenbergEffect was this bug fixed in newer Aurelia versions, does gulp bundle keep its data outside of config.js now? I gave up on bundling for the time being but I'd be happy to try it again.

[2016-10-07 11:54] MarkStega commented on #139
I can no longer create the issue. I did do a 'jspm update' on the project to get to the current Aurelia framework and probably didn't pay enough attention to what got updated. If this occurs again I do have a compact project that I can share.

[2016-10-07 13:54] EisenbergEffect commented on #137
I think it's out of Aurelia's control unfortunately. It is system.js and system-builder that mess with the configuration file. Perhaps @ahmedshuhel can shed some more light on that.

[2016-10-07 13:55] #139 closed

[2016-10-08 16:02] ahmedshuhel commented on #137
`depCache` and `bundle` injection are handled by the aurelia-bundler. The order of the serialization of config object in the config file is different in jspm. Will have to dig into the jspm code base to find the order and then implement the same ourselves in aurelia-bundler.  The problem is this something jspm can change anytime and this feature of ours will be broken. @EisenbergEffect any advice

[2016-10-08 16:09] ahmedshuhel commented on #136
I think the issue is fixed automatically as the underlying dependencies (systemjs-builder) got fixed. Closing this. If anyone is still experiencing the issue, please create a new ticket with a link of a repo that reproduces this bug. Thank you.

[2016-10-08 16:09] #136 closed

[2016-10-09 10:35] XuJinNet commented on #141
@ahmedshuhel import the module `moment`, may reproducing this bug.

[2016-10-11 18:00] ahmedshuhel commented on #141
@XuJinNet Will try that. But could you please share how you configured (SystemJS config) and consumed moment?

[2016-10-11 18:38] ahmedshuhel commented on #145
Looking at it.

[2016-10-11 18:41] ahmedshuhel commented on #91
I believe this is not an issue anymore. Closing it. @stefan505 If you still are facing this problem, please create a new issue with a github repo that reproduces this bug/behavior. Thank you.

[2016-10-11 18:41] #91 closed

[2016-10-13 13:28] jp7677 commented on #42
Thanks for your work on this one. Could you please release a new version anytime soon where this change is included?

[2016-10-14 17:38] ahmedshuhel commented on #42
We will try to release a new version soon. Thank you.

[2016-10-14 17:40] ahmedshuhel commented on #143
We will have this feature in the next release.

[2016-10-14 17:40] #143 closed

[2016-10-15 13:07] jp7677 commented on #42
@ahmedshuhel Thanks, cool!
I couldn't wait, so I played a little bit with the version on master. The  source maps generation do works, also for typescript files where the typescript compilation is done outside of jspm/systemjs (gulp-typescript and gulp-sourcemaps in my case)! Please note that the default setting in the systemjs builder does _not_ include the source as content in the sourcemaps. Th

[2016-10-15 13:13] jp7677 commented on #42
PS: It took me quite some time to find the sourceMapContents switch, eventually this or a reference to the systemjs builder documentation could be added to the jspm bundling guide. Anyway thanks a lot for your work!

[2016-10-19 08:06] Jfy6Y3TtV698a646 commented on #101
+1

For me, I'm happy with the stock approach of building to _dist_ then exporting to _export_, however to keep with the convention for structuring a site's assets, I'd like to finally deploy the bundle to _scripts_.

If I mess around with changing the base directory away from _dist_, the _config.js_ file gets poluted with relative paths, and/or fails to inject and then tries to pull the app files

[2016-10-21 05:10] jp7677 commented on #138
Please note that html minification actually never happens in version 0.4 due to https://github.com/aurelia/bundler/pull/146.

[2016-10-21 15:55] ahmedshuhel commented on #138
Added `removeRedundantAttributes: false`  default option.

[2016-10-21 15:55] #138 closed

[2016-10-21 16:08] ahmedshuhel commented on #42
@jp7677 I will make sure we update our docs. Thank you.

[2016-11-03 02:32] brendonco commented on #92
@ERobishaw You solution work for loading JQuery dependency for bootstrap.  @EisenbergEffect Need to update the document in http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurelia-cli/6 under Legacy Library

Below configuration doesnt seem to work when loading bootstrap.  By separating the JQuery as a dependency seems to work.

Not working:
[code]

Working:

[code]

[2016-11-03 02:49] EisenbergEffect commented on #92
Would you be interested in submitting a PR?

[2016-11-07 11:03] ohjames opened #147 "Support bundles built with systemjs/builder's "buildStatic" rather than "bundle" due to severe mobile performance issues."
There are bugs all over github about how slow systemjs bundles are... the mobile performance is simply unacceptable.

For bundles built with `buildStatic` rather than `bundle` the performance is just fine.

Would it be possible for aurelia bundler to hook into bundles built this way? If not I think there should be a huge warning about the extremely long delay times on mobile loads via systemjs bun

[2016-11-07 11:05] ohjames commented on #147
Here's an angular 2 issue about the slowness of systemjs builds: https://github.com/angular/angular/issues/5198

Note the last comment: "SystemJS has problems and probably is not the way to go for production deployments."

If you check out the recent angular 2 presentations they are using systemjs for development and completely avoiding it for bundles. For very good reason.

[2016-11-08 01:32] brendonco commented on #92
Sure

[2016-11-09 11:54] ErikSchierboom commented on #42
@ahmedshuhel Any idea when the next version will be released? I've also been bitten by this issue and would greatly appreciate a new release.

[2016-11-10 23:34] MaximBalaganskiy commented on #147
@ohjames I've got a gut feeling that it is quite easy to fix. I tried creating an SFX bundle and encountered 2 issues:

* missing dependency to `aurelia-polyfills` from `aurelia-metadata` - easily fixed
* missing `require` function in `aurelia-loader-default` - this one I don't know how to fix because my knowledge on aurelia module loaders is very limited.

I tried loading `requirejs` before aurel

[2016-11-11 00:21] MaximBalaganskiy commented on #147
So, spent little bit more time on this... I create the bundle using `jspm build`.
Basically, the main issue is that it scrambles module names - e.g. in my case `aurelia-framework` becomes `"6"`. If we manage somehow to map those scrambled names with real ones and teach `aurelia-loader` to access this map it will work :)

[2016-11-11 00:37] MaximBalaganskiy commented on #147
--skip-encode-names option leaves names intact, but they are full names similar to `npm:aurelia-framework@1.0.7/aurelia-framework.js`

[2016-11-11 03:40] MaximBalaganskiy commented on #147
I've hacked `aurelia-loader` slightly and it successfully loads js modules. The issue I have at the moment is with html in the bundle...

[2016-11-11 04:23] MaximBalaganskiy commented on #147
So, this is what I did to make SFX work

* added this to the `aurelia-loader-default`
[code]

* added `  window.$__System = $__System;` at the top of `aurelia-loader-default`

* patched two functions in `aurelia-loader-default`
[code]

* patched `ViewEngine.prototype.loadTemplateResources ` in `aurelia-templating`
[code]

* bundled with the following command
[code]

[2016-11-15 04:50] EisenbergEffect commented on #147
Ping @ahmedshuhel

[2016-11-15 10:11] deviprsd21 commented on #101
Even I have been bugging @AStoker about something like this.

[2016-11-15 13:36] AStoker commented on #101
Is this something that someone can submit a PR for if they think they have a solution?

[2016-11-16 03:49] deviprsd21 commented on #101
I'll look into it and see if I can submit a PR

[2016-11-18 18:03] allencoded opened #148 "Aurelia-Bundler Minify Problem"
Our application is based off the latest esnext skeleton. Once we run the aurelia bundler we get the following error:

[code]

If we disable minification then the error goes away and it exports successfully. So seems to be minify problem with the aurelia-bundler. We are using v0.5.0 bundler.

[2016-11-18 19:03] deviprsd21 commented on #148
Please go through this https://github.com/mishoo/UglifyJS2/issues/348 and make sure, there isn't any error in code that is causing this. This seems to be a UglifyJS error and Aurelia can do little to help it, but we can try.

[2016-11-19 02:50] #148 closed

[2016-12-07 22:12] VivekShah1983 opened #150 "Not able to exclude dependency package given in bundler expression"
**I'm submitting a bug report**

* **Library Version:**
aurelia-bundler v0.3.2

**Please tell us about your environment:**
* **Operating System:**
Windows server 2012 R2

* **Node Version:**
4.4.1

* **NPM Version:**
3.5.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.30

* **Browser:**
all

* **Language:**
all

**Current behavior:**
If I have jspm based sytemjs config as shown below, and i create

[2016-12-08 03:35] EisenbergEffect commented on #150
I'm having a hard time following this. It looks like you aren't using our library correctly but are trying to use it like the system builder library. The two are very different. @ahmedshuhel

[2016-12-08 03:35] #150 closed

[2016-12-09 12:06] ahmedshuhel commented on #150
As Rob said it's hard to follow. Could you create a GitHub repo reproducing this behavior?On Dec 8, 2016 9:35 AM, Rob Eisenberg <notifications@github.com> wrote:I'm having a hard time following this. It looks like you aren't using our library correctly but are trying to use it like the system builder library. The two are very different. @ahmedshuhel

—You are receiving this because you were mentio

[2016-12-12 21:57] #74 closed

[2016-12-12 21:58] EisenbergEffect commented on #74
Question answered by team member with no response for OP after many months.

[2016-12-12 21:59] EisenbergEffect commented on #83
@damianof Were you able to get this worked out or do you still need assistance?

[2016-12-12 22:30] damianof commented on #83
I actually determine on once case that the order was not important. But it's been a long time and my memory is not that great. I'm going to close this issue for now.

[2016-12-12 22:30] #83 closed

[2016-12-18 18:09] genadis opened #151 "Bug in bundling resources of private npm packages (containing @)"
**I'm submitting a bug report**

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.47

* **Language:**
ESNext

**Current behavior:**

adding resource of private npm package to bundle configuration, for example:
[code]

throws exception: "Error:

[2016-12-19 16:46] ahmedshuhel commented on #151
@genadis I am not sure how a private npm package is different here. It should work either way. Can you create a `map` in config.js (systemjs config file) for the private package you are using and use that in bundle config and see how that goes?

[2016-12-19 18:18] ahmedshuhel commented on #135
@cdaniel77 Sorry about late response. `Force` should overwrite the file. Closing the issue. If you are still facing the problem, please create a github repo that reproduces this problem and give us the link.

[2016-12-19 18:18] #135 closed

[2016-12-20 00:20] genadis commented on #151
@ahmedshuhel Thank you for quick response

I already did (actually I'm giving jspm install do the dirty work, but usually check the map: [] of the generated config.js for correctness if there are issues)

Below I've posted the configuration I'm using. But first allow me to point out that I have the same package in the public npm called `encapsulated-mdl` which works just fine. And the private pack

[2016-12-30 14:33] ivands commented on #101
Please i need this in my life.

[2016-12-30 15:01] ahmedshuhel commented on #101
@ivands 😃 And Hopefully you will get it tomorrow.

[2016-12-30 18:27] deviprsd21 commented on #101
@ahmedshuhel really?

[2016-12-31 12:57] genadis commented on #151
@ahmedshuhel @EisenbergEffect is there any update on this?
If it's not a bug, and there is issue with the configuration I've posted above I would really appreciate pointers to solving it. Thank you in advance!

It really blocks us from using private npm with aurelia-bundler, for the time being we are using bitbucket.

[2016-12-31 13:41] ahmedshuhel commented on #151
I will look into it and let you know.On Dec 31, 2016 6:57 PM, Genadi <notifications@github.com> wrote:@ahmedshuhel @EisenbergEffect is there any update on this?
If it's not a bug, and there is issue with the configuration I've posted above I would really appreciate pointers to solving it. Thank you in advance!
It really blocks us from using private npm with aurelia-bundler, for the time being we a

[2017-01-01 18:10] ahmedshuhel commented on #101
Working on it. Will be pushing to master.

[2017-01-04 23:40] TimBailey-pnk commented on #151
Hi guys, I have this same issue.
 With my config as....
[code]
The message I get is:
[code]
As its complaining about "versions" I think that the leading @ is causing the "startswith" version check to trigger.

Thanks

[2017-01-05 00:39] TimBailey-pnk commented on #151
Further to my comment, I think I've resolved with a change to the "cleanName" function....

[code]
There might be a neater way to handle this using regexes?
I can submit a PR if required.

[2017-01-13 05:13] MaximBalaganskiy commented on #147
Any luck on this one?

[2017-01-18 18:07] genadis commented on #151
@ahmedshuhel any updates on this. seems like @TimBailey-pnk posted the solution (Thanks! by the way)

[2017-01-21 10:17] deviprsd21 commented on #101
This still happening?

[2017-01-26 16:55] ahmedshuhel commented on #101
[PR](https://github.com/aurelia/bundler/pull/152) is merged. Published a beta version. Please do install with `npm install aurelia-bundler@beta` and let us know.
Implemented as described [here](https://github.com/aurelia/bundler/issues/101#issuecomment-200795809)

[code]
With `outputPath` in the bundle config the resulting files will be:
- `abc/def/app-build.js`
- `abc/def/aurelia.js`

Injection c

[2017-01-26 16:55] #101 closed

[2017-01-26 16:59] ahmedshuhel commented on #125
[This PR]( https://github.com/aurelia/bundler/pull/152) should solve this problem. We are using `mkdirp` now.

[2017-01-26 16:59] #125 closed

[2017-02-07 10:11] RomkeVdMeulen commented on #101
Finally got around to trying this out. This works perfectly. Thanks for this!

[2017-02-23 20:41] AdamWillden opened #153 "local package definition missing from bundle when using jspm 0.17.0-beta.40"
**I'm submitting a bug report** or **I'm submitting a feature request** I'm not sure.

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.5.0

* **NPM Version:**
4.2.0

* **JSPM Version**
JSPM  0.17.0-beta.40

* **Language:**
TypeScript 2.1.5

**Current behavior:**
Given a `jspm.config.js` like the following:

[code]

[2017-02-23 20:45] AdamWillden commented on #153
Please excuse the ping ahmed, I'm in a rather desperate situation (https://github.com/jspm/jspm-cli/issues/2252) so am exploring all options.

[2017-02-24 07:13] EisenbergEffect commented on #153
@ahmedshuhel Can you take a look at this?

[2017-02-24 08:44] ahmedshuhel commented on #153
@AdamWillden  @EisenbergEffect  Will look into it tonight.

[2017-02-24 10:32] AdamWillden commented on #153
@EisenbergEffect @ahmedshuhel I've just realised I completely missed whats happening and where the main bug with bundling lies and it's not the dependency version.

See [this section of code in the config-serializer](https://github.com/aurelia/bundler/blob/master/lib/config-serializer.ts#L5) with special note to `cfg[key] = systemCfg[key];` given the new config has two calls to `System.config` and

[2017-02-24 14:11] AdamWillden commented on #153
@EisenbergEffect @ahmedshuhel I've just realised I completely missed whats happening and where the main bug with bundling lies and it's not the dependency version.

See [this section of code in the config-serializer](https://github.com/aurelia/bundler/blob/master/lib/config-serializer.ts#L5) with special note to `cfg[key] = systemCfg[key];` given the new config has two calls to `System.config` and

[2017-02-24 14:12] AdamWillden commented on #153
Crap.. sorry I just pressed a load of incorrect buttons one after another. Here's the post I just deleted:

---

@EisenbergEffect @ahmedshuhel I've just realised I completely missed whats happening and where the main bug with bundling lies and it's not the dependency version.

See [this section of code in the config-serializer](https://github.com/aurelia/bundler/blob/master/lib/config-serializer.t

[2017-02-25 07:53] ahmedshuhel commented on #153
@AdamWillden What's your bundle config looks like? It would be great if you could point me to a github repo with minimum code that reproduces this bug. However, I am trying to setup it up with skeleton-navigation and see if I can reproduce it. Thanks.

[2017-02-25 08:25] AdamWillden commented on #153
@ahmedshuhel I should be able to sort you out a repo and share a link on gitter but won't be till tonight at best (0830 UK time currently)

[2017-02-25 09:15] ahmedshuhel commented on #153
@AdamWillden Sure. That would be great.

[2017-02-27 08:41] AdamWillden commented on #153
@ahmedshuhel I tried doing this last night but came up against unrelated issues post-upgrade. I'm working on it and you'll have it as soon as I can (home-life permitting)

[2017-02-27 22:29] AdamWillden commented on #153
@ahmedshuhel I've just linked you a repro on gitter

`npm install` (this will do jspm install)
`gulp build`
`gulp bundle`

Notes:
  1. In bundles.js having the `depCache` option enabled causes me issues on our CI server (if it caused issues locally I didn't notice). I'm having to run with `depCache` disabled
  2. `gulp unbundle` will need fixing once bundle is fixed
  3. I had to update the `expor

[2017-02-28 03:16] ahmedshuhel commented on #153
:+1:

[2017-03-06 14:08] #153 closed

[2017-03-06 14:17] ahmedshuhel commented on #153
@AdamWillden Pushed a fix. Give it a try and let us know. Install with `npm i aurelia-bundler@beta -S`

[2017-03-06 16:16] AdamWillden commented on #153
@ahmedshuhel it still seems to be removing the same local package definition for me (tried with `npm i ... --save-dev` also)

Could this be a possibility?

[2017-03-06 16:22] AdamWillden commented on #153
It would be much nicer if the bundles section were simply added to one of the existing config calls rather than it rewriting the entire file with a new single config call.

Though I guess that may be at odds with the ability to pass multiple config files?

[2017-03-07 18:57] bulldetektor opened #155 "Max number of directories to traverse for dependencies?"
**I'm submitting a bug report**

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
all
* **Language:**
ESNext

**Current behavior:**
I'm trying to bundle js-files in a folder structure that has 5 levels, eg;
js
--sub1
----su

[2017-03-07 19:15] bulldetektor commented on #155
Ok, my bad... Closing this because the error was in my gulp script. The task that copied js-files prior to the bundling was missing the `return` statement so I'm guessing the file copy didn't finish before the bundling started.

[2017-03-07 19:15] #155 closed

[2017-03-08 12:02] AdamWillden commented on #153
@ahmedshuhel I tried `beta.3` and that worked to keep the required entry! :-) When i did the install the other day I only got `beta.2`.

I stand by my previous comment with regards to not rewriting the entire config with a single call, it'd be much nicer.

[2017-03-08 12:21] AdamWillden commented on #153
@ahmedshuhel yeah if I `gulp bundle` (which makes it a single config call), `gulp unbundle` (maintains the single config call) then `jspm install some-package` the file reverts to having two calls again. Which means the file is never consistent. Not a big deal but a bit 'untidy'. Feel free to keep this closed as the root issue is fixed but perhaps we should open an issue for a future enhancement?

[2017-03-08 15:20] ahmedshuhel commented on #153
@AdamWillden We are aware of that problem (bundler collapsing it into a single `SystemJS.config({...})` call). Let's create a separate improvement ticket for that.

[2017-03-08 15:23] ahmedshuhel commented on #129
Should work with the latest `jspm@beta`.  Closing this one.

[2017-03-08 15:23] #129 closed

[2017-03-08 15:23] #141 closed

[2017-03-08 20:24] AdamWillden opened #156 "Bundler collapses multiple SystemJS.config({...}) calls into a single call"
**I'm submitting a feature request** as a follow on from #153

* **Library Version:**
0.6.0-beta.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.50

* **NPM Version:**
4.2.0

* **JSPM Version**
JSPM 0.17.0-beta.40

* **Browser:**
N/A

* **Language:**
TypeScript 2.2.1

**Current behavior:**
Multiple calls in a jspm config are merged into a sin

[2017-03-08 20:25] AdamWillden commented on #153
Cheer @ahmedshuhel and thank you very much for your work on this!

[2017-03-09 19:48] snapjosh commented on #92
This may or may not sound weird, but based on my experience, jquery needs to be added several (I haven't experimented with numbers) dependencies before bootstrap in aurelia.json in order to not pitch the "bootstrap's javascript requires..." error. I had jquery listed immediately before bootstrap in the dependencies and would occasionally get the error (which seemed like async or something). So I p

[2017-03-23 15:15] karthickthangasamy commented on #114
Getting the same issue with `node v6.10.0`

[code]

[2017-03-24 12:15] mariaantony-gnanasekaran commented on #114
@karthickthangasamy
Updating Auelia Bundler to the latest version will solve this issue.
I checked it with aurelia-bundler@0.5.0 ,its working fine.

[2017-04-24 03:01] TimBailey-pnk opened #158 "How to bundle folder of JSON files?"
Hi, done a bunch of googleing and cant find a way to create a bundle that only contains .json files.
Background:
I'm using Aurelia-i18n and have a folder with the translation files ie `/locales/en/root.json` etc  I want to have a hashed bundle with all these files inside.  ie app-locales-abcdef123.js
I know how to load from text/json files using SystemJS, but how to get them into a bundle just can

[2017-04-24 03:24] TimBailey-pnk commented on #158
I've got this is in my bundles.js, and tried a few dozen combinations.....

[code]

[2017-05-02 07:32] TimBailey-pnk commented on #158
Hi @ahmedshuhel  any suggestions on this one.

Thanks
Tim

[2017-05-02 08:43] jp7677 commented on #158
@TimBailey-pnk Your snippet looks fine. We are doing:

[code]
and it does work. I do note that we are using `./`, but not sure if it makes a difference.

Are your sure that they are not part of your bundle? Do you have the json plugin (`"json": "github:systemjs/plugin-json@~0.3.0"`) in your package.json?

[2017-05-03 00:10] TimBailey-pnk commented on #158
Thanks for the reply, I do have the json plugin installed, the 2 differences I can see are that your translations are "under" src whereas mine are at the root, and your translations are going in the main app bundle where I want mine in a seperate (or many seperate) bundles
Cheers

[2017-05-05 11:29] MaartenThomassen opened #159 "Expression with < sign in .html file errors the bundler"
**I'm submitting a bug report**

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

**Current behavior:**
We have an .html view belonging to a view model containing the following:

[code]

Where a is a variable in the view's viewmodel.

Wh

[2017-05-05 15:25] ahmedshuhel commented on #158
@TimBailey-pnk Do you get any error? Your configuration looks good to me. Just check if the path is correct relative to `baseURL`, i.e. `/locales/en/root.json`.

[2017-05-05 21:19] TimBailey-pnk commented on #158
I don't get any errors, but i don't get a bundle either.  I think its because the baseURL is pointing to /src so trying to make a relative path that pops out of /src just wont work whatever I try.

[2017-05-25 15:57] JeroenVinke commented on #159
also getting this one in the cli: https://github.com/aurelia/cli/issues/619

[2017-06-14 19:56] AdamWillden commented on #151
Am I right this issue can now be closed thanks to the linked PR?

[2017-06-20 08:27] timfish opened #161 "Cannot target native async/await"
I am trying to target the latest electron which has native async/await but I can't get bundling working at all due to https://github.com/systemjs/builder/issues/726

I'm using these settings:
[code]
Top of my config.js
[code]
And the TypeScript compiler is targeting:
[code]
SystemJS handles this all fine when running in development and loading all the files individually.

But on bundling I get the

[2017-06-20 18:33] Bitfiddler opened #162 "Aurelia Bundler produces invalid sourcemap file and second sourcemap url"
**I'm submitting a bug report**

* **Library Version:**
0.5.0 --> 0.6.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.2.0

* **NPM Version:**
4.1.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome Version 58.0.3029.110 (64-bit)

* **Language:**
TypeScript 2.4.0

**Current behavior:**
I have my bundles.js config set to be

[2017-06-28 16:11] timfish commented on #161
Even with `minify: false` bundling with ES6+ features fails and this is apparently because the 0.15 branch still runs code through Traceur even with minify disabled.

Was there a reason (other than time constraints) that  `aurelia-bundler` was never updated to systemjs-builder@0.16?

I'm currently working on a pull request for `systemjs-builder` which updates to the latest uglify.

[2017-06-29 14:29] ahmedshuhel commented on #161
@timfish No, there's no reason to stay with v0.15 of the builder. Updating the version and will push the code out.

[2017-06-29 14:33] ahmedshuhel commented on #161
@timfish also will be nice if you submit a PR here after systemjs-builder get's updated with latest uglifyjs.

[2017-06-29 14:51] timfish commented on #161
@ahmedshuhel Yes, will do. The PR should end up on systemjs-builder@0.16.

[2017-06-29 15:05] ahmedshuhel commented on #161
No problem. I will be updating the bundler to systemjs-builder@0.16 in the meantime.

[2017-06-29 15:55] ahmedshuhel commented on #161
@timfish upgraded to `systemjs-builder@0.16.9` and pushed a release out. Let us know if that fixes the problem.

[2017-06-29 15:55] #161 closed

[2017-06-29 16:50] ahmedshuhel commented on #162
@Bitfiddler Pushed a new release out (0.6.2). Should fix this issue. Let us know if that works.

[2017-06-29 16:50] #162 closed

[2017-06-29 17:31] ahmedshuhel commented on #159
Should be fixed now. Please try v0.6.3

[2017-06-29 17:31] #159 closed

[2017-07-03 03:37] ahmedshuhel commented on #151
I believe so.

[2017-07-03 03:37] #151 closed

[2017-07-07 10:08] jp7677 commented on #161
Hi there, could it be that the update to systemjs-builder 0.16 implies that jspm 0.16 is no longer supported and one has to move to jspm 0.17 beta?

My bundle works fine with aurelia-bundler 0.6.0 in a jspm 0.16 project, but the bundle is invalid once I update to 0.6.1 or newer. This is my error:
[code]
This could relate to the braking changes in systemjs-builder 0.16 (https://github.com/systemjs/

[2017-07-07 20:49] timfish commented on #161
@ahmedshuhel Turns out there was a reason that the dependency was never updated!

`aurelia-bundler@0.6.2` Cannot build bundles for SystemJS @ 0.19.

[2017-07-08 07:57] ahmedshuhel commented on #161
@jp7677 @timfish I will look into it.

[2017-07-11 22:45] thomas-darling commented on #147
We _really_ need this too - the performance on Android devices is just horrible, and switching loader is unfortunately not an option for us right now. Based on the investigation done by @MaximBalaganskiy, this seems like something that could be supported relatively easily - any chance you could take a look at it, @EisenbergEffect, @ahmedshuhel?

[2017-07-14 13:58] thomas-darling opened #163 "Bundling completely broken by #159"
**I'm submitting a bug report**

* **Library Version:**
0.6.3

The bugfix implemented for #159 breaks everything. After updating, we're seeing errors like:
`Error: Parse Error: <page-section headline="Popular	r5x13x2ymxwfs74ixrrrizfr0	</span>`
Where the original content was something like:
[code]

The reason is that the regular expression added to ignore binding expressions during minification, ma

[2017-07-14 14:15] JeroenVinke commented on #163
In the CLI we changed the regex to be lazy which fixed a similar error: https://github.com/aurelia/cli/pull/655/commits/b15199ffcce72c0ec0203ad40fcf059184f8a6e9#diff-67b223207feed0a4fe6155b8c200651dR23

If parsing is more resilient I'd like to consider using that instead. Do you have some examples for which we need to parse the file?

[2017-07-14 14:53] thomas-darling commented on #163
Making the expression lazy does make it less likely to break things, but it won't really fix it.
The thing is, with lazy matching, you can miss part of the expression (gray part is what it would match):

`${value ? "}`" : foo<bar}

`${value | converter1: { a: 42 }`| converter2: foo<bar}

I know those are kinda contrived examples, but we did encounter such issues in several places in our projects,

[2017-07-14 17:10] ahmedshuhel commented on #163
@thomas-darling Sorry about the bad release. Let's go back to using the previous version. We will let you know once we fix that problem.

[2017-07-18 11:16] ZoolWay opened #164 "Bundling SystemJS 0.20 app does not find packages"
**I'm submitting a bug report**

* **Library Version:**
0.6.3

* **Operating System:**
Win 10

* **Node Version:**
8.1.2

* **NPM Version:**
5.0.4

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.42, SystemJS 0.20.14

* **Browser:**
(command line)

* **Language:**
TypeScript 2.4.1

**Current behavior:**
The app runs fine in unbundled mode.

*jspm.config.js* (in wwwroot folder were also index.ht

[2017-07-19 12:56] ZoolWay commented on #164
If you are interested I have build a small project for a bug in `aurelia-i18n` and added bundling to it. The problem occurs there too:

https://github.com/telecomsoftware/sample-aurelia-i18n-i230

[code]

This minimal setup without a `src` folder is not supposed to work in the end with a bundle but it shows that `aurelia-bundler` struggles with a SystemJS 0.20 setup. I guess thats because SystemJS

[2017-07-19 13:05] ahmedshuhel commented on #164
Thanks. It will help debugging the issue.

[2017-07-19 22:05] Vaccano commented on #133
Don't suppose this has been added to a CDN in the last year?

[2017-07-20 00:23] EisenbergEffect commented on #133
It's not a recommended way to use a library like this. The best way would be with some bundling solution. CDN would mainly be for ease of use with things like plunkr or gist.run. It hasn't been a high priority compared to other items.

[2017-07-20 20:50] Vaccano commented on #133
@EisenbergEffect I only want it for gist.run so I can reproduce a bug in repeat.js.

I agree it is not a big deal for actual use in Aurelia based applications.  But for growth of the Aurelia ecosystem, it is very important.  Easily creating plunkr, gist.run, jsfiddle demos is huge for being able to communicate about Aurelia.

Without it takes much longer to put together bug reports, demos, questio

[2017-07-20 21:48] atsu85 commented on #133
@EisenbergEffect, I agree with @Vaccano, that for gist.run there should be smth like CDN for Aurelia bundles. If You'd just want some specific Aurelia package without bundling, you coud use https://unpkg.com, but having all unbundled packages from there isn't ideal (and not what this issue is about).

It would be nice if there was an universial (not Aurelia specinfic) service that would create the

[2017-07-20 22:28] EisenbergEffect commented on #133
There's two major open questions that I have about putting this up on a CDN: how do we version it? and how often do we update it? Each module is independently versioned and released. When we bundle all that up into a single package, how should that be handled?

[2017-07-20 22:52] Vaccano commented on #133
@EisenbergEffect - According to the blog, there have been 7 releases since the first of the year.  Assuming that cadence continues, that means about 15 a year.  I realize that versions may change more often than that, but I think keeping the CDN version in sync with the blog sounds like a good place to start.

As for the version, I would suggest making a separate version number that is managed ind

[2017-07-20 23:05] EisenbergEffect commented on #133
That makes sense. I think we'll probably need some documentation to explain how that versioning will work. I think we can do this.

So, just to set some expectations on timing. I'll probably need to be the one who does this particular task. I've got a few other things on my plate. Here's what my list looks like:

* Triaging all our current PRs, merging, etc. (I'm a bit behind on this.)
* Getting t

[2017-07-20 23:12] atsu85 commented on #133
@EisenbergEffect had two questions. As an alternative approach to @Vaccano proposal (that is Aurelia specific), i'll explain what i had in mind with [my approach described above](https://github.com/aurelia/bundler/issues/133#issuecomment-316839579) that could be used to bundle any JS libraries, not just for Aurelia.

The approach i suggested above wouldn't use regular CDN, and versioning happens p

[2017-07-20 23:56] EisenbergEffect commented on #133
I'm not apposed to something like that, I just don't think the Aurelia team has the bandwidth to build it now (or financing to maintain the servers).

[2017-07-21 00:37] gheoan commented on #133
Related to https://github.com/aurelia/framework/issues/671, https://github.com/cdnjs/cdnjs/issues/9166, https://github.com/cdnjs/cdnjs/pull/11356.

[2017-07-21 09:15] MJLHThomassen commented on #163
I'm +1-ning this. Its nice you fixed #159 for me but now we are getting the exact same erros as @thomas-darling haha

[2017-07-21 09:18] MaartenThomassen commented on #163
I'm +1-ning this. Its nice you fixed #159 for me but now we are getting the exact same erros as @thomas-darling haha

[2017-07-21 13:09] ahmedshuhel commented on #163
@MaartenThomassen @thomas-darling Could you try `v0.6.4` out and let us know if it fixes the issue.

Realised it's basically a paren balancing problem and regex  is not particularly good at that. Replaced `html-minifier` with [`minimize`](https://github.com/Swaagie/minimize)  as html-minifirer doesn't provide any other option then regex to handle the issue. Minimize on the other hand supports temp

[2017-07-21 16:21] yv989c commented on #133
Yay! it seems that it will be available soon at cdnjs.com (https://github.com/cdnjs/cdnjs/pull/11356)

[2017-07-25 04:26] MaximBalaganskiy commented on #147
@thomas-darling I've almost finished the `aurelia-sfx-loader` which is able to use jspm sfx bundles. There are a couple of issues to solve - any help appreciated :)

[2017-07-25 08:11] ZoolWay commented on #164
@ahmedshuhel This is not fixed in **0.6.4**, is it?

[2017-07-25 13:03] MaximBalaganskiy commented on #147
So, I've got a new loader and a simple gulp task which automates the mapping. All seems to be working in a bare project. I'll test it on our main app tomorrow and if there is a performance gain will try to put it on github.

[2017-07-27 08:33] MaximBalaganskiy commented on #147
https://github.com/MaximBalaganskiy/system-static-aurelia-loader
https://github.com/MaximBalaganskiy/system-static-aurelia-loader-sample

[2017-07-27 13:44] thomas-darling commented on #163
I don't believe this will resolve the issue - in the `minimize` readme it explicitly says:

And it's build on `htmlparser2`, which is also what I use in the `gulp-translate` plugin referenced in the description of this issue - it _will_ break when presented with certain binding expressions.

The only way to solve this, is to parse the expressions in the document and replace them with parser-safe p

[2017-07-27 13:50] thomas-darling commented on #147
@MaximBalaganskiy Awesome work there - proving the value of making this work would be huge!
I'm on vacation this week, but I'll take a closer look when I get back - have you seen any performance improvements so far?

[2017-07-27 14:03] MaximBalaganskiy commented on #147
@thomas-darling it "seems" faster... my old motorola android phone used to take 5-6 seconds to spin up aurelia after the scripts initial load. Now it's 2-3.
You can try it here https://inhouse.thinkwin.com.au/AquaWeb/Staging/Portal/, can't give the credentials, but at least you'll get a feeling

[2017-07-28 02:46] MaximBalaganskiy commented on #147
@thomas-darling I did some more testing and experimenting and have to say that non-injected standard jspm bundles seem to be as fast as the sfx bundle on my slow phone.

By non-injected I mean the ones which were built with `inject: false` and referenced directly from `index.html`.

I think this issue should be closed. And, btw, I used `systemjs-builder` for bundling directly.

[2017-07-28 11:29] ahmedshuhel commented on #164
@ZoolWay no. Working on it.

[2017-07-28 11:33] ahmedshuhel commented on #163
@thomas-darling Well, I ran some tests that included your examples with the escaped quote one( `\"`), It seems to work.

Aurelia template is valid html (well, almost), hence `htmlparse2` should theoretically be able parse it. It may not be able to parse inline php or other templates like jade or the likes but that's fine. We are not solving a general problem here.  It is good enough if it can mini

[2017-07-29 14:49] weagle08 commented on #163
I'm seeing this as well with:

`<div class="form-group ${hasValidationRun == false ? '' : (isValid == true ? 'has-success' : (optional == true ? 'has-warning' : 'has-error'))}">`

cause the following:

`[09:46:35] 'bundle' errored after 8.81 s
[09:46:35] Error on fetch for app/components/validated-input/validated-input.html!github:systemjs/plugin-text@0.0.11.js at file:///C:/dev/FDS-Client/src/www

[2017-08-03 00:39] MaximBalaganskiy commented on #147
I got an old iPad mini for tests and turns out my phone is not that slow after all.
The static bundle works faster on it.
So, I'm retracting my previous comment about closing this issue :)

[2017-08-04 16:20] thomas-darling commented on #163
Here's a case that breaks:

[code]

Run that on https://npm.runkit.com/htmlparser2 and you get this:

[code]

Note that the text `B` is gone, probably because it was parsed as an attribute, and that a closing tag for `=` has been auto-inserted. When a DOM constructed from this is serialized again, it will result in an unwanted `</=>`, which will break things. And that's just one way this can break

[2017-08-06 21:21] thomas-darling commented on #147
Hmm, interesting... but does that mean you observed an improvement by switching from injected to non-injected bundles? or does it mean that the SFX bundling didn't improve anything?

I'm just getting back to this now, and so far, it seems that switching to non-injected bundles improve the load time improve by maybe around 5-7% in Chrome - but profiling the app, it looks like that is mostly related

[2017-08-06 23:24] MaximBalaganskiy commented on #147
Sorry for the confusion, the gist is switching to non-injected bundles did improve performance on mobiles. Switching to SFX made the site load faster on slower mobiles like iPad mini.

As for testing in Chrome desktop, it's not showing any significant gain. It's mainly old mobile which suffers from promises.

[2017-08-08 17:48] hypetsch commented on #164
Hi, I'm facing the same issue - any updates yet?

[2017-08-09 18:09] Bitfiddler commented on #162
I was unable to test 0.6.2, but I attempted to migrate to 0.6.4 and it causes SystemJs loading errors so I have reverted back to 0.4.0 again.

[2017-08-23 10:08] thomas-darling commented on #163
@ahmedshuhel Any news on this :-)

[2017-08-23 16:05] EisenbergEffect commented on #163
@ahmedshuhel Can we get a fix out for this please?

[2017-08-26 20:43] ahmedshuhel commented on #163
@thomas-darling Yeah, I can see the problem here.  And, the sad part is that the template below is fine:
`<template><div> A ${ foo < bar ? 1 : 2} B </div> C</template>`
I removed the `=` from your example template that fails. It's just when we add the `=` after `<` `htmlparser2` panics. Implementing a full parser is a non trivial job and it's hard to digest the fact that we have to implement one j

[2017-08-27 01:06] gheoan commented on #163
This can be worked around by disabling minification or by using the innerText attribute:
[code]

Also, if there is a custom HTML parser to be made maybe the aurelia templating engine could be used to remove the aurelia syntax from the template, minify the the remaining html, then add the aurelia syntax back.

[2017-08-27 12:48] thomas-darling commented on #163
@ahmedshuhel Yeah, implementing a full parser is no fun, but I don't think there's any way around it.
Might actually make sense to add this capability of making templates parser-safe to the core of Aurelia - might be needed there too, and it would keep the implementation of the syntaks in one place...

Keep in mind that `<=` is not the only thing that will cause an issue. You will encounter the sa

[2017-08-28 16:40] ahmedshuhel commented on #163
@thomas-darling  For parsing expressions we may be able to use the parser used in Aurelia Templating. So even if it has bugs like the one you mentioned above, it will be consistent and solving there would solve it here.  But, I am a bit unsure about the extract-parse-inject approach here in minification context. After extraction we will pass the template to minifier and get a minified version of i

[2017-08-28 21:11] thomas-darling commented on #163
Regarding reusing the Aurelia parser, it's not enough for the bugs to be consistent, nor is it achievable. If the minifier gets invalid HTML, it will mess it up by inserting closing tags, etc. - and then after we inject expressions and potentially rouge tags after minification, the parser in the browser will be even more confused than the minifier.

That said, I'm 100% confident my approach in `gu

[2017-08-28 22:55] thomas-darling commented on #163
Just to clarify: Reusing the parser in Aurelia, if that is technically feasible, which I doubt, might help ensure it at least fails in the same scenarios, as those in which Aurelia itself would fail. However, in doing so, it might cause the failure in Aurelia to be different from what it would otherwise be. I'm also not confident that consistency can be acheived, as I'd be concerned about things s

[2017-08-29 08:03] JeroenVinke commented on #163
@thomas-darling I appreciate all the effort and thinking you've put into this. Please understand that you've been thinking about this problem a lot longer than @ahmedshuhel and me, and that we need time to get on the same page that you're on.

I'd like to add a piece of information to this discussion, which is that webpack has the same issue:

![image](https://user-images.githubusercontent.com/218

[2017-08-29 09:31] ahmedshuhel commented on #163
@JeroenVinke Here is one possible solution that we may consider besides @thomas-darling 's proposal.

[2017-08-29 18:37] thomas-darling commented on #163
I don't really see how that would be any different, unfortunately.

You _still_ need to determine where the expression begins and ends, in order to encode only the characters within the expressions - and to do that, you _need_ to parse those expressions, exactly like I do.
What's more, you now need to parse them _again_ after minification, as you can't do a simple regex replace after minification

[2017-09-09 14:57] JeroenVinke commented on #163
How would we do this for webpack?

Also, if this is valid HTM, isn't this a problem that should be resolved in the minifier(s)?

[2017-09-09 15:16] thomas-darling commented on #163
Aurelia templates, and templates for just about every other SPA framework, are _not_ valid HTML - and that's perfectly ok, although it does introduce challenges when you need to parse them, as in this case.

You can't really expect a minifier to understand every templating language out there, so this is a problem we need to fix on our end.

Regarding webpack, I don't have quite enough experience w

[2017-09-09 16:13] gheoan commented on #163
One of the core advantage of Aurelia over _just about every other SPA framework_ is its standards-compliant component model. Last time I checked Aurelia encourges template syntax that is not valid acording to WHATWG's HTML Standard. I might be wrong, but if it's true it might introduces issues with linting, minifying, 3rd party frameworks and libraries, code editors, etc.

[2017-09-09 16:29] thomas-darling commented on #163
Yes, Aurelia templates can, like most other templating languages, cause issues with third party tools - but it's impossible to avoid that if you also want support for string literals and comparison operators inside your binding expressions.

Of course, if you want _your_ templates to be fully compliant, then just don't use the `<` operator or string literals that look like HTML, such as `"<foo"`,

[2017-10-10 11:31] thomas-darling commented on #163
Any news on this?

[2017-10-10 12:07] bigopon commented on #163
This was the latest move aurelia/bundler#166

[2017-10-11 11:22] ahmedshuhel commented on #163
So, we went back to html-minifier to use it's regexp based option,`ingnoreCustomFragments` like before. We are now making the regexp lazy : `[/\${[\s\S]*?}/]`. This will work for all general cases but will fall short for something like:

[code]

We (developers) can then use `` to make the template parser safe like:

[code]
This is a feature html-minifer provides natively.

This is not the ideal so

[2017-10-14 05:43] ahmedshuhel commented on #163
v0.7.0 released.

[2017-10-14 05:43] #163 closed

[2017-10-14 05:58] bigopon commented on #163
Wow this is a nice solution 👍

[2017-10-27 09:25] toonevdb opened #167 "app-bundle.js not fetched when using `gulp serve-bundle` on jspm 0.17"
**I'm submitting a bug report**

* **Library Version:**
0.7.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 17.10

* **Node Version:**
8.7.0

* **NPM Version:**
5.4.2

* **JSPM OR Webpack AND Version**
0.17.0-beta.47 (Using loader versions: systemjs@0.20.19)

* **Browser:**
all

* **Language:**
TypeScript 2.4

**Current behavior:**
The browser does not request the app-

[2017-10-30 04:39] justindra opened #168 "Not bundling properly when adding a shim for CSS files in JSPM"
**I'm submitting a bug report**

* **Library Version:**
0.6.1

**Please tell us about your environment:**
* **Operating System:**
Linux (Arch)

* **Node Version:**
6.11.1

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebVie

[2017-10-30 06:12] justindra commented on #168
Downgrading to Aurelia Bundler 0.5.0 fixes the issue for the time being.

[2017-11-10 17:48] amartens181 commented on #92
Used au install jquery. Had to change aurelia.json to
[code]

[2017-11-19 23:54] KoltesDigital commented on #164
I had this issue. I noted that `text` was a devDependency. Installing it as a dependency (`jspm i text`) solved the problem.

[2017-11-21 16:20] thomas-darling commented on #163
It would make sense to add support for binding languages in `htmlmin`, as it is a pretty universal problem.
However, I doubt they would want to add the Aurelia-specific expression parser code to their library, so I'm guessing such support would look quite similar to the solution I've been pushing for - `html` would just need an option to set the `ITemplateLanguage` implementation to be used, and t

[2017-11-24 09:57] MT-PL-SWF-Dev opened #169 "@progress package cannot be bundled"
**I'm submitting a bug report**

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.1

* **NPM Version:**
5.5.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

**Current behavior:**
When trying to bundle css from kendo-ui there is issue that raises that there it cannot find version.
I'm quite sure that its caused by

[2017-11-24 12:20] zewa666 commented on #169
This seems to be a problem with the jspm Version you are using. https://github.com/jspm/jspm-cli/issues/1948

[2017-12-04 08:19] pcgeng commented on #50
@EisenbergEffect , how can I bundle the css files with plugin css in bundles.js?

[2017-12-04 10:13] davismj commented on #50
Try adding this to your main.js:

`import from 'bootstrap/css/bootstrap.min.css!`

Where did you expect to see it?

I must not understand because there is no reference to bootstrap in the Aurelia source.

[2017-12-06 21:18] atsu85 commented on #133
@EisenbergEffect,
Take a look at [Turbo](https://medium.com/@ericsimons/introducing-turbo-5x-faster-than-yarn-npm-and-runs-natively-in-browser-cc2c39715403) that is pretty-much what i proposed above ([comment1](https://github.com/aurelia/bundler/issues/133#issuecomment-316839579), [comment2](https://github.com/aurelia/bundler/issues/133#issuecomment-316856294)) and probably it is even more advance

[2018-01-12 12:29] shawty commented on #50
@davismj Just a quick note on your last entry.

I'm currently trying to solve a problem or two here, also.  I want to load font-awesome, but web pack is bitching about loading the font files.

However, what I wanted to say was, in your comment you say:

`import from 'bootstrap/css/bootstrap.min.css!`

As Iv'e just found out after trying that myself, the newer versions of BootStrap actually have an

[2018-02-07 11:37] ttadla opened #170 "Unable to find build/tasks path"
I am not seeing build/tasks path in my application. Should we be creating this or it will be created if we run any command.

[2018-02-07 12:17] ahmedshuhel commented on #170
Are you using `aurelia-cli` to build your app?

[2018-03-02 07:26] CedusJenkins opened #171 "sourceMappingURL loses a '/' when using remote location for the map files"
**I'm submitting a bug report**

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10 but running linux on docker (virtualbox)

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
N/A

* **Language:**
TypeScript 2.7.1

**Current behavior:**

For non-dev environments I build the so

[2018-03-02 14:57] Alexander-Taran commented on #64
Should be closed.
Even erased from the face of github
Supporting any non unicode encoding is asking for trouble.
The only two guys who really need it can always add a manual step to build pipeline and convert to koi-8.

[2018-03-02 15:02] Alexander-Taran commented on #7
Stale since 2016
Probably should be closed

[2018-03-02 20:43] zewa666 commented on #64
I agree UTF-8 is definitely a standard and having anything else is more a matter of specific use-case.

[2018-03-02 20:43] #64 closed

[2018-03-02 21:32] EisenbergEffect commented on #7
Not investing into new features for the jspm bundler.

[2018-03-02 21:32] #7 closed

[2018-03-08 19:51] Alexander-Taran commented on #170
By all standards this can be closed.

[2018-03-08 21:40] #170 closed

[2018-03-18 21:41] Alexander-Taran commented on #147
@MaximBalaganskiy think we can close this?

[2018-03-18 21:49] EisenbergEffect commented on #147
I don't think we'll add any new features around this. If it's still an issue, I would advise either an adoption of Webpack or using our CLI with require.js potentially.

[2018-03-18 21:49] #147 closed

[2018-03-22 23:57] Alexander-Taran commented on #164
can be closed?
with workaround provided

[2018-03-23 00:15] #164 closed

[2018-03-23 00:36] Alexander-Taran commented on #169
[code]

[2018-03-23 00:37] #169 closed

[2018-07-02 15:41] Mobe91 opened #172 "Allow jspm dependency transpilation during bundling"
I have already asked on [Stackoverflow ](https://stackoverflow.com/questions/49631904/aurelia-bundler-transpile-jspm-depenencies-during-bundling) about this.

I have a problem with bundling my JSPM dependencies using aurelia-bundler. One of my dependencies uses ES6 arrow functions which causes an error during minifcation of the bundle when uglify is executed.

I presume that I need to configure au

[2018-07-02 16:18] doktordirk commented on #172
i guess the bundler only bundles. so, might be more a job of the build task, eg add a task to copy those deps over to /scr before build. given everything stays the same they'd end up in the app bundle though

[2018-07-03 10:23] Mobe91 commented on #172
Yeah but that is not optimal because for copying the resources I would need to have hardcoded paths to the `jspm_packages` directory containing version information in my build instead of using config.js to resolve the paths in a version-independent way.

[2018-07-03 10:53] doktordirk commented on #172
maybe something like https://www.npmjs.com/package/uglify-js-es6 is the better approach

[2018-07-03 11:30] Mobe91 commented on #172
So how do I get `aurelia-bundler` to apply this es6 uglification?

[2018-07-03 11:45] doktordirk commented on #172
same as with 'normal' uglify i'd guess. i mean, as i see it, uglify isn't included, you'd just add a new task which uglify-es6 the (maybe unminified) bundle

[2018-07-03 12:10] StrahilKazlachev commented on #172
The js minification option is just proxied by `aurelia-bundler` to `systemjs-builder`.
  => which is using `uglify-js`
  => which does not support ES6 or newer, as stated in their repo:

[2018-07-03 12:43] Mobe91 commented on #172
@StrahilKazlachev I guess there is no way to configure `systemjs-builder` to use a different uglification implementation and to tunnel this config through `aurelia-bundler`? 😃

If not, then 'manual' transpiling as a pre-processing step to bundling seems to be the only option, right? Do you know of any way to do this using config.js for dependency path resolution (to prevent hardcoded versions in p

[2018-09-07 07:56] fragsalat opened #173 "Bundler not tracing index.js when requiring a folder"
As I think this was by intent...
**I'm submitting a feature request**

* **Library Version:**
0.7.0

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 18.04

* **Node Version:**
10.7.0

* **NPM Version:**
6.1.0

* **Loader**
RequireJS

* **Browser:**
all

* **Language:**
all

**Current behavior:**
A package like @material-ui/code requires folders which contains a index.js a

[2018-09-07 09:19] bigopon commented on #173
@huochungpen should this be resolved with auto tracing ?

[2018-09-07 09:20] bigopon commented on #173
@huochunpeng should this be resolved with auto tracing ?

[2018-09-07 09:53] huochunpeng commented on #173
Yes. It is part of nodejs compatibility I implemented there.

[2018-09-07 11:43] fragsalat commented on #173
What does this mean? Should I just update all packages and it should work? Will it be fixed with a future release or should it already work and I made something wrong?

[2018-09-07 12:37] huochunpeng commented on #173
It means it will be fixed after aurelia/cli#862 got released.

[2018-09-07 14:53] fragsalat commented on #173
Muaha that's great :) Thanks men :)

[2018-10-12 05:31] nickj41 commented on #161
I'm having this exact issue.  I have SystemJS 0.19, but when running bundled I have four dependencies that try to use System.registry.get("@@global-helpers...") which is a SystemJS 0.20 thing.
I hope I don't have to upgrade to jspm 0.17, which is still in beta? I gave it a quick try a few weeks ago with disastrous results.  Are you guys still looking into this?

[2018-10-12 10:43] Alexander-Taran commented on #173
Can be closed

[2018-10-12 12:36] fragsalat commented on #173
:+1:

[2018-10-12 12:36] #173 closed

[2018-11-29 08:30] deap82 opened #174 "Current version?"
Why is 0.6.1 set as current release here: https://github.com/aurelia/bundler/releases

But npm package page says 0.7.0; https://www.npmjs.com/package/aurelia-bundler

?

[2018-11-29 20:49] EisenbergEffect commented on #174
It looks like we pushed to npm but forgot to tag the release here on GitHub. I've created the release now. Thanks for catching this. I apologize for the confusion.

If you are using this bundler, I'd also encourage you to look at the Aurelia CLI, which can also bundle for both require.js and system.js.

[2018-11-29 20:49] #174 closed

[2019-01-08 08:12] m-gallesio commented on #168
This also happens if SystemJS's plugin-css is installed as of 0.7.0. Again, 0.5.0 works fine.

[2020-03-17 08:51] Mobe91 opened #175 "Bundle JSX"
Does the bundler support bundling JSX and if yes, how?

The following does not work:
[code]
JSX files are not included in the bundle.

Using the text-plugin, I can get the files to be included in the bundle and also the file pointers are included in config.js. But then, SystemJS loads the files directly instead from the bundle.
[code]

[2020-03-17 11:21] 3cp commented on #175
Fyi, this bundler is largely out of maintenance as far as I know.

[2020-03-17 11:22] Mobe91 commented on #175
What should be used instead?

[2020-03-17 11:38] 3cp commented on #175
Aurelia cli has an option of builtin bundler if you don't want to use webpack.

For jsx support (you must have an interesting hybrid app), you can turn on babel plugin for jsx support, or typescript compiler option for jsx if you are using typescript.

[2020-03-17 11:42] 3cp commented on #175
If you just want to bundle jsx file as text module, without transpiling, webpack has raw-loader, also cli built-in bundler has option to add file extension to text plugin. You can go though their doc first.

[2020-03-17 22:18] Mobe91 commented on #175
Thanks for the pointers.
I managed to use Babel within my JSPM/Typescript build to transpile JSX and bundle the resulting JS.

[2020-03-17 22:18] #175 closed

[2020-03-18 02:45] EisenbergEffect commented on #115
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:45] #115 closed

[2020-03-18 02:47] EisenbergEffect commented on #133
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:47] #133 closed

[2020-03-18 02:47] EisenbergEffect commented on #156
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:47] #156 closed

[2020-03-18 02:47] EisenbergEffect commented on #158
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:47] #158 closed

[2020-03-18 02:47] EisenbergEffect commented on #167
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:47] #167 closed

[2020-03-18 02:47] EisenbergEffect commented on #168
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:47] #168 closed

[2020-03-18 02:48] EisenbergEffect commented on #171
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:48] #171 closed

[2020-03-18 02:48] EisenbergEffect commented on #172
Closing this issue. The `aurelia-bundler` library has been superseded by [the aurelia-cli](https://github.com/aurelia/cli).

[2020-03-18 02:48] #172 closed