[2015-08-29 18:22] ahmedshuhel opened #2 "Unable to find destination index.html"
https://github.com/aurelia/cli/issues/163

[2015-08-31 21:29] danielabar commented on #2
The `config.js` and `package.json` came from the generator, following these instructions in [Getting Started](http://aurelia.io/get-started.html)

[code]

The only change I made was to configure a private jspm registry, pointing to a private stash repo, for one dependency.

Running `aurelia bundle` did complete with no errors (after I had removed the css plugin), however the `dest_index.html` was

[2015-09-10 20:20] mbernard opened #4 "Unable to use the Bundle command in a very simple demo app"
I can't make the bundle command to work
here's the stack

    C:\Users\miguel.bernard\Documents\Visual Studio 2015\Projects\WebApplication6\WebApplication6>aurelia bundle
    info: Creating bundle ...
    C:\Users\miguel.bernard\Documents\Visual Studio 2015\Projects\WebApplication6\WebApplication6\node_modules\aurelia-cli\dist\lib\bundler\js-bundler.js:73
    var moduleExpression = modules.map(fun

[2015-09-10 20:27] EisenbergEffect commented on #4
I believe that your configuration is incorrect. @ahmedshuhel can comment on this more. There is a new release and blog post coming soon to explain things more thoroughly though.

[2015-09-10 21:08] ahmedshuhel commented on #4
[code]

As the error says, it should be `modules : []` not `module: []`

Please don't use `cli` for bundling any more. It's deprecated and outdated. Use `aurelia-bundler`. And as @EisenbergEffect mentioned, the blog post will explain things in detail.

[2015-09-10 21:51] mbernard commented on #4
Thanks that worked!
Never heard of the aurelia-bundler, is there any documentation on that? Otherwise I'll just wait the blog post.

Thanks again

[2015-09-10 21:51] #4 closed

[2015-09-10 22:13] EisenbergEffect commented on #4
Blog post is going out tomorrow :)

[2015-09-11 10:15] ahmedshuhel commented on #2
@danielabar could you check if `indexFile` or `destFile` options in `inject` are specified in correct way. If they are written like: `indexfile` or `destfile`, this may happen.

[2015-09-11 11:22] danielabar commented on #2
This is the aureliafile.js (I temporarily put it back to default). There's an `inject` section, what should it look like?

[code]

[2015-09-11 23:19] stevies opened #5 "Gulp task finishes before bundle files are written"
As far as I can see, the gulp bundle task finishes and returns a few seconds before the bundle files are written and config.js updated.
[code]
[code]
Takes maybe 3 or 4 seconds for the files to appear after the task exits.  That makes things a bit tricky if you want to combine this with gulp tasks to copy the bundle to another location.

[2015-09-12 06:08] ahmedshuhel commented on #5
I have noticed that too. The `bundle` function returns a promise. [Gulp doc says here](https://github.com/gulpjs/gulp/blob/master/docs/API.md#return-a-promise) just return is enough to make it asynchronous. I will give it another try and will share the findings and solutions if possible.

[2015-09-12 06:13] ahmedshuhel commented on #2
[code]
This should work and create a `dest_index.html` file

Having said that, please move from `cli` (We already have deprecated it) and start using `aurelia-bundler` Here is a [blog post](http://blog.durandal.io/2015/09/11/bundling-aurelia-apps/) that explains this in more detail.

[2015-09-12 07:49] stevies commented on #5
Thanks.  I have a work around where I just wrap my task for doing the post-bundle copying in a setTimeout - something like:
[code]
Ugly, but it does the job for now.

[2015-09-12 13:21] EisenbergEffect commented on #5
It seemed to work for me. Could it be an issue with gulp versions?

[2015-09-12 13:29] #2 closed

[2015-09-12 13:46] stevies commented on #5
I am using gulp versions:

CLI version 3.8.11
Local version 3.9.0

I'll check if there are updates and re-test.

[2015-09-12 14:06] stevies commented on #5
Gulp 3.9.0 is latest.  I've installed that globally too.  Re-tested: still seeing the same issue.

The project I am building is https://github.com/stevies/aurelia-starter-kit  Of course, there may be some other user error on my part causing the bundling problem, but what I observe is if I split the tasks with the "waitFor", or run all the steps manually, then everything works fine.

In my sample p

[2015-09-12 14:11] EisenbergEffect commented on #5
@stevies No apology necessary. This will just help us to make the bundler better. There's always issues with different scenarios we haven't accounted for, so addressing this will help it to work more seamlessly in the fugure. @ahmedshuhel Can you take a look into this?

[2015-09-12 14:14] ahmedshuhel commented on #5
@EisenbergEffect I am working on it.

[2015-09-12 14:18] stevies commented on #5
Just to add to the madness, I have another (not public) project with the same file structure and the same build steps, that I have now tested and it works just fine - I'm trying to work out what is different between the two.  If I find it, I'll let you know.

[2015-09-12 15:01] ahmedshuhel commented on #5
@stevies I think I have found the issue. Pushed a new path release v0.1.7. Let me know if that fixes the problem.

cc @EisenbergEffect

[2015-09-12 15:24] stevies commented on #5
Thanks.  Appears to have fixed it.

Missing "return"?  Catches me out all the time :-}

[2015-09-12 15:31] ahmedshuhel commented on #5
:)

[2015-09-12 15:31] #5 closed

[2015-09-12 21:51] ikxx opened #6 "Missing text.js"
Bundle fails with following messages:

    [23:40:44] Using gulpfile ~/Documents/Projects/frank.ventures.aurelia/gulpfile.js
    [23:40:44] Starting 'bundle'...
    [23:40:44] 'bundle' errored after 430 ms
    [23:40:44] Error: ENOENT: no such file or directory, open '/home/user/folder/dist/text.js'
        at Error (native)
	    Error loading file:///home/user/folder/dist/text.js

I have almost s

[2015-09-12 22:28] ikxx commented on #6
I reinstalled latest skeleton and now:
1) gulp watch is OK
2) gulp bundle passes OK
3) gulp watch and gulp serve does not work anymore... aurelia.js is missing in dist folder

I recreated the environment because I got same error after previous fail with text.js. I couldnt start watch anymore and I thought that it would be best to start from the beginning.

[2015-09-13 01:01] EisenbergEffect commented on #6
When you run gulp watch or gulp serve, that internally re-runs the build. This causes the dist folder to be cleaned, resulting in a removal of the bundle. Those tasks are designed for development and don't work great in this scenario. Usually, you would build, bundle and release. If you want to test the bundle, you should first run watch, then in a separate console tab, run bundle, then refresh th

[2015-09-13 01:01] #6 closed

[2015-09-13 07:14] ikxx commented on #6
I'am aware of that and that was my intention. I wanted to continue the development process. After the 'bundle' task, 'watch' and 'serve' tasks are no longer functional. I was not trying to run the build with watch.

[2015-09-13 08:55] ahmedshuhel commented on #6
Try doing a `gulp unbundle` and see that it fixes you problem. The problem here may be `build` removed the bundled files but the `config.js` still have the `injection`. `gulp unbundle` will remove that injection from the `config.js`.

[2015-09-13 09:01] ikxx commented on #6
Yep, that fixes the problem!

Thank You,

Ivan

[2015-09-14 01:58] Vheissu commented on #6
If anyone is using an older version of the Skeleton, you will actually run into this issue because you don't have the System.js text loader plugin added into your application. See here on the Skeleton release where it was added: https://github.com/aurelia/skeleton-navigation/commit/2918261f39876bee844eff624360afb7271bb545

Add that line in and install. This will fix the issue for those using an ol

[2015-09-15 05:23] bryanrsmith opened #7 "Support in-memory transformations"
It'd be great if the bundler could support in-memory operations so the consumer can control the file read/writes, minification, etc. That would make it easier to integrate well with stream-based tools like gulp.

[2015-09-21 19:53] jamespchadwick opened #9 "Bundled HTML Templates not being used in Compose binding"
I've noticed that when I use an compose binding such as this:
<compose view="blog/views/detail.html" view-model.bind="DetailViewModel"></compose>

The HTML is being requested from the server as opposed to being pulled from the bundle.  I've confirmed that the view is included in config.js as part of the bundle ("blog/views/detail.html!github:systemjs/plugin-text@0.0.2")

[2015-09-22 07:36] ahmedshuhel commented on #9
@jamespchadwick Could you confirm it once again? How do you know that the template is being requested from the server and not from the bundle. Does it appear in the `Network` tab of the Chrome developer tool?

Console `Debug` output can be like this even for a bundled template:

[code]
 It is working as expected here in my setup.

[2015-09-22 12:28] jamespchadwick commented on #9
Shuhel, thanks for getting back to me!  Correct, what initially lead me to thinking that the template was being requested from the server and not the bundle was actually the fact that it was showing up in the Network tab in Chrome.  Attached is an screeshot of what I'm seeing.  All of the "layout" templates and the home-controller template are packaged inside of the bundle (I've confirmed this by

[2015-09-22 12:47] EisenbergEffect commented on #9
@ahmedshuhel I was working with a client this morning and saw something similar. The js/html that was associated with the `setRoot` call (which uses the same composition mechanism as compose) was not going through the bundle. It was making an additional request to the server for those files.

[2015-09-22 13:36] ahmedshuhel commented on #9
@jamespchadwick [Here is a simple](https://github.com/ahmedshuhel/skeleton-navigation/blob/master/src/welcome.html). `compose` I used to test the behavior. The bundle task is also configured.

Can you share your `config.js`, `package.json`? If it's an internal project, can you create a minimal setup with the issue and share with us that we can investigate?

[2015-09-22 13:37] ahmedshuhel commented on #9
@EisenbergEffect Could you please help me reproduce this behavior?

[2015-09-22 14:49] jamespchadwick commented on #9
@ahmedshuhel It's not an internal project. so you should be able to find everything that you need on my repository [here] (https://github.com/jamespchadwick/PersonalDomain/tree/master/Src/PersonalDomain.UI.Web.Aurelia)

[2015-09-22 17:55] ahmedshuhel commented on #9
@jamespchadwick I think you need to update the loader-default. The version [you are using is old](https://github.com/jamespchadwick/PersonalDomain/blob/master/Src/PersonalDomain.UI.Web.Aurelia/config.js#L77)

The latest version of [loader-default is v0.10.0](https://github.com/aurelia/loader-default). In fact, you  need to update both `loader` and `loader-default`. Could you do a `jspm update` for

[2015-09-22 18:47] jamespchadwick commented on #9
@ahmedshuhel Running a ```jspm update``` appears to have done the trick!  Thanks for all your help.

One thing I'm curious about, looking at config.js it appears as though I'm getting loader-default v 0.9.5 and loader v 0.8.7.  I see the versions in the repo to be 0.10.0 and 0.9.0.  How can I ensure I'm getting the latest version via jspm, or ensure that the versions I am getting are the latest av

[2015-09-22 20:08] jamespchadwick commented on #9
@ahmedshuhel Re-opening because I had "a dumb"... I was looking at the XHR in the Chrome Developer tools and not the 'All' tab.  You wouldn't think I use these tools every day....

[2015-09-22 21:15] jamespchadwick commented on #9
Closing this issue for good.  After looking at the package.json file for the sample @ahmedshuhel provided it appears as though I was several versions behind on aurelia-bootstrapper and aurelia-framework.  I've upgraded them to their current versions, which have the proper versions of loader and loader-default as dependents.

[2015-09-22 21:15] #9 closed

[2015-09-23 08:17] Souldrinker opened #10 "Bundling issues with latest jspm versions?"
Are there issues with bundling and the latest versions of jspm?

After updating to jspm 0.16.6 (or the current 0.16.8) the time to bundle is less than half but I get the following error message twice: ```builder.buildTree is deprecated. Using builder.bundle instead, which takes both a tree object or expression string.```, and when running the application font-awesome doen't seem to get loaded (it'

[2015-09-23 09:35] EisenbergEffect commented on #10
@ahmedshuhel Can you look into this and get an updated release out if the api has changed. Please see if we can detect the api and use the appropriate one if possible in order to keep backwards compat with those using older versions.

[2015-09-23 10:45] ahmedshuhel commented on #10
@EisenbergEffect I will work on it tonight.

[2015-09-26 01:45] mikeobrien opened #12 "Text bundling no longer working with latest systemjs-builder"
I just updated my npm packages and text bundling is now broken. I get this error:

[code]

Notice how the path repeats the `dist` folder 3 times. It should be `/Volumes/Data/Temp/aurelia-bundle-error/dist/app.html`. I pushed a bare bones repo that repros the issue here:

https://github.com/mikeobrien/aurelia-bundle-error

I've traced it to [here](https://github.com/systemjs/builder/blob/master/lib

[2015-09-26 02:10] EisenbergEffect commented on #12
@ahmedshuhel Can you look into this?

[2015-09-26 02:57] JoshHarris commented on #12
@mikeobrien if you remove the .js from below it works just fine.  That was part of the JSPM release a month or two back.

// does not work
paths: {
    "*": "dist/*.js",
    "github:*": "jspm_packages/github/*",
    "npm:*": "jspm_packages/npm/*"
  },

// works
paths: {
    "*": "dist/*",
    "github:*": "jspm_packages/github/*",
    "npm:*": "jspm_packages/npm/*"
  },

[2015-09-26 03:29] mikeobrien commented on #12
@JoshHarris blarg! That's it, thx!

[2015-09-26 03:29] #12 closed

[2015-09-26 16:04] mikeobrien opened #13 "Bundle failure when no options passed"
If I remove the options a la:

[code]

Bundle fails as follows:

[code]

Is the config object required or is this a bug?

[2015-09-26 16:35] mikeobrien opened #14 "App bundle including Aurelia modules"
So the latest [blog post](http://blog.durandal.io/2015/09/11/bundling-aurelia-apps/) demonstrates how to create two bundles, one for the app and one for Aurelia, along the lines of this:

[code]

What I'm running into is that when the app is bundled, the bundler tries to walk the Aurelia modules and fails with the following error:

[code]

Where the `app.js` looks like this:

[code]

I found I cou

[2015-09-26 17:14] mikeobrien commented on #14
Something that was confusing to me (And this is not necessarily an Aurelia thing) are the paths in `config.js` and the bundle includes. Originally I was thinking the paths in the `config.js` were globs but they are not. Then I thought the bundler includes were globs, and they kinda are but you can't include extensions ([Which evidently is a new thing](https://github.com/aurelia/bundler/issues/12#i

[2015-09-26 17:39] ahmedshuhel commented on #14
@mikeobrien Aurelia bundle does not support `[..]` pattern yet. But we do support `excludes : [ ]` just like `includes`.

So here is one way to do what you are trying:

[code]

[2015-09-26 17:45] mikeobrien commented on #14
Hmmm, I'm using the module syntax with the latest bits and it's working. AFAICT the bundle config is passed directly to the [SystemJS bundler](https://github.com/systemjs/builder) so Aurelia is not involved at that point. I could be missing something tho.

[2015-09-26 18:05] ahmedshuhel commented on #14
Yes, some of `expression` will work. For example:

[code]
This will create an app bundle excluding any external libraries.

[2015-09-26 18:49] mikeobrien commented on #14
What I'm seeing with the latest bits is that the following is creating an app bundle excluding any external libraries:

[code]

No need for the exclude. In fact your config above will only include the external libraries, the opposite of what I'm trying to accomplish. This is consistent with what I'm seeing in the [SystemJS docs](https://github.com/systemjs/builder#example---third-party-dependency-

[2015-09-27 10:04] ahmedshuhel commented on #14
You are right.

That's a wrong conclusion from my part. Apologies. I was not probably in my right mind.

[code]
This configuration should technically produce an `aurelia` bundle. `app/**/*` includes all the app module including the dependencies. `[app/**/*]` includes just the app modules. So the above configuration should produce a bundle of the dependencies only. (`app/**/* - [`app/**/*]).

But,

[2015-09-28 15:06] mikeobrien commented on #14
Aaaahhh, ok that makes sense now. So when I was referencing `aurelia-framework` my `config.js` looked like this with no alias mapped to `aurelia-framework`:

[code]

I was thinking that that since the Aurelia framework module was downloaded as a dependency of the bootstrapper that the `aurelia-framework` alias would be automatically mapped but obviously that's not the case.

Also, makes sense now

[2015-09-28 15:06] #14 closed

[2015-10-11 10:40] #13 closed

[2015-10-12 06:56] sickboy opened #17 "How do we include .html and .css files from aurelia packages?"
Like aurelia-dialog, or aurelia-bs-modal etc?

[2015-10-12 06:57] sickboy opened #18 "A better way to bundle all the required libraries?"
It is somewhat involving and annoying to me that we have to specify the library packages so specifically for bundling.

I think it would be great if bundler could read the config.json for library dependencies, and automatically include all the libs (incl .html and .css (related ticket https://github.com/aurelia/bundler/issues/17)).

[2015-10-14 18:45] ngib opened #19 "Bundler not working with latest release"
I'm having some really strange issues with the bundler. Here's my task:

	var gulp = require('gulp');
	var bundler = require('aurelia-bundler');

	var config = {
	  force: true,
	  packagePath: '.',
	  bundles: {
		"dist/app-bundle": {
		  includes: [
			'*',
			'*.html!text',
			'*.css!text',
			'aurelia-bootstrapper',
			'aurelia-http-client',
			'aurelia-router',
			'aurelia-templating-binding'

[2015-10-14 18:47] EisenbergEffect commented on #19
@ahmedshuhel When you get a chance, please take a look into this. On a related note, we are going to want some official documentation on using the bundler for our beta release in a couple of weeks. Will you have a chance to write that? You can probably take some of the content from the blog post and just rework it a bit. Let me know.

[2015-10-15 05:46] ahmedshuhel commented on #19
@ngib Could you please share your project? Perhaps as a github repo. `bundler` has no reference to `aurelia-cli`. I need to see how `cli` is finding it's way here. If it's a private project, could you create a `minimum` github project with this issue?

@EisenbergEffect I should be able to write the doc. Thank you. Will talk to to you more about it later tonight when I am home.

[2015-10-15 21:23] wichert opened #20 "bundler fails to resolve imports using src/"
I have an app which uses a pretty standard nested directory structure, using paths like `src/app.js`, `src/pages/user/list.js`, `src/pages/user/detail.js`, etc. There is utility code directly in `src`.

I initially tried to import the utility code directly. For example `src/pages/user/list.js` used `import {MyAPI} from 'api';` to load the API wrapper from `src/api.js`. This fails when you use karm

[2015-10-15 21:34] JoshHarris commented on #20
Two of our projects using the bundler are working just fine.  One has an alias for imports working in both the browser and karma tests, other just uses relative paths but doesn't need to add src in there.  Could you post four things: config.js -> the path {}, karma.config, gulp build task with paths it for running babel. and the gulp task for bundling. Probably be easier to figure out whats going

[2015-10-15 22:12] michaelmalonenz commented on #17
to include aurelia-dialog, I've done the following:
[code]

the !text means use the text loader, so just omit that if you're using the html template importer

[2015-10-16 14:02] ngib commented on #19
@ahmedshuhel The first error was due to jspm not properly updating all my dependencies. I had to delete some folders that were locking it up and then it went through correctly. That fixed the issues with plugin-text.

The aurelia-cli was being brought in because I still had an aureliafile and the bundle process was referencing all js files in my root directory rather than my dist folder. I'm not s

[2015-10-16 14:09] ngib commented on #19
@ahmedshuhel I did get it working using the corrected config above and also using dist/* in my bundle config as well. I think that I had some confusion since this appeared to be acting differently from the aurelia-cli. Since its use was similar, I thought my existing config would work, but it looks like the way it handles things is a bit different. Either way, it seems to be working now.

[2015-10-16 14:09] #19 closed

[2015-10-17 04:58] rquast opened #21 "Problem trying to bundle, can't find jquery.js after putting "jquery" in bundle.js"
I've tried to bundle this project with the latest bundler: https://github.com/redpelicans/aurelia-material

I have it running with the current aurelia dist, but have problems when I get this message:

[code]

I have included "jquery" in my bundle.js - which is the alias in the config.js for it. I used the current bundle.js from the aurelia skeleton project.

Here is my config.js:

[code]

[2015-10-17 05:06] EisenbergEffect commented on #21
@ahmedshuhel When you get a chance, please look at this. Also, let me know if you are subscribed to the bundler issues. If you are, I won't bother to cc you when I see them. I will just assume you are getting the notifications.

[2015-10-17 05:10] rquast commented on #21
A bit more info...

JSPM version: 0.16.12

I also tried to include "github:DarienFord/aurelia-material@master".

I also tried to exclude jquery. Everything I tried still gave the same error.

[2015-10-17 19:59] wichert commented on #20
@JoshHarris https://github.com/jzoo/skeleton-navigation/tree/path-refs is a fork of the standard skeleton, with an added dummy API module and a page using it. That version works fine with the browser and the bundler, but will fail using karma.

[2015-10-17 20:08] wichert commented on #20
@JoshHarris do you have an example of how to setup an alias for app-local files?

[2015-10-18 17:29] ahmedshuhel commented on #21
@rquast the config.js shows no top level map for `jquery` but somewhere in the source code you may have a statement like `import $ from 'jquery'`

To solve the problem you may install  `jquery` with `jspm install jquery=github:components/jquery`

@EisenbergEffect "Email" was not checked in my github "Notification Setting" for "watching" repos. I think I will get the notification mails now.

[2015-10-18 23:51] rquast commented on #21
@ahmedshuhel Thanks, that works! In future, how can you get the bundle task to look for dependencies automatically?

[2015-10-19 04:32] ahmedshuhel commented on #21
@rquast We have a few ideas to detect dependencies automatically. I am raising an issue for that for future reference.

[2015-10-19 04:32] #21 closed

[2015-10-19 04:41] ahmedshuhel opened #22 "Detect dependencies automatically."
As some of Aurelia Loader dynamically loads some of the libraries. It is hard/not possible for the module loader to detect the dependencies by static analysis of source.

Can we make this a little better?

Idea:
- `Bundler` can maintain a `Dictionary<regexp, dependency>`
- We can write some reasonably good `regexp`s.
- Before bundling `view/module`, we can search/analyze and find all the `hidden`

[2015-10-19 04:41] JoshHarris commented on #20
@wichert technically this would work for you but I don't love it because it requires a gulp build/watch for the tests to work (basically the dist directory). I do think you might have found an issue, but my other projects are in a state of disrepair so I can't verify what I was doing there yet. https://github.com/jzoo/skeleton-navigation/pull/1 (ignore the JSPM update parts in the pull, they aren'

[2015-10-19 04:53] ahmedshuhel opened #23 "Aurelia plugin bundle configuration."
Can Aurelia plugins expose their bundle configuration via `package.json` like `jspm` dependencies.

cc @EisenbergEffect

[2015-10-19 18:25] frankandrobot opened #24 "Package names that start the same confuse the bundler"
The bundler config.js is below. The error is `Error: Version conflict found in module names specified in configuration for 'aurelia-history'. Try including a specific version or resolve the conflict manually with jspm`.

Looking under the hood, in `getFullModuleName`, it's just checking to see if two packages start with the same name. <strike>I think it should check to see if the package name exis

[2015-10-20 18:05] JoshHarris commented on #24
We are also seeing the same thing with `firebase` and `firebase-token-generator`.

[code]

[2015-10-22 18:59] jadrake75 commented on #17
Just make sure you include 'text' in jspm section of package.json

 "text": "github:systemjs/plugin-text@^0.0.2",

[2015-10-22 19:02] jadrake75 commented on #24
I also had situations (due to older libraries not being updated quick enough) where a library actually had multiple versions in the jspm_packages file structure.  Using a @0.0.2 etc. with the declaration cleaned this up, but now I have versions in something other than package.json (not good)

[2015-10-22 21:39] tedberg opened #26 "Add file versioning ability"
from: https://github.com/aurelia/cli/issues/113

Wanted to make sure we didn't lose this request in the tools switch.

[2015-10-24 06:02] EisenbergEffect commented on #10
@ahmedshuhel Can we close this? Is this all fixed up now?

[2015-10-25 11:15] ahmedshuhel commented on #10
@EisenbergEffect The `api` changes is already in the master branch but not published on npm yet. Should we close the issue now or wait for publishing. As it's not a blocking issue I thought we would publish after fixing some other considerable amount of issues. It's just about time now to do a publish though.

[2015-10-25 14:04] EisenbergEffect commented on #10
When it comes to bug fixes, feel free to publish patch released as
frequently as possible. If you have a set of related issues then you can
publish when they are all ready.
On Oct 25, 2015 7:15 AM, "Shuhel Ahmed" <notifications@github.com> wrote:

[2015-10-26 14:42] #17 closed

[2015-10-27 11:13] ahmedshuhel opened #27 "Template bundling injected link doesn't respect baseURL"
https://github.com/aurelia/cli/issues/157

[2015-10-27 11:15] SPARTAN563 commented on #27
Let me know if/what you need from my side to help address this - will do what I can to assist.

[2015-10-28 23:55] dpinart opened #28 "Excludes option"
Is there any way to exclude files or folders to be bundled?

[2015-10-28 23:57] dpinart commented on #28
Just saw the ! pattern in order to exclude

[2015-10-29 00:32] dpinart commented on #28
It's not working for me. I want to prevent a module being bundled  with !js/myfolder/myfile.js but I',m getting folllowing error: Error: ENOENT, open '%Project Folders%\js\js\myfolder/myfile.js'

[2015-10-29 20:01] shaunmccann-87 opened #29 "Bundler core-js library not being bundled"
Manage to get my loading down from 500 odd files to 130, which is great!

Still the bulk of the 100 which are remaining appear to be coming from core-js modules which have been mapped but resolve internally.

Example: jspm_packages/npm/core-js@1.2.3/library/modules/$.global.js

I can see /Modules is scanned but Library/modules is not?

I guess I could manually map these folders?

[2015-10-30 03:13] frankandrobot opened #30 "The bundler doesn't seem to bundle external aurelia plugins"
We created a super simple aurelia plugin and stored it in a github repo... literally all it does is print "Hello World". It works fine in the unbundled app.

However, as soon as we bundle the app, it ignores the "app bundle" and "vendor bundle"---requests made to files inside their respective bundles don't go to the bundle; instead, the files are loaded individually, ignoring the bundling.

The bu

[2015-10-30 07:12] ahmedshuhel commented on #28
@dpinart Here is how you would configure excludes unless you are not bundling `htmlimpots` based views:

[code]

[2015-10-30 07:14] ahmedshuhel commented on #30
@frankandrobot could you point me to the github repo?

[2015-10-30 07:18] ahmedshuhel commented on #29
@shaunmccann-87 Could you share the bundle config and `config.js`? Normally we don't need to manually map  core-js, if you have `import .. from 'core-js'` statements in the source code that you are trying to bundle.

[2015-10-30 07:20] ahmedshuhel commented on #27
@SPARTAN563 Are you still using `htmlimports` based bundling?

[2015-10-30 09:24] shaunmccann-87 commented on #29
@ahmedshuhel  Hope this helps

<pre>
System.config({
  defaultJSExtensions: true,
  transpiler: "babel",
  babelOptions: {
    "optional": [
      "es7.decorators",
      "es7.classProperties",
      "runtime"
    ]
  },
  paths: {
    "*": "app/*",
    "github:*": "jspm_packages/github/*",
    "npm:*": "jspm_packages/npm/*"
  },
  bundles: {
    "aurelia.js": [
      "npm:core-js@1.2.3/library/mo

[2015-10-30 11:20] SPARTAN563 commented on #27
Not in production anymore, no - have transitioned to the System.js bundling with 0.18.0 (I think, may have been 0.17.0 - not important) - but willing to help out if you need it.

[2015-10-30 14:34] ahmedshuhel commented on #10
v0.1.8 Published on npm. The release should have the fix for this issue.

[2015-10-30 14:34] #10 closed

[2015-10-30 14:35] ahmedshuhel commented on #7
We already have the first step to enable this with the new version.

[2015-10-30 14:38] ahmedshuhel commented on #26
The feature is already in. It will be a part of the next release `v0.2.0`.  @EisenbergEffect

[2015-10-30 15:10] ahmedshuhel commented on #22
#18 is a similar issue. We will track that instead. Closing this one

[2015-10-30 15:10] #22 closed

[2015-10-30 15:10] ahmedshuhel commented on #18
As some of Aurelia Loader dynamically loads some of the libraries. It is hard/not possible for the module loader to detect the dependencies by static analysis of source.

Can we make this a little better?

Idea:
- `Bundler` can maintain a `Dictionary<regexp, dependency>`
- We can write some reasonably good `regexp`s.
- Before bundling `view/module`, we can search/analyze and find all the `hidden`

[2015-10-30 15:15] ahmedshuhel commented on #29
@shaunmccann-87 This is interesting. I can see you have two version of `core-js` installed:
-  `npm:core-js@1.2.3`
-  `npm:core-js@0.9.18`

If there is no particular reason for that, try removing the fork and see if it makes any differences.

[2015-11-02 00:44] genadis commented on #30
I had similar issue.

## Problem
I've added a simple plugin with 2 JS files to navigation skeleton:
[code]
All works good.

So I decided to bundle it.
After bundling, I've notice that only the content of my index.js was bundled, but myplugin.js was still loaded separately.
I wanted it to be bundled as well, and save the extra query.

I've done a lot of digging in SystemJS, jspm, aurelia issues, no

[2015-11-02 16:03] EisenbergEffect commented on #30
FYI @ahmedshuhel is working on a feature which would allow a plugin to encapsulate its own bundle config inside its package json file. Then you would be able to declare the plugin in your bundle config and the bundler would go find that plugin's configuration and use it to create the bundle.

[2015-11-03 15:03] ahmedshuhel commented on #30
@frankandrobot  Here is the bundle config for  the repo you have setup with `skeleton-plugin`:

[code]
@genadis This the way we recommend now and consider "best practice".

As @EisenbergEffect has already mentioned, we are working on something that we hope will improve the experience even better.

[2015-11-03 23:47] kijanawoodard opened #31 "Stable ordering for bundle"
I've noticed that with no relevant changes, files are rearranged in config.js.

For better or for worse, I'm pushing bundles through git at the moment and it shows up as needless diffs. At any rate, it would be nice to see "real diffs" as opposed to random file reshuffles.

Thoughts?

[2015-11-04 01:51] EisenbergEffect commented on #31
@ahmedshuhel Do you know anything about this? Is it an issue with system.builder?

[2015-11-04 04:08] SivaJonnala opened #32 "How Can I bundle all my plugin css files ?"
Hi, I want to remove all my css links from index.html in my app developed by aurelia framework. I created a vendor.js file using bundler, but how can I make it to use in my app. Or else tell me any other solution to make all my css links come with a bundles solution.

[2015-11-04 05:40] ahmedshuhel commented on #31
@EisenbergEffect
Yes. It's a system-builder issue. I will see if we can do it better though. If we can intercept the `Module Names` and `sort` them before injecting into  `config.js`, situation may improve.

@kijanawoodard That should theoretically solve the problem. right?

[2015-11-04 14:01] kijanawoodard commented on #31
I believe it would.

[2015-11-04 23:24] tedberg opened #33 "Regression in 0.1.8"
Working bundle in 0.1.7, starting with 0.1.8 causes the error:

throw new Error('Version conflict found in module names specified in configuration for \'' + moduleName + '\'. Try including a specific version or resolve the conflict manually with jspm');

Reason is config.js has 2 entries in its map:

"jquery-form": "npm:jquery-form@3.50.0",

and

"npm:jquery-form@3.50.0": {
  "jquery": "npm:jquery

[2015-11-05 07:35] SivaJonnala commented on #32
@ahmedshuhel Hi, I have a confusion when I am using import "bootstrap" once the Aurelia-Bundler has did it's work then app.html is updated with bootstrap.css part. then I have Used import "sweetalert" but css require is not coming to  the app.html after bundling.

App.html
<template>
  <require from="nav-bar.html"></require>
  <require from="bootstrap/css/bootstrap.css"></require>

  <nav-bar rout

[2015-11-09 13:00] RWOverdijk commented on #24
Curious what comes out of this. I'm currently working around this by specifying version numbers.

[2015-11-09 15:44] RWOverdijk opened #34 "Bundling oddities"
Hello,

I've been trying to get bundling to work for the past day or two, and found some oddities.

### First off
It looks like you need to build before running bundle. I've made a [PR](https://github.com/aurelia/skeleton-navigation/pull/199) that takes care of this.

### Secondly
The current bundle task has two bundles defined. I've found the bundler to be clever enough to pull together most bund

[2015-11-09 15:53] EisenbergEffect commented on #34
Thank you @RWOverdijk !
@ahmedshuhel Can you look into these issues please? I've also seen the duplicated modules between bundles...

[2015-11-09 23:03] jeremy-holt opened #35 "Bundling loads from system.js and not from app-bundle.js"
If I do a hard refresh of the page, the files are loaded from System.js and not from app-bundle.js. Subsequent calls will correctly load the files from the app-bundle.

<img width="883" alt="sshot-1" src="https://cloud.githubusercontent.com/assets/2135027/11049272/ff6ceb32-871b-11e5-9355-e4932f8f02cb.png">

Further, the bundler duplicates a lot of files. In the bundle.js below I commented out the

[2015-11-09 23:12] jeremy-holt commented on #35
If I include the commented out dist/aurelia-bundle and remove the "*" from app-bundle, the files are only loaded from aurelia-bundle even though there is no reference in bundle.js to the appplication files in /src.

It's all very confusing.

[2015-11-09 23:14] jeremy-holt commented on #35
Just checked again, and now its completely ignoring aurelia-bundle and loading the app files from app-bundle

[2015-11-09 23:59] droplab opened #36 "Shared dependency de-duplication"
Is there a way to prevent library duplication across bundled files? For example, If I'm using TweenMax in more than one bundle the entire GSAP library gets compiled into each bundle. Would be amazing if there were functionality that would allow shared dependent libraries to be broken off into a commons.js bundle.

I realize this would be possible if I explicitly declared exactly what and what is c

[2015-11-10 18:18] #33 closed

[2015-11-10 18:40] ahmedshuhel commented on #34
@EisenbergEffect I believe @RWOverdijk is talking about the bundle config for skeleton-navigation. If that's the case the last [PR](https://github.com/aurelia/skeleton-navigation/pull/191) fixed the duplicate module issue.

I will be looking at the other issues he mentioned. Thank you.

[2015-11-11 08:55] philiphendry opened #37 "Upgrading to November Aurelia release broke bundling"
I have the following bundling config:

[code]

and a `package.json` of:

[code]

but now when I run my bundling it fails with the following error:

[code]

I thought that my `jspm` was out-of-date but that appears to be in order. Other than that I'm a little clueless where to take this. I've raised it here rather than against `SystemJS` since I'm running through aurelia-bundler which was working b

[2015-11-11 10:41] ahmedshuhel commented on #37
@philiphendry looks like `systemjs-builder` is throwing up here. Aurelia bundler depends on that lib. If it's a public project on github and if you can share it, I can dig more in.

[2015-11-11 16:30] Zensavona opened #38 "self executing bundles"
is it possible / planned to create self executing bundles with the bundler (i.e. a bundle which can be included in a html file on it's own)? JSPM bundling already supports this, but I can't find a way to do this with aurelia's bundler.

Thanks!

[2015-11-12 07:49] RWOverdijk commented on #24
@frankandrobot Could it be that three days ago it wasn't tagged yet?

[2015-11-12 16:19] philiphendry commented on #37
I take it all back :( I deleted my `\node_modules\` and `\jspm_packages\` and ran `npm install` and `jspm install` and the bundling worked. I'm not sure what to feel more ashamed of... having to 'get-out-of-the-car-and-back-in-again' reboot of the packages or not having thought of doing that in the first place!

[2015-11-12 16:19] #37 closed

[2015-11-12 16:31] #31 closed

[2015-11-12 16:49] ahmedshuhel commented on #24
@RWOverdijk @jadrake75 Could you please try the latest version and see if that fixes the issue? v0.1.9

[2015-11-12 16:49] ahmedshuhel commented on #26
We have it now in 0.1.9

[2015-11-12 16:49] #26 closed

[2015-11-12 16:52] ahmedshuhel commented on #28
@EisenbergEffect should we close this issue?

[2015-11-12 16:54] #28 closed

[2015-11-13 05:01] dredzone opened #39 "Error: Configuration has already been loaded. Call setPackagePath before using other APIs."
package.json:

[code]

bundle config:

[code]

[2015-11-13 06:31] ahmedshuhel commented on #39
@dredzone could you setup a github repo with this problem so that I can check it directly?

[2015-11-13 08:21] kuraga commented on #38
:+1:

[2015-11-13 08:39] ahmedshuhel commented on #38
Yes, we will have this in.

[2015-11-13 09:16] Zensavona commented on #38
fantastic, thanks :+1:

[2015-11-13 15:38] RWOverdijk commented on #24
@ahmedshuhel

[2015-11-13 15:44] RWOverdijk commented on #24
@ahmedshuhel It seems to actually be worse no. Now it even gives me this error for `github:paulvanbladel/aurelia-auth@0.11.1/authFilter` (which did work for 0.1.8)

[2015-11-13 18:29] dredzone commented on #39
repo: https://github.com/dredzone/aurelia-poc
gulp build-prod-env

Thanks.

[2015-11-13 21:33] xealot commented on #21
I have this same issue in the loader and bundler... If something is listed as a dependency of one of my dependencies it fails to resolve in either.

What is the issue that was created to track this, as I don't see it here.

:thought_balloon:  Perhaps, upon reflection... it's also a bad practice to rely on a dependencies inclusion of something when using it directly.

[2015-11-14 04:49] ahmedshuhel commented on #21
@xealot [This is the issue](https://github.com/aurelia/bundler/issues/18). We may have to change the title so that it clearly expresses the intent.

[2015-11-16 13:23] xealot commented on #21
Thank you. Though, I see the same issue with the non-bundled loader. :disappointed:

[2015-11-16 13:33] genadis commented on #21
The following works for me for non-bundled and for bundled:
package.json:
[code]
The override is important for bundling.

bundle.js / bundle.json (see the latest navigation-skeleton for bundle.json)
[code]
"jquery" - includes the module.
"jquery/jquery.min.js" - makes sure the jquery itself is bundled into app-build as well.

[2015-11-18 05:09] davidbfrogman opened #40 "When creating a bundle and then using gulp watch your dist folder is cleaned out"
So I've spent the past 3 hours trying to figure out why I couldn't get gulp bundle to work properly.

After struggling with just executing the task, I finally got gulp bundle to run.  And then I would try to see if it worked, I would get a 404 on aurelia.js.

The solution was hosting in IIS, and not using gulp watch to host my aurelia app. Then after I did gulp bundle, I could see my site without

[2015-11-18 10:34] genadis commented on #40
running gulp watch cleans the dist and all the bundles with it.
just run gulp watch and in another terminal run gulp bundle, refresh the page and see the result.

[2015-11-18 12:07] StrahilKazlachev opened #41 "Error when output directory is missing"
When the output directory does not exist I get the following error `Error: ENOENT: no such file or directory, open 'd:\dev\repo\some_project\some_module\dist\bundles\vendors\aurelia.js'`. I have to check if the folders exist, and create them if necessary, before bundling.

[2015-11-18 20:47] philiphendry opened #42 "What's happened to source maps in v0.1.9?"
I've noticed that my source maps weren't being generated for the bundle after upgrading to Aurelia Beta 1. I had `sourceMaps: true` in my bundle config as shown below but after checking the bundler source I can see it's been removed in v0.1.9. Is this coming back? Is there functionality in the systemjs builder that will offer this support? I also noticed that the gulp task still generates embedded

[2015-11-24 09:38] dfsq opened #43 "Documentation/instructions"
This is the huge issue with entire Aurelia ecosystem unfortunately, but would it make sense to provide at least minimal documentation/guide in README.md about how to use bundler, what commands are available, etc. Otherwise, one needs to google for instructions somewhere else, without knowing if the info is still related to recent version of the lib. Or browse the source code. In either way it does

[2015-11-24 10:32] ahmedshuhel commented on #43
@dfsq Hopefully, a documentation explaining different `features` of bundler and  `how to use it` will be up by this week. We are working on it. Thanks for reporting.

[2015-11-25 14:56] sergidt opened #44 "Errors executing my project after bundle"
I have a custom bundle.js file. You can see in that plunk: http://plnkr.co/edit/1HbxsRMjpW9FcF1UtaSQ?p=preview

I execute gulp bundle and the process ends correctly. Then I get a deploy folder. When I load index.html I get errors:

Error: Access to restricted URI denied Error loading file:///.../jspm_packages/npm/aurelia-validation@0.6.0/resources/en-US.js

the same for aurelia-dialog and font-awe

[2015-11-26 08:08] ggrimbert commented on #24
I am experiencing the same problem, I added traces into bundler.js, the following is the result of  _Object$keys(map) :
[code]

In my case, the problem comes from aurelia-loader-default. I've tried different ways of defining it, and now I have only one version of this dependency, but still the error.

[2015-11-26 15:23] ben-girardet commented on #5
I place here a comment that could be useful for people encountering this problem. The bundle task was working correctly on my local matching but not on our staging server. Same than above, the task stopped before the return of the Promise.

The reason was that I was using `npm -v 2.13.4` and the staging server had `nom -v 1.4.9`.

By using a newer version on the staging server (namely: `nom -v 2.1

[2015-11-27 10:29] dpinart opened #45 "Bundling dist folder only"
Hi,

I'd like to create 2 bundles, one containing the app named app-bundle and the other one containing aurelia plugins and other libraries.
I've created a bundle configuration as follows:
var config
</code>
[code]
</code>

I'd expect app-bundle containing only modules within the dist folder. However it seems it's bundling everything. I can see in the config.js file that app-bundle contains jquery

[2015-11-27 14:38] EisenbergEffect commented on #45
@ahmedshuhel We either need a bug fix or proper documentation on this...because we keep seeing this problem over and over again.

[2015-11-27 15:37] dpinart commented on #45
Right now, I can live with a workaround for this. I'm facing other problems when bundling but not sure if it's an issue of the bundler or it's in the source code:
1) As you can see in above example, app-bundle includes "*/**/*" and "*/**/*.html!text. Adding "*" and "*.html!text" causes the bundling process to hang out and it never ends
2)In my first attemp, I tried to create only one bundle minifi

[2015-11-29 15:11] dpinart opened #46 "minifying bundles with html seems to not being working"
Hi,

Sometimes, when trying to create a bundle with *.html!text with the minify option set to true casues some errors on views. In some cases, several views cannot be loaded or in other cases views are not correct, in example, I've seen some views not showing texts in buttons.

[2015-12-05 02:57] LivesleyWA opened #48 "Error: Module aurelia-framework not declared as a dependency"
[aurelia-application-configuration.ts.zip](https://github.com/aurelia/bundler/files/52711/aurelia-application-configuration.ts.zip)
I have a working application. I have attempted to bundle the application using two bundles. I can see the two bundles being loaded
[localhost.zip](https://github.com/aurelia/bundler/files/52712/localhost.zip)

but I then receive

Error: Module aurelia-framework not de

[2015-12-10 14:21] khoanguyen123 opened #49 "bundling takes a long time"
Sometimes "gulp bundle" takes just a few minutes to complete, but most of the time it took 45 minutes. I am not sure what it's doing under the hood. Especially, the "gulp export" is the killer:

Doing "gulp export" takes 45 minutes
Doing "gulp export" after "gulp bundle" makes the app failed to load: it keeps spinning at the loading page.

[2015-12-15 09:49] JasonWeise commented on #49
I have the same issue with the skeleton-navigation project.

[2015-12-16 20:46] AshleyGrant commented on #39
@ahmedshuhel this is affecting my team as well. Any update on this issue?

[2015-12-16 20:51] EisenbergEffect commented on #39
@ahmedshuhel We need to address this with top priority please.

[2015-12-17 00:08] dredzone commented on #39
I had "systemjs-builder": "^0.14.9" dependency in my package.json, after removing it I was able to bundle with no problems.

[2015-12-17 10:35] ahmedshuhel commented on #49
@khoanguyen123 @JasonWeise Could it be a gulp issue? It should not take this long. The bundler is a library. Could you write a plain node script with `bundler` and try like:

[code]

[2015-12-17 10:37] ahmedshuhel commented on #46
@dpinart Is there any working project with this problem on github that we can try?

[2015-12-17 10:43] ahmedshuhel commented on #39
@AshleyGrant  @EisenbergEffect  I am working on it now.

[2015-12-17 11:39] avizcaino opened #50 "CSS imports not working properly"
Hi,

I'm trying to bundle my app into a single bundle, including all html, css and js files. So far, I've managed to build the bundle with this configuration:
[code]

In my main.ts file, I have the imports for the bootstrap and font-awesome css:
[code]
but when running my app, those css are loaded from the jspm_packages instead from the bundle... I'm quite lost here since I would like to have a si

[2015-12-17 14:20] BBosman commented on #45
I've "fixed" this in my project by putting the same content as the `dist/aurelia-bundle` *includes* property in the *excludes* property for `dist/app-bundle`.

[2015-12-17 16:21] ahmedshuhel commented on #45
That is one of the ways to solve it. Another ways is to `include` like `["*/**/*"]` :
[code]
This will automatically `exclude` the dependencies from the first bundle.

[2015-12-17 16:28] ahmedshuhel commented on #45
There are some docs available [here](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.5/doc/article/bundling-your-app-for-deploy) that touches this issue. Please read the `Duplicate Modules in Multiple Bundles` section for more details.

[2015-12-17 16:28] #45 closed

[2015-12-17 19:19] EisenbergEffect commented on #50
Ok, this is something that is confusing and I apologize for that. Let me try to explain.

Basically, the module loader can load any type of resource, not just JS. It does this through plugins. SystemJS ships with a css plugin that will let you import css by placing a "!" after something with a .css file extension. However, in the above, you are using the `text` plugin by indicating "!test". As a r

[2015-12-17 19:19] #50 closed

[2015-12-18 18:22] koen-unifly commented on #36
I actually had the same issue and try-ed several things. However reading the code solved it :)

To make a long story short, when you create a bundle with the GSAP library (a core-bundle.js for instance) and then exclude it from the other bundles, alle dependencies of the core-bundle.js will be excluded from those bundles.

The long answer:
JSPM-Builder (which is used under the hood by aurelia-bund

[2015-12-19 06:41] ahmedshuhel commented on #36
We have some documentation around this [here ](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.0.5/doc/article/bundling-your-app-for-deploy). Please read "Duplicate Modules in Multiple Bundles" section for more details.

[2015-12-19 06:41] #36 closed

[2015-12-20 06:27] jadrake75 commented on #42
As found, it does not appear that sourceMaps is working with v0.1.9

[2015-12-20 06:46] ahmedshuhel commented on #42
@philiphendry @jadrake75 Yes. The feature is missing in v0.1.9. We will get it back in the next version.

[2015-12-22 12:24] niieani opened #51 "Minifying Views does not work"
View-Templates are not minified during bundling, even though `minify` is set to true.

[2015-12-22 13:03] ahmedshuhel commented on #51
@EisenbergEffect We are using `text` plugin for bundling views as our `loader` expect. And, unfortunately it does not support minification (the plugin will never support that as it has no idea about the actual content). We, on the other hand, know the content type(html/css). Given that bundle the configurations looks like:

[code]

[2015-12-22 13:53] EisenbergEffect commented on #51
@ahmedshuhel Absolutely. If we can build html and css minification into the bundling process, that would be great.

As a more general idea, perhaps the bundler should have certain types of plugins that it can apply, based on file extension or something like that. I'm thinking of an extensibility point. This is something we could hook our view pre-compile into, but also someone else may want to hoo

[2015-12-22 14:49] Gheoan commented on #51
@EisenbergEffect `SystemJS` plugins could to that

[2015-12-22 15:00] EisenbergEffect commented on #51
I suppose it could be done with a systemjs plugin. However, wouldn't that affect the module id? We don't want to create a discrepancy between the module id that is encoded into the bundler and the one that is used at runtime. We also don't want different module ids for bundled vs. unbundled apps. That would be my only concern. @ahmedshuhel knows more about hos the builder process works though, so

[2015-12-24 19:16] ahmedshuhel commented on #39
This issue should be resolved in `v0.2.0`. Please download and give it a try. There is a slight change in the configuration. `README` has an example bundle configuration( with comments). Hope this will help to understand the changes.

[2015-12-24 19:16] #39 closed

[2015-12-24 19:17] EisenbergEffect commented on #39
@ahmedshuhel Please submit a pr to udpate the docs. They are in the doc folder of the framework library. I can release those as soon as we have the pr.

[2015-12-24 19:23] ahmedshuhel commented on #39
Will do that.

[2016-01-02 05:34] kijanawoodard opened #53 "Tricks for upgrading from 1.7 to 2.1?"
I just tried to upgrade the bundler from 1.7 to 2.1. Everything seemed to go fine npm wise.

However, after bundling, system.js and config.js loaded as normal, but app-build.js was never requested.  The application never loads.

I made this change independently and was able to "fix it" by forcing the version back to 1.7.

Fwiw, 1.9 failed in the same way.

[2016-01-02 07:29] ahmedshuhel commented on #53
There is a slight configuration breaking changes in 0.2.1. There is no `packagePath` anymore. We have `baseURL` and `configPath` instead. [Here is an example configuration](http://github.com/aurelia/bundler) that may help you to upgrade quickly. Please notice the comments in the example.

[2016-01-02 15:55] kijanawoodard commented on #53
I had noticed that change and tried it before submitting this issue.

By copying from the example, I changed

packagePath: '.',

to

baseURL: '.',                   // `baseURL of the application`
configPath: './config.js',      // `config.js` path. Must be within `baseURL`

No effect.

Config.js did get updated as expected after bundling.
Do I need to update jspm/systemjs or some other dependency

[2016-01-04 18:19] Jak3b0 opened #54 "TypeError: needs a 'context' argument when using version 0.2.1"
Hi,

I just upgraded to version 0.2.1 and I keep getting the error `TypeError: needs a 'context' argument` unless I change the function `readConfig` in the file `config-serializer.js` as follow:

    var ctx = vm.createContext(sandbox);
    vm.runInContext(cfgCode, ctx); // I changed the second parameter from sandbox to ctx
    return sandbox.System.cfg;

[2016-01-05 07:48] ahmedshuhel commented on #54
@Jak3b0 This is probably a bug. I will look into it. Thanks for reporting.

[2016-01-05 21:39] atsu85 opened #55 "bundler uses different formatting for compared to `jspm install`"
# Problem
bundler formats config.js differently compared to jspm install or update - git history is screwed. #54

# Differences:
1) JSPM doesn't quote top-level keys in config.
Result after `jspm update`
[code]
vs
result after `gulp bundle`
[code]

# Suggestion
It would be nice if this format could be configured, so that git history would remain readable (without too much effort)

[2016-01-05 21:46] EisenbergEffect commented on #55
@ahmedshuhel We should try to maintain the same formatting...

[2016-01-06 15:08] AStoker commented on #53
I had an issue upgrading as well (which drove me nuts comparing my project to the skeleton because one was working and the other wasn't, and I didn't notice the version upgrade ;) ). With the configuration mentioned above, I would get this error while bundling:
[code]
After finally seeing the version changes, I downgraded back to 0.1.9 and everything works fine.
This might be a separate issue to b

[2016-01-06 15:11] kijanawoodard commented on #53
I'm not getting any errors. It's just that nothing loads after config.

[2016-01-06 15:13] AStoker commented on #53
Gotcha, I'll post my problem as a separate issue in that case then, to keep this issue contained.

[2016-01-06 17:50] AStoker opened #56 "Not generating correct file paths breaks bundling"
I have an issue after upgrading to the newest version (which drove me nuts comparing my project to the skeleton because one was working and the other wasn't, and I didn't notice the version upgrade ;) ).

I get this error while bundling:
[code]
There is no `ot` folder in the Central folder location, however there is a `wwwroot` folder which contains the dist folder. It almost looks like it's tryin

[2016-01-06 17:51] AStoker commented on #53
Related issue to the upgrade: https://github.com/aurelia/bundler/issues/56

[2016-01-07 12:32] aozisik commented on #56
Yes, I believe I am having the same issue. I am passing in "./public/build" as baseUrl and then it becomes c/build/ instead of public/build

[2016-01-07 15:39] kijanawoodard commented on #56
I wonder if this is the same as my issue. I use "./", so not sure what happens in that case.

[2016-01-07 15:43] aozisik commented on #56
When I use /public/build, this time it will only take build and omit public completely. When I add the "." in the beginning, it is "c/build" this time. It seems to be taking a substring of the last 5-6 characters and leaving out the rest.

[2016-01-07 16:10] AStoker commented on #56
That's exactly what it does. It calls a function that's owned by system-js path tools that is supposed to trim the `file://` off of the path. But it does it just straight up, which means that it will **always** remove the first 7 characters.

[2016-01-07 17:38] cknightdevelopment opened #57 "Can't get bundler to look at correct location for jspm_packages"
I am trying to bundle a very basic sample app. Here is screenshot of the folder/file structure with relevant files highlighted for reference:

![structure](http://i.imgur.com/8SZjhNw.png)

Here is the relevant part of my gulpfile.js:

[code]

When I run `gulp bundle` I get the following error:

[code]

As you can see from the error message, it is looking for the `jspm_packages` folder at the `....

[2016-01-08 07:26] ggrimbert commented on #24
Hi,

Any news about this issue ?

[2016-01-09 13:47] ahmedshuhel commented on #57
@cknightdevelopment Could you check with baseURL set to `'.'` and let me know again. Creating a small repo with this issue on github for me would be a great help for debugging this issue.

[2016-01-09 13:50] ahmedshuhel commented on #56
@AStoker I need a github repo with this issue. Could you please create one?

[2016-01-09 13:53] ahmedshuhel commented on #55
@EisenbergEffect @atsu85 Ultimately, we are using `JSON.stringify()` to recreate the config file. I don't know if there is any way to tap into that function to change formatting. I will look into it. If that does not work we may have the change the whole implementation.

[2016-01-09 13:55] ahmedshuhel commented on #54
@Jak3b0 I could not reproduce it in my machine. Could you point me to the github repo that have this issue?

[2016-01-09 13:57] ahmedshuhel commented on #51
I would like to let everybody know that we are working on it. Already made some great progress. Hope to get it in in the next version.

[2016-01-09 14:00] ahmedshuhel commented on #53
@kijanawoodard  Is it possible to have a github repo that reproduces this issue?

[2016-01-09 14:03] ahmedshuhel commented on #49
Closing this one. I don't think it's a `aurelia-bundler` issue. Please consider raising a new issue if you think otherwise.

[2016-01-09 14:03] #49 closed

[2016-01-09 15:02] EisenbergEffect commented on #55
@ahmedshuhel We should get in touch with @guybedford and ask why the serialization is that way. If he's using some 3rd party library to do that, we should use the same lib. But if that's somehow unintended, maybe we can all just use the standard stringify api.

[2016-01-09 15:10] Jak3b0 commented on #54
On my machine, aurelia-bundler is installed from [npm](https://www.npmjs.com/package/aurelia-bundler) and the file/line I'm talking about is [this one](https://github.com/aurelia/bundler/blob/master/dist/config-serializer.js#L25).

[2016-01-09 15:13] ahmedshuhel commented on #55
He is using something he wrote in `jspm`. I believe there is no third party library involved. I will raise an issue in jspm.

[2016-01-09 15:16] ahmedshuhel commented on #54
What is your node and npm version?

[2016-01-09 15:17] Jak3b0 commented on #54
Node is at 0.12.2 and npm is at 2.7.4.

[2016-01-09 15:23] ahmedshuhel commented on #54
This may be the issue. I am on `node v5`. I will try that. Probably need a version manager.  @EisenbergEffect what is oldest version of node we should support.

[2016-01-09 15:25] ahmedshuhel commented on #54
@Jak3b0 Can you try after updating node to v4/v5. This will greatly help isolating the issue.

[2016-01-09 15:27] Jak3b0 commented on #54
Hum.. I might be missing something here.. I have the version 5.3 installed on Windows (Windows Installer) but when I do `node -v` in a command prompt, I get the version 0.12.2...

[2016-01-09 15:36] Jak3b0 commented on #54
I think the version was messup because of the order of the directories in my PATH variable. Visual Studio 2015 has it's own version of node if I'm not mistaken. I corrected the PATH and installed the version 5.4 and I still have the issue.

[2016-01-09 15:40] ahmedshuhel commented on #55
Here is the issue I raised. https://github.com/jspm/jspm-cli/issues/1407

[2016-01-09 15:42] ahmedshuhel commented on #54
If it is not a private project, can you share the github link?

[2016-01-09 15:46] Jak3b0 commented on #54
Ok, I got it fixed. In Visual Studio, there is another option for the location of external tools (like node). This is a list of locations to search for those tool. My "PATH" location was after the one of Microsoft.

All is working now :)

[2016-01-09 16:34] ahmedshuhel opened #58 "Run `unbundle` before bundling."
It is almost always a good practice to run unbundle before bundling. The existing bundle injection and depCache should be cleared from config.js.

[2016-01-09 16:36] #54 closed

[2016-01-09 17:24] ahmedshuhel commented on #24
@EisenbergEffect I would to talk about removing this feature from `aurelia-bundler`.

The only reason we had implemented this feature was the fact that when defining bundle configuration we  some time have to specify `full_module_name@verson`. This is a bit problematic because it lead us to update bundle config every time the corresponding module/lib gets updated.

However, there is a very easy wa

[2016-01-09 17:26] EisenbergEffect commented on #24
@ahmedshuhel I don't want to duplicate the map config in the bundle config. Can we just read that from the config.js file?

[2016-01-10 15:34] GoldenCrystal opened #59 "Configuration serialization does not work"
I'm having a hard time making bundle tasks from https://github.com/aurelia/skeleton-navigation work on my system, so I decided to upgrade to aurelia-bundler 0.2.1.
After that, when running "gulp bundle" or "gulp unbundle" I got this error:
[code]
This seems to come from [bundler/lib/config-serializer.js:16](https://github.com/aurelia/bundler/blob/a95f1f925206f4978786fc8decf9a6f71d330f2a/lib/config

[2016-01-10 17:57] ahmedshuhel commented on #59
We had a similar [issue here](https://github.com/aurelia/bundler/issues/54). Try these things first and let us know again.

[2016-01-10 18:03] EisenbergEffect commented on #59
If this turns out to be a recurring issue we may need to add a note to the
docs. It's basically a node version issue right?
On Jan 10, 2016 12:57 PM, "Shuhel Ahmed" <notifications@github.com> wrote:

[2016-01-10 18:09] GoldenCrystal commented on #59
It seems I was indeed running a very old version of node… Updating it to the latest version seems to solve the problem :)
Thanks !

[2016-01-10 18:31] #59 closed

[2016-01-10 18:44] GoldenCrystal opened #60 "The bundler mangles the baseURL ?"
I'm using a setup similar to the one from aurelia/skeleton-navigation for ASP.NET 5 + TypeScript.
Thus, my destination URL is "wwwroot", and I only made a few changes compared to the template.

After migrating to aurelia-bundler 0.2.1, I used the following config for the bundle task:
[code]
When running the gulp bundle task, I got this weir error:
[code]
In my previous attempts, the \t\ part was n

[2016-01-11 07:00] ahmedshuhel commented on #59
@EisenbergEffect Yes. It's a version issue. We need to know the oldest node version that works and then we can add it to doc. Or, we can say, "Please use the latest version of NodeJS"

[2016-01-11 07:10] ahmedshuhel commented on #60
Thank you for reporting with detail information. We are working on it

[2016-01-11 13:12] ggrimbert commented on #24
Below is my bundle.js

[code]

and the config.js
[code]

Tell me if you need anything else.

[2016-01-11 14:17] EisenbergEffect commented on #59
How best can we determine the oldest version that works?

[2016-01-11 14:55] AStoker commented on #56
Sure thing, I'll get that right up.

[2016-01-11 15:22] AStoker commented on #56
@ahmedshuhel: https://github.com/AStoker/aurelia-bundling-broken

[2016-01-11 15:23] JeroenVinke commented on #56
could [this](https://github.com/aurelia/skeleton-navigation/issues/258#issuecomment-170573387) be the same issue?

[2016-01-11 16:22] AStoker commented on #56
@JeroenVinke, no, that appears to be a separate issue. This issue doesn't even get past the bundling, so you can't run the bundled site. The errors are different as well, and only reproducible in the ^0.2.0 version.

[2016-01-11 17:03] ahmedshuhel commented on #24
@ggrimbert Thank you. @EisenbergEffect Could you please elaborate a little bit?

[2016-01-11 17:20] ahmedshuhel commented on #59
I believe v4 will work. I am running v5 on my machine currently. The problem is with the `vm` module. That got some changes in the last few versions of node. I will probably need to set `nvm` and try a few version myself.

Raising an issue for that,

[2016-01-11 17:31] ahmedshuhel opened #61 "Find the oldest version of node that bundler supports"
Reference issue #59

[2016-01-11 18:02] ahmedshuhel commented on #55
The issue is fixed on the `development` branch. Will be included in the next release.

[2016-01-12 15:50] PWKad opened #62 "Add ability to specify output directory"
Currently here - https://github.com/aurelia/bundler/blob/master/lib/bundler.js

I think we assume `src` and `dist` are in the same directory which is not always the case, such as in the new skeletons for asp.net 5 - https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-asp.net5/src/skeleton-navigation-typescript-vs

Is there a configuration option (or can we add one) to fi

[2016-01-12 16:56] ahmedshuhel commented on #62
We only assume `dist` is within `baseURL`. They may be in different folder. This is how we specify the output directory:

[code]

We can specify another folder such as `another/app-build` as long as `another` folder lives within `baseURL`.

[2016-01-12 19:17] PWKad commented on #62
Ah good point thanks sorry forgot about >.<

[2016-01-12 19:17] #62 closed

[2016-01-12 20:16] CasiOo opened #64 "Add support for user defined file encoding"
Currently only UTF-8 is supported for any kind of file bundling.
My suggestion is to let the user override the default UTF-8 setting, and let them define it themselves.

There are always some people who won't be using UTF-8, and they are often overlooked. UTF-8 should be the encoding that most will be using, but lets not make it any more difficult for people who for whatever reason cannot use UTF-

[2016-01-13 07:26] riddla commented on #41
I faced this issue, too.
Maybe the `writeOutput` function at https://github.com/aurelia/bundler/blob/master/lib/bundler.js#L46 could borrow some logic from https://github.com/systemjs/builder/blob/master/lib/output.js#L114, e.g. creating the directory if neccessary?

[2016-01-13 12:26] Souldrinker opened #65 "Bundles ignored with recent jspm versions"
It seems there might have been some breaking changes between jspm 0.16.19 and 0.16.20 that makes the bundler not work.

When I upgraded to jspm 0.16.20 and did a jspm update all packages where re-installed and when I rebuild my bundles after that they still seem to look the same. At least they have the same size and the config.js looks the same, which maybe isn't strange since aurelia-bundler 0.2.

[2016-01-13 14:12] altenstedt commented on #65
I can confirm that fixing JSPM to version 0.16.19 will solve the issue.

[2016-01-15 19:19] masterpoi commented on #60
writeOutput uses fromFileUrl which removes the first 7/8 chars, since baseUrl in not a file url: https://github.com/aurelia/bundler/blob/master/lib/bundler.js#L47

[2016-01-17 18:25] #53 closed

[2016-01-17 18:33] ahmedshuhel commented on #65
We have a new release for bundler [v0.3.0](https://github.com/aurelia/bundler/tree/0.3.0). We now need to add `[*.js]` explicitly in the bundle config. Please install this version and let us know.

[2016-01-17 18:34] ahmedshuhel commented on #56
We have a new release for bundler [v0.3.0](https://github.com/aurelia/bundler/tree/0.3.0). We now need to add `[*.js]` explicitly in the bundle config. Please install this version and let us know.

[2016-01-17 18:35] ahmedshuhel commented on #57
We have a new release for bundler [v0.3.0](https://github.com/aurelia/bundler/tree/0.3.0). We now need to add `[*.js]` explicitly in the bundle config. Please install this version and let us know.

[2016-01-17 18:35] ahmedshuhel commented on #60
We have a new release for bundler [v0.3.0](https://github.com/aurelia/bundler/tree/0.3.0). We now need to add `[*.js]` explicitly in the bundle config. Please install this version and let us know.

[2016-01-18 12:29] Souldrinker commented on #65
yes, with 0.3.0 after adding brackets around the .js paths in my bundle.js it seems to work fine with jspm 0.16.23 :-)

[2016-01-18 12:47] masterpoi commented on #60
I can confirm this to be fixed

[2016-01-18 14:08] ahmedshuhel commented on #60
Great!

[2016-01-18 14:08] #60 closed

[2016-01-18 14:09] #65 closed

[2016-01-18 18:40] oswaldomilet opened #66 "Error on fetch for dist/app.html at file:///C:/.../dist/dist/app.html.js"
When I try to gulp bundle, I get this error:

[code]

* Using asp.net 5 typescript skeleton

[2016-01-18 19:23] GoldenCrystal commented on #60
I confirm this on my side too :)
Thanks !

[2016-01-19 00:26] seanlloydbooth commented on #66
May not be the same issue, but I got the same error when upgrading aurelia-router to 0.3.0 (from 0.2.1). After rolling back and bundling, everything worked fine.

[2016-01-19 13:14] zenvisuals commented on #66
I got the same issue and traced the problem to the bundle.js file in the build/tasks directory.

Make sure to have the lines below
[code]

In my includes variable, I had [*] changed to [*.js] then it worked.

It then ran bundle fine but I have another issue which I will open a new ticket for.

[2016-01-19 13:30] zenvisuals opened #67 "Bundle not modifying config or injecting bundled .js into my application"
Hi,

I ran gulp serve and then gulp bundle. It created a bundle called app-build.js and aurelia.js.

However when I reload the browser, it's still calling same amount of requests to get all the libraries and not the bundle.

Config.js seems untouched as well

Here is my bundle.js file
[code]
and bundles.json file
[code]
What could have went wrong?

Thanks

[2016-01-20 08:43] BBosman opened #68 "Updating from 0.2.1 to 0.3.0 breaks my bundling"
After updating to version `0.3.0` of `aurelia-bundler` my bundling task is broken. As to make sure it wasn't something on my end I made a small repro based on `aurelia-skeleton-navigation` which can be found at https://github.com/BBosman/skeleton-navigation/tree/toastr

Base setup:
* Execute these commands:
[code]
* Add `”buildCSS": false,` to config.js
* Add `”toastr”,` to bundles.json
* Add `imp

[2016-01-20 13:42] EisenbergEffect commented on #68
@ahmedshuhel Can you look at this?

[2016-01-21 09:33] balazsmeszegeto commented on #68
This is exactly what happened to me. Apparently, all css imports (marked with <code>.css!</code>) will have similar result. From the error message, I suspect it is being treated as <em>.js</em>

[2016-01-22 07:08] bischofb opened #69 "How to run from the non-dist folder?"
Now that I have the ES 2106 skeleton running with gulp minifying everything into the dist folder, how do I make it run on my dev machine by referencing the src folder? It's impossible to debug after running it through gulp. I tried modifying config.js to point to "src" instead of "dist" but it still looks for the aurelia-xxx.js file instead of the non-bundled files. Hopefully there is an easy way

[2016-01-22 08:16] fopsdev commented on #69
if you've used gulp bundle you may use gulp unbundle to reverse it

[2016-01-22 14:52] ahmedshuhel commented on #69
@bischofb `gulp build` does not run bundle task. Did you "bundle" the app? `skeleton-navigation` is setup in a way that it will always run from the `dist` folder instead of `src`.

[2016-01-22 15:02] ahmedshuhel commented on #68
@BBosman I just cloned your app and run `gulp bundle`. Everything just works! My guess is you have older version of `systemjs` installed. Try updating `SystemJS` with `jspm dl-loader` to the latest version. @balazsmeszegeto I believe updating SystemJS will fix your problem too.

@EisenbergEffect `config.js` or `package.json` does not contain the version info of `SystemJS` unlike every other depend

[2016-01-22 15:08] ahmedshuhel commented on #67
update `SystemJS` with `jspm dl-loader`. update bundler to `v0.3.0` and finally change `[*]` to `[*.js]` in the bundle config above.

[2016-01-22 15:11] ahmedshuhel commented on #66
In addition to the above suggestion you may also need to update `SystemJS` to the latest version.

[2016-01-22 15:23] BBosman commented on #68
`jspm dl-loader` gives:
[code]

Then running `gulp bundle` still gives the same error as above.

[2016-01-22 15:27] ahmedshuhel commented on #68
Strange. It's `skeleton-es2016`, right? Can you just clone it somewhere else and try npm install and jspm install and then see?

[2016-01-22 15:40] activebiz commented on #68
+1 We are having same issue ... In the import we use ..

`import "bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css!";`

which works fine when running the app but when we do the bundling it doesnt work.

if we do

`import "bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css!text";`

then it works find with bundling but doesnt work with running app in dev.

:(

[2016-01-22 15:43] ahmedshuhel commented on #68
@activebiz This is not the same issue. @EisenbergEffect [here explained this behavior](https://github.com/aurelia/bundler/issues/50)

[2016-01-22 17:12] BBosman commented on #68
Just cloned https://github.com/BBosman/skeleton-navigation/ to another machine. Using my clean home Windows machine (versus my work Mac I used previously).

Switched to the `toastr` branch
Ran `npm install`.
Ran `jspm install`.
Ran `gulp bundle`.

Unfortunately it gives the same error.

Ran `jspm dl-loader`.
Ran `gulp bundle`.

Still the same error.

Some version numbers from my Mac in case it hel

[2016-01-22 17:23] ahmedshuhel commented on #68
I did not try the `toastr` branch. I tried the master branch and it worked. Let me try it.

[2016-01-22 19:02] ahmedshuhel commented on #68
@BBosman @activebiz Apologies guys. It's a bug. I pushed a patch release `(0.3.1)`. Hope it will fix the issue. @BBosman You don't have to set `buildCSS: false`.

[2016-01-22 20:14] BBosman commented on #68
Thank you very much. That fixed it. :+1:

And I know I don't normally need to set `buildCSS: false`, but without it I get another error during bundling:
`[20:58:57] Error: Install Clean CSS via 'jspm install npm:clean-css --dev' for CSS build support. Set System.buildCSS = false to skip CSS builds.`

Installing `clean-css` fixes that, so I didn't consider it an issue and to keep the repro case cle

[2016-01-22 20:14] #68 closed

[2016-01-22 21:55] AStoker commented on #56
@ahmedshuhel, this particular issue seems to be resolved. However, it now appears that the bundled files don't get used (file request count is the same before and after bundling). Issue seems related to https://github.com/aurelia/bundler/issues/67, with the exception that my config.js is being modified (and looks correct). I'll close this issue now. Thanks.

[2016-01-22 21:55] #56 closed

[2016-01-22 21:57] AStoker commented on #67
I have a similar issue. I have the most recent version of SystemJS (`0.19.17`), am running `v0.3.1` of the bundler, and have changed the `[*]` to `[*.js]`, but still have the same file count requests.
My config and gulp process is as follows:
[code]

[2016-01-22 22:02] AStoker commented on #67
I thought I had this same issue a second ago (hence the link), however it was a stupid mistake on my end (I was loading up the wrong index file... yah...). There's always those pesky little errors that require what we call in the office 'stupid checks'. Can you confirm that you are actually loading up the same index file that you're using in the bundled project?
Also, have you tried unbundling, cl

[2016-01-23 16:39] activebiz commented on #68
That's great & swift , it has fixed the issue :)

[2016-01-23 21:51] oswaldomilet commented on #66
Thanks @zenvisuals it worked!

See https://github.com/aurelia/documentation/issues/184

[2016-01-23 21:51] #66 closed

[2016-01-25 11:14] Leonidnei commented on #29
Have you found a way around this?

We have one version of core-js but still adding 'core-js' to bundle.js does not help.

[2016-01-25 12:42] jithinoj commented on #29
I have removed the npm:core-js@0.9.18 from config js, and modified the references to point to  npm:core-js@1.2.3. But, script files from "fn" and "module" directories inside "core-js" are still loaded in the browser under jspm_packages

[2016-01-27 07:27] ggrimbert commented on #24
Hi,

With the last version of the package, the bug disappear and I now can bundle my app. So thanks for correcting that.

By the way, can you provide somewhere a more sophisticated docto explain how to bundle a theme ?

[2016-01-27 14:15] ggrimbert opened #71 "Html file not called"
Hi,

I am experiencing some troubles using the bundler task.

My bundle task is defined like this :
[code]

The problem is that the view-bundle file is correctly created but it is never used by the app. At each time I launch my app, It tries to load every view from its file and not the view-bundle one.

In addition to this, I've got another problem, but I don't if you're in charge of that.
I call

[2016-01-28 14:41] moay opened #72 "Bundling doesn't work at all"
Hey guys,

maybe I'm just beeing dumb, but I can't get bundling to work at all. Here's what I do:

First, I updated SystemJS to v0.19.17 using `jspm dl-loader`. I then updated the bundler to v0.3.1 using node. After that, I ran into issue #66 which I got solved. Bundling should be working fine and there are no errors when I run `gulp bundle`. There is a lot of stuff, that is built in the `dist` fo

[2016-01-28 23:19] davismj commented on #72
Can you share your output. Otherwise, we can't determine what's going wrong for you. Thanks.

[2016-01-28 23:41] davismj commented on #50
@EisenbergEffect So this works for all but one use case: I'm using bootstrap and I have multiple roots. I would like bootstrap to get bundled with the rest of the css and javascript, but there's no HTML for me to `<require>` it in that will affect all roots.

Thoughts?

[2016-01-28 23:45] EisenbergEffect commented on #50
Yeah...you would need to use the css plugin in your main.js for that or include it separately in your html.

[2016-01-29 09:32] ggrimbert commented on #24
Hi,

Quick update, my problems are solved, but only if I let the version number in my bundle.js.
So, is there any way to remove those, or are you planned to do it ?

[2016-01-29 13:03] moay commented on #72
Sorry. I can of course share any output you need... which part is interesting?

In the console, there are some debugging infos, the "Network" tab of the DevTools shows 493 XHR requests with the unbundled version (!!) and 35 XHR requests with the bundled one.

I made a screenshot of the both the Network tab and the Console output of the **bundled** version:

- Network-Tab: http://grab.by/NIKU
- Con

[2016-01-31 02:32] oswaldomilet opened #73 "Is image loader available?"
Can I create an image bundle like this?

[code]

[2016-02-01 08:51] moay commented on #72
So, I did some tests now. And I read the SystemJS documentation... ;-) As far as I can see, it's just not working properly. SystemJS still loads the modules from their raw files from either the dist folder or - in some cases - even from the src folder. This is completely indepentent from changes I make to my bundle configuration (minifying or not, injecting or not, and so on).

One strange thing I

[2016-02-01 12:41] moay commented on #72
Okay now. Trying to help me out by myself... ;-) Getting closer.

I found a blog post, where it states `"[*/**/*.js]"` as a useful wildcard for subdirectories. I tried to add that, and it changes something. The system loader does now look for the subfolders in `dist/src/subfolder/...`. It can't find them there, because they are built in the correct place (`dist/subfolder/...`) - how to make it loo

[2016-02-01 15:49] davismj commented on #72
Um. Before you do anything else try what I've described here:

http://www.foursails.co/blog/aurelia-bundling/

[2016-02-01 15:51] moay commented on #72
Thanks, I'll try that tomorrow!

[2016-02-02 14:26] jithinoj opened #74 "After bundling dependencies are loading from jspm packages."
After bundling the aurelia application, some packages are loading under jspm_packages directory. These packages are already included in aurelia bundler, but if the package is listed as a dependency, then it is loaded from the jspm_packages directory.

But still the application works as long as the "jspm_packages" is available.

Please suggest a solution for this.

[2016-02-04 22:08] rhassler1 opened #75 "Bundler error"
I get the following error when I try to bundle. I noticed that there is a ctx variable in function readConfig that is never used. Is this causing my problem?

[code]

[2016-02-05 13:18] TommyRush commented on #75
Maybe your version of node is too old. I got the same kind of error yesterday and found the solution: https://github.com/aurelia/bundler/issues/54

[2016-02-07 16:05] devteamexpress opened #76 "Hosting bundles on external source"
I generated two bundle files and attempted to deploy them on Amazon S3. I modified the config.js file to point to the location but i was hit with a cors exception. Even after enabling cors support on my bucket it still failed presumably because it doesn't send the necessary cors request headers.

[2016-02-07 16:15] Gheoan commented on #76
In `index.html` use `system-csp-production.js` instead of `system.js`

[2016-02-07 16:28] devteamexpress commented on #76
Seems to work but now i get an error babelHelpers is not defined any ideas?

[2016-02-10 23:21] davidbfrogman opened #77 "Bundled App breaks with error : Inject is not a function"
I've clearly broken something and I don't understand what. This is an error I only get on a bundled application. If it's not bundled it works just fine.
Here's the code that breaks:
[code]
With the error: `Unhandled promise rejection Error: inject is not a function`

If I change the code to :
[code]

I don't get the error. However I can't go through my entire application and easily change the way

[2016-02-10 23:49] beeker commented on #77
Is this caused by using Babel 6 rather than Babel 5?

[2016-02-11 17:25] brettveenstra commented on #21
solution for now was to install using overrides:

`jspm install jquery -f -o "{ directories: { 'lib': 'dist' }, main: 'jquery.min', format: 'amd' }"`

then reference:

`import * as jQuery from 'jquery';`

---

example using a jQuery plugin:

`jspm install bootstrap-switch=npm:bootstrap-switch -f -o "{ directories: { 'lib': 'dist'}, main: 'lib/bootstrap-switch', format: 'global' }"`

then:
`import

[2016-02-11 21:13] davidbfrogman commented on #77
So I have at least more details.  I have a working repository with version 0.1.9.  However when I upgrade to version 0.3.1 it breaks.

You can take a look at my working code base here:
https://github.com/davidbfrogman/DBPHeroku

I can upgrade, and downgrade, and get very reproducible results.

0.1.9 works.
0.3.1 breaks.

[2016-02-11 21:15] davidbfrogman commented on #77
if I run npm install aurelia-bundler --save
is there anything else I need to be aware of?  Like are there other components (jspm, system.js etc) that I need to upgrade as well?  As many details as possible would really help.

Thanks in advance.

[2016-02-11 23:19] davidbfrogman commented on #77
After a lot more struggling.  I made a bunch of changes, but the one thing that seemed to work was ""depCache": false,"

I honestly have no idea why that 'fixed' it.  Maybe I don't understand what that flag does.

[2016-02-11 23:19] #77 closed

[2016-02-15 09:54] riddla commented on #71
@ggrimbert: I just had success bundling the `aurelia-dialog` assets following the instruction giving by @michaelmalonenz over at https://github.com/aurelia/bundler/issues/17#issuecomment-148538045:

[code]

[2016-02-15 13:30] nexbit opened #79 "Bundling project that uses Typescript transpilation"
Hi

I have an app that uses typescript transpilation, using the following config.js:

[code]

Then my gulp task uses the following config when calling the bundler:

[code]

And the bundling task produces the following error:

[code]

First question is: aurelia-bundler is able to bundle projects that uses transpilation, without first compiling them with tsc?
I'm pretty sure JSPM bundler supports th

[2016-02-16 09:51] nexbit commented on #79
For anyone interested, I opted for a solution that should work now and in the future..

Basically it involves a custom gulp pipeline that transpile the project from TS to JS, transforms the original config.js in a new config.dist.js that doesn't have transpilation, and feeds it to aurelia bundler.
The result is that I can continue developing with on the fly transpilation, and bundle everything aut

[2016-02-16 10:24] fopsdev commented on #79
definitely a good idea. and for users using atom like me (or more generally, users using an ide which compiles already to js) we could use the compiled .js files then directly form the src dirs and feed them into the bundler ( i could try that then, never touched gulp scripts so far so that would be a great start i think)

[2016-02-16 17:47] shanonvl commented on #29
I'm experiencing exactly the same issue here... I can manually map to fix in the short term.  @ahmedshuhel, any other ideas here?

[2016-02-17 12:34] stefan505 commented on #42
Any progress on this?

[2016-02-18 14:08] ahmedshuhel commented on #77
@EisenbergEffect Could it be a `decorator` problem? I will take a look at his repo. Have we upgraded bable that supports `decorator`?

[2016-02-18 14:21] EisenbergEffect commented on #77
We haven't updated Babel yet. We are still waiting on some dependencies that need to be updated to Babel 6.

[2016-02-18 15:34] ahmedshuhel commented on #77
So we don't support decorator like `@inject` here. Is that a correct statement?

[2016-02-18 15:35] ahmedshuhel commented on #77
I have to investigate why setting `depCache` to false solves the problem.

[2016-02-19 16:13] RomkeVdMeulen opened #80 "How to integrate with Java web project"
I'm trying to integrate Aurelia with an existing Java web project. The project structure is:

[code]

I've written all the frontend config files to `web`, including the gulpfile. Now I'm trying to have the bundle built to `../build/web/mybundle.js`, even though after deployment it should be loaded from `/mybundle.js`.

I can't find full documentation for aurelia-bundler, just a README and a tutori

[2016-02-20 00:09] heruan commented on #29
Same here, `core-js` gets requested outside the bundle and network requests rise. Should I explicitly put `core-js` in the bundle definition or not?

[2016-02-20 10:42] heruan commented on #30
I have a question regarding this issue: take for example the `aurelia-dialog` plugin, I bundle it with:
[code]
Is it correct? But I still get view files like `ai-dialog.html`, `ai-dialog-header.html`, etc. loaded from `jspm_packages`. How can I tell the bundler to bundle all plugin dependencies?

[2016-02-20 11:47] heruan commented on #30
Nevemind, found how to include them:
[code]

[2016-02-20 14:50] #30 closed

[2016-02-20 14:56] ahmedshuhel commented on #46
We think this should be fixed in the recent version. All the html/css bundling mechanism been changed and we believe it's working as expected. Please raise a separate issue with a concreted repo having this defect(you are having) so that we can track this down. Thank you.

[2016-02-20 14:56] #46 closed

[2016-02-20 14:59] ahmedshuhel commented on #18
Ideally we want `bundler.bundle('main.js', 'outfile.js', options)`. We are constantly looking for ways to do that.

[2016-02-20 15:08] ahmedshuhel commented on #80
It's hard to tell exactly what you need from the directory structure without information like:
- How you installed and configured the `app` with jspm.
- Where is the `config,js` file.
- What is the `baseURL`
- What is the `wwwroot`

I tend to develop the app first with the `Mock` data without any server side mechanism in place(in case of SPA), And, then I integrate with server side. This way I fin

[2016-02-20 15:08] #80 closed

[2016-02-20 15:13] ahmedshuhel commented on #79
@nexbit This is exactly how our skeleton-typescript project is setup. I am adding this to backlog and see if we can skip intermediate transpilation and directly bundle the typescript app with `aurelia-bundler`. Thanks!

[2016-02-20 15:24] ahmedshuhel commented on #75
I believe @TommyRush is right about it. Please follow the instructions we have in #54 and you will find the solution. If not raise another issue.

[2016-02-20 15:24] #75 closed

[2016-02-20 15:26] ahmedshuhel commented on #74
My guess is you have not injected the bundle in `config.js` file. Check that again and let us know.

[2016-02-20 15:35] ahmedshuhel commented on #73
There is a image plugin for systemjs here https://github.com/systemjs/plugin-image You can try it in your app and bundler should work.  Your configuration looks OK to me. Before using that though you have to install the plugin like: `jspm install image`.

On a side note, It seems a bit odd to try load and use all the images with systemjs (images/**/*). IMHO, specific images may make sense to be us

[2016-02-20 15:35] #73 closed

[2016-02-20 15:39] #69 closed

[2016-02-20 15:43] ahmedshuhel commented on #32
This is how we bundle the plugin's asset(html/css)

'``javascript
{
    "dist-aurelia": {
        "includes": [
            "aurelia-dialog",
            "aurelia-dialog/*.css!text",
            "aurelia-dialog/*.html!text"
        ]
    }
}
[code]

[2016-02-20 15:43] #32 closed

[2016-02-20 15:47] ahmedshuhel commented on #29
@EisenbergEffect We have removed `core-js` to `shim` dependency lately. Any  input/pointer you can give me to track this issue better and quicker would be great.

[2016-02-20 15:48] ahmedshuhel commented on #72
@moay Is there any update on this?

[2016-02-20 15:49] ahmedshuhel commented on #76
@EisenbergEffect @devteamexpress Any way I can reproduce this on my local machine?

[2016-02-20 15:51] ahmedshuhel commented on #41
I believe it's fixed here https://github.com/aurelia/bundler/blob/master/lib/bundler.js#L147

[2016-02-20 15:51] #41 closed

[2016-02-20 15:59] ahmedshuhel commented on #35
@jeremy-holt From the picture I can see it's loading application assets from `app-bundle`. SystemJS is loading all the aurelia libs because you have commented out the `dist/aurelia-bundle`. Try uncommenting  both the configuration and run the task again. It should work. Let us know if you have any further issue.

[2016-02-20 15:59] #35 closed

[2016-02-20 16:02] ahmedshuhel commented on #71
@ggrimbert we don't have `packagePath: '.'` in the config anymore. What version of the bundler are you using. Please use the latest one (v0.3.1). Regarding the plugins, try what @riddla says. Report back if that does not solve your problem. Thank you.

[2016-02-20 16:02] #71 closed

[2016-02-20 16:04] nexbit commented on #79
@ahmedshuhel Unfortunately it's not exactly the setup I use for my projects..
The skeleton app transpiles TS files to JS even during debug sessions (when watching changes), and you lose the benefit of debugging TS code directly inside the browser.

With my setup I watch changes on src folder and build styles and other assets on the fly during watch, copying files to an intermediate folder that I s

[2016-02-20 16:04] ahmedshuhel commented on #67
Closing this one. @zenvisuals If you still have the problem feel free to raise a new issue. Thanks.

[2016-02-20 16:05] #67 closed

[2016-02-20 16:14] ahmedshuhel commented on #34
Most of the issues been already addressed. Regarding multiple bundles, we always have to exclude/include modules carefully so that no duplicate gets added. This is mentioned in our [documentation here](Duplicate Modules in Multiple Bundles) in "Duplicate Modules in Multiple Bundles".

We are thinking of ways to make the bundling and discovering dependencies easier.  We hope to come up with somethi

[2016-02-20 16:14] #34 closed

[2016-02-20 16:17] ahmedshuhel commented on #40
Sorry for the trouble you have gone through. We have included this in our documentation. Basically, Build -> Bundle -> Deploy is the workflow we tend to follow.

[2016-02-20 16:17] #40 closed

[2016-02-20 16:24] ahmedshuhel commented on #48
@LivesleyWA Have you figured it out or you still have this issue? Sorry for the late reply. I will look into it based on your current status.

[2016-02-20 16:26] ahmedshuhel commented on #44
@sergidt Could you please create a github repo with this issue so that I can inspect it better.

[2016-02-20 16:35] ahmedshuhel commented on #79
So, the ideal solution would be to bundle the app with `.ts` file directly without any intermediate transpilation(extarnal via Gulp etc), right? I believe that is what we should aim for.

As systemjs can handle `ts` files so we get the development experience without any sort of watch setup that transpiles and hinder ts debugging.

If you think I understood the problem could you please close this i

[2016-02-20 16:38] EisenbergEffect commented on #79
I don't understand the issue. We don't want to bundle TS. In browser
compilation is not something that should be used in production.
On Feb 20, 2016 11:35 AM, "Shuhel Ahmed" <notifications@github.com> wrote:

[2016-02-20 16:44] ahmedshuhel commented on #79
The bundler will compile the `ts` files into javascript. During development the user wants use ts directly and want to use systemjs to transpile on the fly to get the debugging experience better and not want to have any `watch` setup to convert ts to javascript and then load in the browser.

Currently bundler  transpiles and bundles js files only. Bundler needs to support transpiling ts files too.

[2016-02-20 16:50] EisenbergEffect commented on #79
Since when has the bundler done transpilation? It should not do
transpilation, only bundling. There are other tools for transpilation and
the developer should have their choice there.
On Feb 20, 2016 11:44 AM, "Shuhel Ahmed" <notifications@github.com> wrote:

[2016-02-20 17:01] nexbit commented on #79
@ahmedshuhel That's the point..

@EisenbergEffect  No one should never deploy TS files in production, but debugging TS files in the browser is handy, and you can even set breakpoints and watch variables directly on TS code. When you want to see the actual JS code, you have the transpiled JS at handy with the name `myscript.ts!transpiled` loaded side-by-side. Actually I can no longer live without i

[2016-02-20 17:01] #79 closed

[2016-02-20 17:02] ahmedshuhel commented on #79
@EisenbergEffect May be I am unable to explain it better. Please allow me to create two repos (with `es2016` and `ts`) and then try again.

[2016-02-20 17:14] EisenbergEffect commented on #79
@nexbit I've been debugging es2015 and TS in the browser for a long time now. Source maps will make that possible. What does bundling have to do with that?

[2016-02-20 17:24] nexbit commented on #79
@EisenbergEffect For reference, I'm pasting here an excerpt from JSPM guide (under bundling section), that briefly explains the `translate` hook that is part of the bundling process. It basically permits transpiler plugins to be called during bundling, to perform *your language*->JS compilation without the need of doing it before.

What aurelia-bundler do now is *illegal* from the JSPM point of vi

[2016-02-20 17:32] EisenbergEffect commented on #79
It's fine to have hooks for plugging in transpilation during the bundling process. I believe we talked about that and wanted that. I just don't want our bundler to have a direct dependency on Babel or TypeScript and attempt to rebuild functionality already provided by other tools at this time. It should bundle only, but provide a standard set of hooks so others can plug in behavior that they want.

[2016-02-20 17:33] EisenbergEffect commented on #79
Oh...and after we switch away from jspm/system.js we still need our existing bundler to work with jspm/system.js projects. So, we need to do all work in such a way as to support the existing workflow as well as a new workflow that we want to build in the future.

[2016-02-20 17:35] ahmedshuhel commented on #79
Got it. I will keep it in mind. I will also discuss in details about the whole process and where we are standing now as long as the bundler implementation is concern.

[2016-02-20 17:42] nexbit commented on #79
@EisenbergEffect @ahmedshuhel Well, given that currently aurelia-bundler relies on systemjs-builder to do the actual work, I think you have to rewrite everything from scratch if you really want to abandon SystemJS..

@EisenbergEffect I agree with you on JSPM, as it's too fragile in its current implementation, but abandoning SystemJS... What's the point? I know you don't have good relations with An

[2016-02-20 17:46] LivesleyWA commented on #48
Sadly no, although your response is timely since I now have a bit more time. Any help would be gratefully received.

Sent from my iPad

On Feb 20, 2016, at 08:25, Shuhel Ahmed <notifications@github.com<mailto:notifications@github.com>> wrote:

@LivesleyWA<https://github.com/LivesleyWA> Have you figured it out or you still have this issue? Sorry for the late reply. I will look into it based on your

[2016-02-20 17:54] nexbit commented on #79
PS: is there a poll or something to vote on SystemJS support? It is simply the best JS loader out there, and I'm not going to use anything else in my projects. If I can't use it with aurelia, I'm not going to use aurelia anymore...

[2016-02-20 17:57] EisenbergEffect commented on #79
I already explained, we aren't dropping support for that. We are just going to add a new default option built by the Aurelia team, that is based on standards and simpler/faster. We aren't dropping support for anything we support today. You can use it if you want.

[2016-02-20 18:03] nexbit commented on #79
:+1: got it!

then you should start working ASAP on a replacement for the systemjs-builder dependency in the bundler..

[2016-02-20 18:05] EisenbergEffect commented on #29
We are removing Aurelia's hard dependency on core-js, so that developers will be able to choose their own polyfill solution. We'll support aurelia-polyfill and core-js out of the box. The bundling needs to be configured to use core-js by simply including the module name. For those who are using core-js I would recommend that you install the jspm override for core-js so that it includes the library

[2016-02-20 18:05] #29 closed

[2016-02-20 18:07] EisenbergEffect commented on #79
We've got to do these things in "phases". We may be able to use the systemjs-builder with our own loader. If so, we'll keep that for now. Then we can build our own down the line. We don't want to remove support for jspm/system.js though...just provide another es6 module loader-based solution that we think will work better for our community.

[2016-02-20 18:10] EisenbergEffect commented on #76
@devteamexpress Are you compiling in the browser instead of ahead of time? I'm not sure why you would get a babel helpers error otherwise.

[2016-02-20 18:52] ahmedshuhel commented on #27
I think this is somehow linked to #63

[2016-02-20 20:39] ahmedshuhel commented on #79
@nexbit Here is two example Aurelia projects. One with plain `es2016` and other with `typescript` setup as we have discussed. I have also fixed the `bundler`(v0.3.2).
1. https://github.com/ahmedshuhel/aurora-ts
2. https://github.com/ahmedshuhel/aurora-es

These projects works without any intermediate transpilation by thirdparty tool like gulp etc during development time. So we get the debugging ex

[2016-02-20 21:09] #55 closed

[2016-02-20 21:10] #51 closed

[2016-02-20 21:10] #57 closed

[2016-02-21 00:09] devteamexpress commented on #76
I included babel helpers manually and everything works now fine. I am using JSPM version 0.16.25

[2016-02-21 00:42] #76 closed

[2016-02-21 02:28] Gheoan commented on #79
@ahmedshuhel, @nexbit How is browser transpilation debugging better than server transpilation? I'm using server transpiled Typescript with inline source maps and I get both .js and .ts files available for inspection in developer tools and breakpoints are set on the .ts file.

[2016-02-21 08:52] nexbit commented on #79
The watching experience.. With plugin-typescript I see compilation errors directly in the browser, and my watch task need only to copy the edited ts files without every time. It's just more convenient during dev/debugging, but it's a matter of preference..

[2016-02-21 09:53] ahmedshuhel opened #81 ""Bundle Aurelia typescript project""

[2016-02-21 09:53] #81 closed

[2016-02-21 14:13] ahmedshuhel commented on #79
@nexbit Let us know if the new bundler (v0.3.2) works for you without any intermediate setup.

[2016-02-21 19:42] nexbit commented on #79
@ahmedshuhel Tested 0.3.2 with both configurations (with and without pre-transpilation), and I can confirm it works flawlessly.
Thanks to all, keep up the good work!

[2016-02-21 23:40] ahmedshuhel commented on #79
Great! Thank you.

[2016-02-22 09:58] ggrimbert commented on #71
Quick update, I had some problems with the bundler (npm let the version at 0.1.8)
Now I am up to date, I removed the packagePath from the config file, and the "npm:" and the version number of the packages.

However, when I add
[code]
I am experiencing a problem

[code]
After setting traces into the file /systemjs-builder/lib/utils.js, I saw that systemjs needs files defined like this :
[code]
But

[2016-02-22 13:04] damianof opened #82 "Bundling outputs dist/app-bundle.js in config.js"
After bundling, I have to go manually remove the prefix dist/ and the .js extension from the bundles path in config.js from this:
bundles: {
    "dist/app-build.js": [
   ...

to this:
bundles: {
    "app-build": [
   ...

[2016-02-22 13:06] damianof opened #83 "Order of bundles or somehow be able to load some before others"
I apologize in advance in case there is a way to do this and this is not an issue.
However, my current problem is that some jQuery plugins are not working after bundling because they are included in the bundle before jQuery library itself. I tried to force it by changing the order in my gulp bundle.js file but it seems I'm not able to affect this.

[2016-02-22 13:37] StrahilKazlachev commented on #82
It's not a prefix, it' the path to the bundle that is provided to the bundler(where is generated).
But it would be nice if we can provide what path to be injected in the config(path different from that where the bundle is generated). My case: maven build process, all generated files go in the target folder, and in the pom.xml I have configuration what to include to the resources of the bundle(**.j

[2016-02-22 14:20] EisenbergEffect commented on #71
Module loaders can't load html or css directly. They require a plugin to load those. Aurelia uses the "text" plugin to load these resources, therefor when you bundle them you must indicate the plugin they are bundled with. This is explained in the docs here: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.3/doc/article/bundling-your-app-for-deploy/6

[2016-02-22 16:52] ahmedshuhel commented on #82
@damianof @StrahilKazlachev You should not need to do that. Bundler can automatically figure out what the `injection` bundle name from the output file/path. If the `baseURL`, `config.js` paths are correctly configured, it should just work. We need more info on this.

Better if you can point me to a Github Repo that reproduces the problem predictably. Are you using the latest version (v 0.3.2) with

[2016-02-22 16:55] ahmedshuhel commented on #83
It's more about how you configure jQuery and it's plugin deps with SystemJS. Re arranging position  in the bundle config will not make any difference. Look at these two sections and you will get the idea:

1. https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#meta
2. https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#packages

Thanks!

[2016-02-22 16:58] damianof commented on #83
Well, that is correct. I had to do that a long time ago to fix also when not bundling. The issue is now when I bundle.

[2016-02-22 17:02] ahmedshuhel commented on #83
Need some more info on the versions of the tools you are using:

1. NPM
2. Aurelia-Bundler
3. SystemJS
4. JSPM

I also need the `config.js` and `package.json`. Best if you could point me to a github repo.

[2016-02-22 21:12] StrahilKazlachev commented on #82
[code]
This is my project structure, the sources are in `./src/main/webapp`. But all generated files have to go in `./target/...`(can not use other folder) and from there are packaged in the **.jar**. `baseURL` is `myProj/` because I need `./target` in my `baseURL`. But afterwards when the **.jar** is build it has this structure:
[code]
So I use one `baseURL` build time and other runtime. That's w

[2016-02-22 22:54] ahmedshuhel commented on #82
This is more of a project structure issue. Is there any thing we can do to ease the pain of manually editing the injection name in `config.js` in scenarios like this?

Perhaps,  the `bundler` may always use a `specific injection name` supplied via `config,js` that overrides the bundle name generation internally.

Raise an separate  issue (close this one) if you think the above can solve/ease the p

[2016-02-23 03:31] JamesReate opened #84 "bundle fingerprinting for cache-busting"
Each time we run a bundle, it would be cool if the resulting bundles had a fingerprint, ie. random characters based on date, appended to the file name. This is a common practice for "fingerprinting" builds for cache-busting.

[2016-02-23 03:46] EisenbergEffect commented on #84
I believe we have that feature. @ahmedshuhel can you validate that?

[2016-02-23 03:54] JamesReate commented on #84
Was playing around with it and looks like setting the "rev" option to true adds a random code at the end of the bundle! Closing this one.

[2016-02-23 03:54] #84 closed

[2016-02-24 16:44] StrahilKazlachev opened #85 "Exclude external dependencies"
I may be doing this completely wrong to start with. So how should I map a "library" that is relative to the host and exclude it when bundling? This is my config:
In **config.js**
[code]
In **bundle config**
`"excludes": ["lib"]`
But I get the following error:
[code]

[2016-02-24 18:32] ahmedshuhel commented on #85
Is this file `'d:\github\aurelia\skeleton-navigation\skeleton-es2016\some-path\some-lib.js'` really exists in the file system?

[2016-02-24 20:06] StrahilKazlachev commented on #85
No it doesn't. By **external** I wanted to say that the file does not exist in the project/file system.
Finally managed to do it. If someone stumbles upon this use case:
In **config.js**
[code]
@ahmedshuhel As I get it this config option is systemjs builder specific. I hope when/if the bundler stops using systemjs builder this scenario will be supported in some way.

[2016-02-24 20:06] #85 closed

[2016-02-24 20:08] EisenbergEffect commented on #85
@StrahilKazlachev Perhaps you would be interested in making a PR to our bundler docs with a note on this? They are in the framework repo, doc folder.

@ahmedshuhel Please make a note about this. Any future solutions definitely need to account for this use case.

[2016-02-24 20:12] StrahilKazlachev commented on #85
@EisenbergEffect Will do, I'll try by the end of the week.

[2016-02-25 01:56] canadian-thackeray opened #86 "Bundling taking forever to finish (if at all), missing files when complete"
I recently updated aurelia-bundler. I went through and fixed errors that were similar to those already posted here, and now it finally runs without any errors popping up, however it takes at least 20 minutes to finish. The last two/three times I've attempted to run it it takes over 45 minutes and then I eventually give up.

When it does finish however, it doesn't include all of the files I need. I

[2016-02-25 02:18] EisenbergEffect commented on #86
Personally, I've never seen any behavior even remotely like this. The best way to help us solve these things is to try to provide a sample project so we can try out the bundling on it and see what is happening. @ahmedshuhel may have some additional thoughts.

[2016-02-25 17:12] canadian-thackeray commented on #86
this is my bundles.json
`{
  "bundles": {
    "dist/app-build": {
      "includes": [
        "*.html!text",
        "*.css!text",
		"[*.js]"
      ],
      "options": {
        "inject": true,
        "minify": true
      }
    },
    "dist/aurelia": {
      "includes": [
        "aurelia-framework",
        "aurelia-bootstrapper",
        "aurelia-fetch-client",
        "aurelia-router",

[2016-02-25 17:13] EisenbergEffect commented on #86
@ahmedshuhel Please review.

[2016-02-25 18:24] ahmedshuhel commented on #86
The config looks standard and OK to me. It should not take this long to bundle. There was [this issue](https://github.com/aurelia/bundler/issues/49) way back and I think it's more of gulp issue.

As @EisenbergEffect  mentioned we need something more than the `bundle config` to trace that. A sample project on github with this issue will be greatly appreciated.

[2016-02-25 18:42] ne0guille opened #87 "Bundling Error on instantiate for npm:aurelia-loader-default"
I'm having an issue on my build server when running the bundler, its working fine on my local enviroment but failing on the build server

Would love to here some suggestions of how can i fix this and why its happening.

Thanks!

here is the error log.

Error on instantiate for npm:aurelia-loader-default@1.0.0-beta.1.0.1/aurelia-loader-default.js at fileaurelia-loader-default@1.0.0-beta.1.0.1/aurel

[2016-02-25 18:49] canadian-thackeray commented on #86
It is probably more of a gulp issue, sorry about that! I also can't provide a sample app at this moment. I will try and look into it further on my own and let you know if I need any help (if I can provide a sample app as well).

[2016-02-25 19:11] PWKad commented on #87
Are you running traceur instead of babel?  Looks like you are doing on-the-fly tranpilation?

[2016-02-25 19:12] plaliberte commented on #87
We are running babel and get this exact same issue pointing to traceur regardless

[2016-02-25 19:20] ne0guille commented on #87
we are using babel, idk why its getting this traceur message.
here is the config
System.config({
  defaultJSExtensions: true,
  transpiler: "babel",
  babelOptions: {
    "modules": "system",
    "moduleIds": false,
    "comments": false,
    "compact": false,
    "stage": 2,
    "optional": [
      "es7.decorators",
      "es7.classProperties",
      "runtime"
    ]
  }

[2016-02-25 19:57] AlexanderDzhoganov commented on #87
I can confirm the same issue occurs here with loader `beta-1.1.2`.

Error log from `gulp bundle` (*xxx* inserted by me to mask out system paths):
[code]

[bundles.json](https://gist.github.com/AlexanderDzhoganov/59a568c3bc59d3587316)
[config.js](https://gist.github.com/AlexanderDzhoganov/8c138b423fc24c3ef566)
[package.json](https://gist.github.com/AlexanderDzhoganov/220c376acb4902f291ee)

[2016-02-25 20:12] ne0guille commented on #87
@AlexanderDzhoganov @ne0guille I started getting the same error on my build server today too. It built fine last night at 3am EST and failed today at 1pm EST. Looking at systemjs-builder on github a new release (0.15.10) was released 5 hours ago and I think that release is what is causing the issues. The aurelia-bundler uses systemjs-builder as a dependency.

this might be useful to known

[2016-02-25 20:18] AlexanderDzhoganov commented on #87
Thanks to @ne0guille 's last post I have narrowed down the issue to [this commit](https://github.com/systemjs/builder/commit/69fe75ffd039307e5ad9a882ad1ae42323cd073f) in `systemjs/builder` which adds [this check here](https://github.com/systemjs/builder/blob/master/compilers/amd.js#L98) which gets triggered by the second `define()` in [aurelia/loader-default@index.js](https://github.com/aurelia/lo

[2016-02-25 20:30] PWKad commented on #87
How are you getting it to download the latest systemjs builder?  Trying to reproduce to find a fix.

[2016-02-25 20:38] AlexanderDzhoganov commented on #87
@PWKad I deleted my `node_modules` and did `npm install` which installed the latest builder

[2016-02-25 20:52] AlexanderDzhoganov commented on #87
As a workaround you can do
[code]

which will roll back systemjs/builder to 0.15.9 which didn't have this issue.

[2016-02-25 21:19] PWKad commented on #87
Thanks for helping to narrow this down everyone I've got a hotfix I'm about to push out to get around.

[2016-02-25 21:22] #87 closed

[2016-02-25 22:10] damianof commented on #82
I'm puzzled as I see many people using jQuery with Aurelia. Am I the only one having this issue?

[2016-02-25 22:22] damianof commented on #83
NPM 3.6.0
aurelia-bundler 0.3.2
SystemJS 0.19.23
JSPM 0.16.30
config.js and package.json are here: https://github.com/damianof/aurelia-config-samples

[2016-02-26 00:00] michaelbudnik opened #88 "Error bundling aurelia-loader-default@1.0.0-beta.1.1.1.js in after npm install."
I believe it was working yesterday...
Something must have been updated and complains about multiple define calls (which is ok, because only one is anonymous) in the file.

Maybe release of new version of https://www.npmjs.com/package/systemjs-builder broke things?

To reproduce just install aurelia skeleton, do npm install and try gulp bundle.

`Loading npm:aurelia-loader-default@1.0.0-beta.1.1.1.

[2016-02-26 06:32] EisenbergEffect commented on #88
We released a patch to our loader to address this issue.

[2016-02-26 06:32] #88 closed

[2016-02-26 06:33] EisenbergEffect commented on #86
I'm going to close this for now. If the issue turns out to not be gulp-related, please create a new issue and provide us with a sample we can test the bundler against.

[2016-02-26 06:33] #86 closed

[2016-02-28 09:14] StrahilKazlachev opened #89 "Removed comments in config.js"
The bundler removes comments from config,js when bundling/unbundling. It's a bit irritating when you are trying something and comment out a portion of the config and it gets removed.

[2016-02-28 15:28] EisenbergEffect commented on #89
@ahmedshuhel Is there any way we can fix this or is that something that the system builder does? If not, could we potentially make a copy instead of overwriting the file?

[2016-02-28 15:40] Gheoan commented on #89
@StrahilKazlachev Are you using latest `aurelia-bundler`? The comments are not removed for me. Note that there may be breaking changes.

[2016-02-28 15:50] Gheoan commented on #89
Ignore the above comment, I misunderstood the issue.

[2016-02-28 18:44] PWKad commented on #89
Config.js is modified by jspm - whenever you are injecting this has to happen.  I don't think there is  anything you can do to prevent this.

[2016-02-29 08:52] ahmedshuhel commented on #89
@PWKad we are not using `jspm` internally anymore. Just relying on `systemjs-builder` for bundling & tracing. The `injection mechanism` of `aurelia-bundler` is our own implementation that matches `jspm`. So, In theory, we can keep the `comments` even though `jspm` does not by extending our implementation. But, it's a much harder problem to solve that brings imho very little benefit.  `config.js` g

[2016-02-29 09:11] StrahilKazlachev commented on #89
Ok, thanks for looking into it. I just didn't consider/know that jspm also rebuilds the file.

[2016-02-29 14:19] EisenbergEffect commented on #89
We'll close this for now but keep these items in consideration if/when we evolve our own tooling to not use system-builder.

[2016-02-29 14:19] #89 closed

[2016-02-29 19:26] mbroadst opened #90 "TypeError: Cannot read property 'substr' of undefined"
No idea what's going on here, seems different than https://github.com/aurelia/bundler/issues/79, any tips would be greatly appreciated.

[code]

[2016-02-29 20:28] mbroadst commented on #90
The error seems to stem from this line of code: https://github.com/aurelia/bundler/blob/master/dist/bundler.js#L83

I haven't traced back far enough yet, but this is being called for a top level `app.html` file in my src dir, where `load` in this case is:
[code]

[2016-02-29 20:35] mbroadst commented on #90
This looks like I forgot to change `[*]` to `[*.js]` in my `bundles.json`, sorry for the noise but hopefully it might be helpful to users in the future!

[2016-02-29 20:35] #90 closed

[2016-03-01 12:26] vicOnGit75 commented on #42
Are there time estimations for the feature implementation?

[2016-03-01 21:49] StrahilKazlachev commented on #85
Some additional info. It tuns out that since systemjs builder 0.15.0 there is an [option](https://github.com/systemjs/builder/blob/0.15.0/lib/builder.js#L339) that automatically takes care of my use case. But for that to work one should not add the module in question to the **excludes** of the bundle config, as I was doing, because this causes the error from my first comment.

[2016-03-02 16:45] droda59 commented on #71
Adding the .css!text line seems to mess up aurelia-i18n. Can't understand why, though. Everything looks good in the bundle and in the console, but no text is displayed on my page. When I remove the .css!text it works.
Nothing's wrong with the .html!text, only the .css!text.

[2016-03-02 16:53] EisenbergEffect commented on #71
@ahmedshuhel Can you look into this?

[2016-03-02 20:24] 32graham commented on #44
I'm getting the same error. After bundling I get:

[code]

In my bundle config, I do have `aurelia-validation` listed.

[2016-03-02 20:39] EisenbergEffect commented on #44
@ahmedshuhel Can you please advise on this? I would assume that the specific cultures would need to be listed inthe bundle config or otherwise deployed to the server in the jspm_paclages folder at the above location for dynamic localization.

[2016-03-02 20:48] doktordirk commented on #44
@32graham stupid question: do you have a jspm_packages/npm/aurelia-validation@0.6.3/ ?

[2016-03-02 21:17] 32graham commented on #44
@doktordirk No. Not after bundling (which is correct).

Before bundling yes.

Of course I can fix it by manually copying the files to the right place but then they are not bundled.

[2016-03-02 23:04] ahmedshuhel commented on #44
@32graham

Try adding `aurelia-validation/**/*.js` in bundle config. If that does not work try `aurelia-validation/resources/*.js`

[2016-03-02 23:50] 32graham commented on #44
@ahmedshuhel both `aurelia-validation/**/*.js` and `aurelia-validation/resources/*.js` worked independently. Thanks :+1:

[2016-03-03 00:29] alvarezmario commented on #44
@ahmedshuhel this is nice, so if I add `aurelia-dialog/**/*.html` then the views will be bundled as well? Bucause currently I have JS files bundled, but not html files

[2016-03-03 01:41] EisenbergEffect commented on #44
Yes, that should work. If it doesn't let us know.

[2016-03-03 02:01] alvarezmario commented on #44
yes, it worked, thanks! Now I have about 5 less request :joy:

[2016-03-03 09:18] stefan505 opened #91 "Bundle causes SystemJS runtime exception"
I've upgraded all my aurelia libs and the bundling appears to have stopped working:

[code]

Using JSPM `0.16.30` with SystemJS `0.19.23`. I did pick up something similar here: https://github.com/systemjs/systemjs/issues/1127

Not sure if / how it relates to aurelia-bundler?

[2016-03-03 09:29] Gheoan commented on #91
As a workaround install `jspm@0.16.29` locally. In your project
[code]
Then:
[code]

[2016-03-03 09:59] stefan505 commented on #91
Yip, thanks @Gheoan, I've already done that. Just wanted to raise the issue nonetheless so that Aurelia guys are made aware of it.

[2016-03-03 11:48] ahmedshuhel commented on #44
Thank you all. Closing this one.

[2016-03-03 11:48] #44 closed

[2016-03-03 13:36] BoeseB opened #92 ""Bootstrap's JavaScript requires jQuery" Error after bundling with minify = true"
Hi,

I got the following problem.

After bundling my application (almost the same as the "skeleton-typescript" project from the skeleton-navigation pack) i get the following Error when loading the page:

[code]

This does not happen if i set  minify of the "dist/aurelia" bundle to false.

How can i get this to work with minifying the bundle?

[2016-03-03 14:44] EisenbergEffect commented on #92
@ahmedshuhel Can you help out with this? I see things like this coming up fairly often. This might be an example that we need to add to the bunder documentation.

[2016-03-03 14:57] EisenbergEffect commented on #91
@ahmedshuhel It seems system.js/jspm breaking changes will never end..... Please look into this when you can. Thanks for your hard work.

[2016-03-03 15:08] ahmedshuhel commented on #92
@BoeseB Could you please post your `config.js` and `bundle config`? It would be even better If you can push the code to `github` and give us the link.

[2016-03-03 19:52] BoeseB commented on #92
it's basicly the typescript-skeleton i didn't change the config.js or bundle config manually.

All i did was installing some packages like upgrading to (typings)[https://www.npmjs.com/package/typings] from the `tsd` Type Definition Manager via npm.

Commands i used for the migration to typings
[code]

It's up on github [here](https://github.com/BoeseB/aurelia_electron) should be unbundled in this

[2016-03-04 10:49] ahmedshuhel commented on #92
I will take a look at it. Thanks.

[2016-03-04 12:46] crbranch commented on #92
I'm seeing the same thing (using the Typescript skeleton without modifications).  It runs successfully unbundled.  But if you bundle, it complains that bootstrap can't find jquery.  If you look at the resulting bundle (`aurelia-xxxxxxxxxx.js`), jquery is actually included.  If you then `jspm install jquery` and rebundle, that solves the problem, but you end up with two copies of jquery in the bund

[2016-03-04 14:22] crbranch commented on #92
(NOTE: This is comment is an update to a previous comment that I deleted because some of the info I provided before was incorrect)

I'm seeing the same issue using the Typescript skeleton unmodified.  It works correctly if I run it unbundled.  However, after bundling, it complains that bootstrap cannot find jquery, but only when the bundle is minified.  If I disable minification and rebundle, then

[2016-03-04 15:13] EisenbergEffect opened #93 ""aurelia_framework_1.singleton is not a function" after bundeling"
@MaartenThomassen commented on [Fri Mar 04 2016](https://github.com/aurelia/framework/issues/349)

Hello,

In my Aurelia app, I am using a Typescript development environment which transpiles to ES5 and in my code i use the @autoinject attribute and Aurelia's dependency injection framework.

When I build my app and run it locally, everything works fine. When I bundle my app (i made 2 bundles, one w

[2016-03-04 15:13] EisenbergEffect commented on #93
@ahmedshuhel Please take a look at this.

[2016-03-04 17:29] crbranch commented on #92
So, I dug into this a little by stepping through the SystemJS loader code to try to understand what is different about the minified vs. non-minified bundle.  It turns out that the loader code uses some regex expressions to identify the module type based on the contents of the bundle.  (Look for `amdRegEx`, `cjsRequireRegEx`, `cjsExportsRegEx`, etc. in `system.src.js`).  When the bundle is not mini

[2016-03-04 19:55] StrahilKazlachev commented on #92
If the loader is guessing wrong, add a [meta config](https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#meta).

[2016-03-07 03:57] ghiscoding commented on #6
Thanks @Vheissu that helped me a lot, simply had to run a `jspm install text` to fix my problem :)

[2016-03-07 07:43] MaartenThomassen commented on #93
Any updates on this?

[2016-03-07 12:14] epicbagel commented on #86
It appears to be relatec to minifying. Removing minify: true reduces the bundling to just a few seconds. @canadian-thackeray can you confirm?

[2016-03-07 14:21] EisenbergEffect commented on #93
This is a bug in the Babel compiler or SystemJS where it isn't treating re-exported values correctly. To get around it, import from the original module that the export comes from. For example `singleton` is re-exported from 'aurelia-framework` for convenience, but it is originally exported from `aurelia-dependency-injection` so import it from there instead. If that doesn't work, then there may be

[2016-03-07 17:12] canadian-thackeray commented on #86
I reverted any installs I had and it is working fine now with minify set to true. I haven't updated yet, so it may yet break again.

It appears to be relatec to minifying. Removing minify: true reduces the bundling to just a few seconds. @canadian-thackeray<https://github.com/canadian-thackeray> can you confirm?

-
Reply to this email directly or view it on GitHub<https://github.com/aurelia/bundle

[2016-03-08 03:11] PWKad commented on #38
I think this can be accomplished now although I'm not sure if it should be a responsibility of the bundler.  To test this out I just concat'd 5 files in to one -
[code]

[2016-03-08 09:07] MaartenThomassen commented on #93
@EisenbergEffect Thank you for the workaround. I'm going to implement this today and report back to you.

For the record, i am not using Babel (im directly compiling typescript with the typescript version included with gulp-typescript to ES5), so its possibly a bug in SystemJS in combination with the Aurela Bundler.

[2016-03-08 14:50] PWKad commented on #23
If you want to test this out with Dialog let me know, it has js, css, and html.

[2016-03-08 15:10] MaartenThomassen commented on #93
@EisenbergEffect

I replaced the (auto)inject and singleton imports as you suggested, also replaced my binding imports to import directly from aurelia-templating.

This "seems" to fix the problem, however, I am now getting a different issue, which is also probably a SystemJS issue but since its still in combination with the Aurelia loader, I'll post it here, perhaps you can suggest a better place

[2016-03-08 15:18] EisenbergEffect commented on #93
@ahmedshuhel Can you take a look at this please?

[2016-03-08 15:18] EisenbergEffect commented on #93
Actually @MaartenThomassen I'm going to close this issue. Can you open a new issue on the bundler repo?

[2016-03-08 15:18] #93 closed

[2016-03-08 15:26] MaartenThomassen opened #95 "Aurelia bundeling of files with text plugin results in System JS not being able to find the files in the bundle"
When using the SystemJS text plugin for bundeling .html and .css files, the aurelia bundler compiles the bundled files with references to text files inside the bundle like this:

[code]

However, as soon as SystemJS configures itself (at line 1804 of system.js), it decanonicalizes the bundle dependencies (at line 1902: ```var normalizedBundleDep = loader.decanonicalize(cfg.bundles[p][i]);```)

How

[2016-03-08 15:33] EisenbergEffect commented on #95
@ahmedshuhel Please take a look. Thanks!

[2016-03-08 16:36] airboss001 opened #96 "gulp bundle error when adding toastr"
jspm 0.16.15
gulp 3.9.1
Fresh skeleton 1.1.5 install
jspm install jquery
jspm install toastr
jspm install npm:clean-css --dev

add toastr to bundles.js
gulp bundle

throwing this error at bundle step

[09:24:28] 'bundle' errored after 5.75 s
[09:24:28] Error: Install Clean CSS via `jspm install npm:clean-css --dev` for CSS build support. Set System.buildCSS = false to skip CSS builds.
    at eval

[2016-03-08 22:43] aaronroberson commented on #90
@mbroadst This helped me, so your hopes were made reality ;)

[2016-03-10 20:53] davidbfrogman commented on #92
@Driedas Solution for Bootstrap's JavaScript requires jQuery
[code]

Adding jquery to the aurelia bundle seems to fix the problem.  I also put
[code]
in my main.js Although I don't know if that actually helped or hurt.  The problem only showed up when I deployed to heroku, and I couldn't get it to break locally when I bundled.

[2016-03-10 22:26] davismj opened #97 "what does the `inject` config parameter do?"

[2016-03-10 23:17] alvarezmario commented on #97
I guess is related to `jspm inject ...`

[2016-03-10 23:28] davismj commented on #97
As far as I can tell, when set to true it modifies your config.js to register a bundle mapping; when set to false it instructs SystemJS to automatically register a new bundle mapping whenever the bundle is included in your application, either through a `<script>` tag or an `import` statement.

[2016-03-10 23:29] gbreeze commented on #92
@davidbfrogman tried both, but with no success.

[2016-03-10 23:33] davidbfrogman commented on #92
Are you actually using bootatrap.js?

Not just the css?

If you're not actually using bootstrap.js remove the include line in main.js

[2016-03-11 03:20] tomtomau commented on #42
This feature is a huge benefit if you use a external logging service that supports supplying sourcemaps to make the error messages more descriptive. Is there anything else we can find out about when it will return?

[2016-03-11 08:01] MaartenThomassen commented on #95
Did you have a chance to look at this? I can't figure out what the difference is between my config and the template. Do you need some more informatio perhaps?

[2016-03-11 17:41] airboss001 commented on #21
@brettveenstra for jQuery to work for any included js plugin you would have to always apply the override for each jspm install for bundling to work right? Is that correct?

I am trying to get toastr to bundle and jquery is not being found (as well as weird css error)

[2016-03-11 18:32] ahmedshuhel commented on #97
It creates a `map/registry` of the modules included in a configured bundle and `inject` into the `config.js` file. As @alvarezmario pointed out, it is related to `jspm  bundle --inject `. SystemJS uses this to load the `bundle` on demand.
[code]

[2016-03-11 18:32] #97 closed

[2016-03-11 19:04] ahmedshuhel commented on #95
@MaartenThomassen Which version of SystemJS are you using? Can you post the config.js and package.json file. A demo app demonstrating this problem on github will be a great help to find out the real issue.

[2016-03-11 19:11] ahmedshuhel commented on #42
It will return for sure. It's on the `backlog` now and we will try to get it in the next release.

[2016-03-11 20:02] istrau3 commented on #92
+1 same issue.

I have tried many variants of this with no luck:
[code]
[code]

etc.

[2016-03-11 22:50] StrahilKazlachev commented on #42
Will it load already generated sourcemaps?

[2016-03-12 05:12] ahmedshuhel commented on #23
Parent application's module dependency structure including plugin depends on how the developer installed/configured individual module or plugin. Bundle configuration depends on the installed/configured dependency. So, I believe the plugin can't expose their `bundle configuration` because we will never know how parent application installed/configured the plugin upfront. cc @EisenbergEffect

[2016-03-12 05:23] ahmedshuhel commented on #42
I am not sure I understand your question. How would you generate the sourcemaps  before the bundle?

[2016-03-12 09:00] StrahilKazlachev commented on #42
@ahmedshuhel Sorry, I should have given an example. Lets say you write in typescript, you generate the .js files and their sourcemaps, now you bundle. It will be nice not to lose the ts->js transformation.

[2016-03-12 12:25] brettveenstra commented on #21
@airboss001: do you have a code sample?

Generally,
* check your `jspm_packages` folders for how each package behaves (e.g. folders/formats) on regular install
* make sure you specify the plugins you want in the bundles config
* import with proper syntax in TypeScript (I would guess for toastr, you're looking to do `import * as toastr from 'toastr'`)

[2016-03-12 13:53] brettveenstra commented on #21
@airboss001 - so I got a little time to fiddle with this... I cloned the skeleton-navigation project (TypeScript)

I adjusted welcome.js to import toastr:
`import * as toastr from 'toastr';`

then switched the alert with toastr: `toastr.info(`Welcome, ${this.fullName}!`);`

in `bundles.js`, added these lines:

        "jquery",
        "toastr",
        "toastr/build/toastr.css!text"

made sure jq

[2016-03-12 14:21] EisenbergEffect commented on #23
Could the plugin declare a set of relative globs in a special section of the aurelia config of its package.json? Then could we have a plugins section of our bundle config that listed out plugins, as installed in the app...then the bundler could look up the package.json, extract the globs, make them relative to the app's installation and add it to the bundle config. Does that make sense? Is it poss

[2016-03-12 14:51] airboss001 commented on #21
Thanks Brett, I appreciate the help.

This is all on a clean install of the latest es2016 skeleton.
This is using jspm 0.16.15.

I was assuming jQuery got installed with bootstrap.js that is part of the skeleton, but that wasn't the case as with no changes to the skeleton when bundled it gave the bootstrap requires jquery error. So that error is now gone on loading the bundled site by using 'jspm

[2016-03-12 15:17] doktordirk commented on #92
@ahmedshuhel
i tried to get closer to the problem. gotta be a systemjs-builder bug. upgrading didn't help.

dunno if it helps, but the bug does depend on what's included in the bundle.
eg: vanilla skeleton-es2016 has that problem
add eg spoonx/aurelia-notification and, surprise, suddenly it works.
repo: https://github.com/doktordirk/skeleton-navigation/commits/bundle-test

[2016-03-12 15:19] brettveenstra commented on #21
I'm assuming that since you can see it unbundled, you've wired up the requires/import statements correctly and your bundles should fall in place then.

The key for you now is:

"toastr/build/toastr.css!text"
in bundles.js

and include "clean-css" as the error directs you.

Without those, the CSS for toastr will never get to your bundled assets.

[2016-03-12 15:31] airboss001 commented on #21
@brettveenstra
Right on, all that is there. Same error on bundle if !text is not added to toastr.js
We should continue this in the other issue as its not about jquery anymore if you have time.

[2016-03-12 17:48] ahmedshuhel commented on #42
If you use typescript directly with systemjs and bundle the app using aurelia-bundler the `sourcemaps`(given the feature is implemented) should work. But in case of intermediate transpilation it will not work because to `bundler` "source" is what the tool produced then. The bundler will have no knowledge of "actual source" any more.

[2016-03-12 20:45] jenyayel commented on #71
I noticed that if you place those
[code]
not in the same bundle as `text`, then a problem is gone.

[2016-03-12 21:05] brettveenstra commented on #96
@airboss001 not sure what's wrong ...

I just pulled latest es2016 skeleton onto a new box (Windows), and did:

*  `npm install`
*  `jspm install`
*  add jspm packages

[code]

*  modify `bundles.json` to have

[code]

_(please notice the comma after `"toastr" line, yours above is missing it)_

* modified `welcome.js`

[code]

* finally bundled and served...

[code]

If that doesn't work for you,

[2016-03-12 21:55] airboss001 commented on #96
https://github.com/airboss001/Skeleton-ES2016-toastr

Fresh es2016 install from update 2 days ago

npm install
jspm install -y
jspm install jquery
jspm install toastr
jspm install npm:clean-css --dev

bundles.js updated with:
"dist/aurelia": {
      "includes": [
        "aurelia-framework",
        "aurelia-bootstrapper",
        "aurelia-fetch-client",
        "aurelia-router",
        "aurelia-

[2016-03-12 22:51] bsyk commented on #92
I'm seeing the same issues with the skeleton-navigation pack.
As a work-around, I've found pulling bootstrap into a separate bundle without minification then loads happily.  By default is looks like bootstrap (js, not css) is only being used to handle the nav menu if the browser width is < 768 which may be why people are not seeing any problems.
Here's what I've added to bundles.js:
[code]

[2016-03-14 20:39] michaelmalonenz opened #98 "aurelia-bundler recent versions not published to npm"
If I run `npm install aurelia-bundler --save-dev` I only get v0.2.1 which doesn't work with the latest version of aurelia.  I need to install the version from GitHub.

In and of itself, this isn't an issue, but seeing as everything else in aurelia is in npm, it makes sense to me to make the current versions available there, too.

[2016-03-14 20:48] miroslavpopovic commented on #98
@michaelmalonenz I don't have that problem. Just managed to install v0.3.2 (I was on 0.2.1) with `npm install aurelia-bundler --save-dev`.

Version 0.3.2 is [published to npm](https://www.npmjs.com/package/aurelia-bundler) three weeks ago.

[2016-03-14 20:58] michaelmalonenz commented on #98
Ok, now I'm confused - if I specify the version  `npm install aurelia-bundler@0.3.2` it all works.  Weird.

[2016-03-14 20:58] #98 closed

[2016-03-18 15:41] tonybravano opened #99 "Unbundle error similar to #75"
I have the exact error shown in #75.,   I have Node 5.6, VS 2015, Aurelia beta 1.1.6.  I tried jspm update.  Nothing helped.  This is straight skeleton code and no customizations.  Any guidance is appreciated.

[2016-03-18 16:54] doktordirk commented on #99
That.S an npm/node thing, not jspm. Mabe try npm install aurelia-bundler or so to get the last Version there

[2016-03-18 17:19] tonybravano commented on #99
I just ran npm install aurelia-bundler.  Still the same.

[2016-03-18 17:51] tonybravano commented on #99
This fixed it,
var ctx = vm.createContext(sandbox);
vm.runInContext(cfgCode, ctx); // I changed the second parameter from sandbox to ctx
return sandbox.System.cfg;

The update still had this line in config-serializer

[2016-03-18 19:23] #99 closed

[2016-03-18 19:28] tonybravano opened #100 "/dist/dist/aurelia.js not found"
Hi,
After successfully bundling the app, I get http://localhost/bg/dist/dist/aurelia.js not found.  Its the dist/dist part, how it can be fixed? I can't see where it is referenced..

[2016-03-19 08:22] doktordirk commented on #100
Config.js? Anyways, have ref:true in your Bundle.js. maybe set it to false

[2016-03-21 08:20] MaartenThomassen commented on #95
@ahmedshuhel Sorry for not getting back to you on this sooner, we've had a busy week last week and I havn't had time to look at the issue. For now, we've released internally without bundling and with a few tweaks to our server file settings things are going OK now, though we would really like to get bundling going for the public release of our app.

As for your questions:

JSPM: 0.16.31
SystemJS:

[2016-03-24 09:20] RomkeVdMeulen opened #101 "Specify output path outside baseURL"
I'm working on integrating some Aurelia components in an existing Java EE project built with Maven. The Aurelia code lives in `src/main/frontend`, while the build directory for Maven is `target/projectname-version`. As a workaround, I have Aurelia built in `src/main/frontend/dist` and have Maven copy that to `target/projectname-version/frontend`, but that's not exactly ideal.

I've been able to ha

[2016-03-24 09:56] RomkeVdMeulen opened #102 "Create dir if it doesn't exist"
If I have in my bundle config something like e.g.:

[code]

and I run the bundler, then I get this error:

[code]

In this scenario, it would be appropriate for the bundler to create the dir if it doesn't exist.

[2016-03-24 10:23] StrahilKazlachev commented on #102
I thought this was fixed. Are you using the latest version?

[2016-03-24 10:23] RomkeVdMeulen commented on #101
For anybody interested, I've created a workaround for now: build the bundles in the Aurelia dir, copy to target dir, then delete generated files in Aurelia dir. Here's an example, based on gulp config like you'd find in the skeletons. Requires NPM modules `mkdirp`, `ncp` and `del`.

[code]

[2016-03-24 10:45] EisenbergEffect commented on #101
@ahmedshuhel This seems like a reasonable feature. I think it's been requested several times. What do you think?

[2016-03-24 11:05] ahmedshuhel commented on #101
We cannot allow it outside of the baseURL because it will conflict with the `inject` feature. A bundle file is treated as a "normal" module by SystemJS. We calculate the canonical name of the bundle file and use that name in the `config.js`. However, if somebody does not use `inject` feature and wants to place the bundle file in some arbitrary path, it makes sense allow it.

[2016-03-24 11:09] ahmedshuhel commented on #102
I thought I implemented something like this in the past. I will check that. If missing we can add that.

[2016-03-24 11:16] EisenbergEffect commented on #101
Perhaps we can check the configuration to see if the correct combination of settings is present, and if so, allow it. If not, we can raise a helpful error message explaining the situation.

[2016-03-24 11:23] RomkeVdMeulen commented on #101
The calculation of the canonical path seems to assume that the bundle will be served directly from the filesystem, which isn't the case here. The calculated canonical path is still correct, even though it doesn't match the output path I'd like to specify. E.g. if:

[code]

then the bundle should still be loaded from `frontend/bundles/aurelia.js` at runtime, even if I choose to build it to `../../.

[2016-03-24 12:03] ahmedshuhel commented on #101
In this case we may allow overriding the `injection name` and `output path` via configuration. This will by pass calculating canonical name and use the override instead. The user will be responsible for calculating the correct canonical name. Does this solve the problem? cc @EisenbergEffect

[2016-03-24 12:04] EisenbergEffect commented on #101
It seems ok to me. Let's see what @RomkeVdMeulen thinks.

[2016-03-24 12:34] RomkeVdMeulen commented on #101
Looks good. Would it be possible if you specify `output path` but not `injection name` to fall back to the current calculation for the injection name? See previous example.

[2016-03-24 12:53] RomkeVdMeulen commented on #102
@StrahilKazlachev I've tried it with `0.3.2`.

[2016-03-24 13:32] ahmedshuhel commented on #101
I will let you know if that is possible.

[2016-03-27 01:58] zsvanderlaan commented on #92
I also used the solution from @bsyk, but had to combine the suggestion of @davidbfrogman to include jquery. This is the working entry:

File: bundles.js
"dist/boot": {
   "includes": [
      "bootstrap"
   ],
   "options": {
      "inject": true,
      "minify": false,
      "depCache": true,
      "rev": false
   }
}

I also added jquery to my configuration:
File: config.js
map: {
    "aurelia-an

[2016-03-30 13:19] Phi-D opened #103 "Can't bundle sub directories"
Greeting, here my issue:
I am using the skeleton-es2016 repository.

I reorganized the /src directory, creating a subdirectory and placed all related files into them. e.g. I created a directory /src/welcome and placed welcome.js and welcome.html into it. Same for users, child-router.

I created a directory lib and moved styles.css from /styles to /src/lib/ and places blur-image.js into it as well,

[2016-03-30 14:19] EisenbergEffect commented on #103
There's no problem with having nested folders. Your bundle globs are wrong. You need `*/**/*.js` and the same for html and css. Here's an example of how our docs app is bundled:

[code]

[2016-03-30 14:19] #103 closed

[2016-03-31 05:47] alexmills commented on #90
@mbroadst you're a life saver mate, nice work!

[2016-04-01 07:55] bhaeussermann opened #104 "Can't bundle libraries with test coverage (lib-cov) folders"
Some libraries that we use have test coverage folders that are not included (and not needed) when installing them. This library's regular code is found in its `lib` folder (included) and the test coverage tracking version of the code is found in its `lib-cov` folder (not included).

These libraries are found containing code like this:
[code]
My `bundle` task fails because aurelia-bundler tries to

[2016-04-04 11:47] bhaeussermann commented on #73
This does not work for me. The image paths are added to `config.js`, and the bundle file is created, but the contents of the images are not added to the bundle file.
Instead of loading the bundle file, the browser still loads each image separately.
(disclosure: all images are svg files).

Here is the contents of the bundle file:
[code]

[2016-04-04 12:00] bhaeussermann opened #105 "Bundle fonts"
Is there a font bundler?

I have fonts in `eot`, `svg`, `ttf`, `woff`, and `woff2` formats in order to support multiple browsers. I would like to make one bundle for each font format containing all of its corresponding font files.

I tried bundling my fonts like this:
[code]
These files are binary files, so using the `text` plugin is probably wrong.

Nevertheless, the file paths are added to `conf

[2016-04-04 12:47] EisenbergEffect commented on #105
This has much more to do with SystemJS than anything else. You can see their list of plugins here: https://github.com/systemjs/systemjs as well as read about how to create your own.

[2016-04-04 12:47] #105 closed

[2016-04-04 17:56] Gheoan commented on #73
`plugin-image` does not support bundling, only loading.

[2016-04-06 01:01] EisenbergEffect commented on #91
@ahmedshuhel Can you look at this please?

[2016-04-07 15:26] Scapal opened #106 "Error when loading relative import"
Using ES6 JSPM, while the bundling seems to work and the application runs as expected, there are errors in the browser console with system.js trying to load components already included in the bundle.

For example if I use the skeleton-es2016 and add a `test.js`:
[code]

and modify the `welcome.js` as follow:
[code]

When bundled, even as the app is running perfectly and accessing the bundled `test

[2016-04-08 06:56] izderadicka commented on #92
I can confirm that solution from @zsvanderlaan  worked for me -   and the only issue is about minification.   Minify:false works,  Minify:true does not.

config.js map gets updated automatically during gulp bundle  - so the only action needed was separate bundle for boostrap and jquery

[2016-04-08 07:47] alexisinwork opened #107 "Error after adding new files"
Hi!
I a new too Aurelia and have troubles with Aurelia bundler.
I haven't any problem in Skeleton app, but when I bundle default Skeleton I have next error:

Uncaught (in promise) Error: Bootstrap's JavaScript requires jQuery(…)

[2016-04-08 07:58] #107 closed

[2016-04-08 07:58] alexisinwork commented on #107
Actually I found all answers in unresolved issues here. So sorry for duplication)

[2016-04-09 10:55] ahmedshuhel commented on #106
@Scapal Could you tell us what version of SystemJS and JSPM are you using?

[2016-04-09 10:59] ahmedshuhel commented on #104
Excludes should work in this case. Can you give me a simple github repo that reproduces this behavior?

[2016-04-09 11:03] ahmedshuhel commented on #100
@tonybravano Could you check the baseURL of SystemJS in config.js file. I think something is wrong there. The `request` by the way comes from SystemJS and it uses bundle injection of config.js. You will find a `bundle` key in the config.js file. See if that does have the "correct" module path. Normally it should be relative to `baseURL`

[2016-04-09 13:05] JeroenVinke opened #108 "Bundler removes type="text" by default"
Because of [this option](https://github.com/aurelia/bundler/blob/4643dec5fe02cc2ebef8b1f4b6e8c3f9a2421b12/lib/utils.js#L29) the html minifier removes `type="text"` from input tags by default. Because the type was removed it caused some CSS styles to not be applied when my application was running in bundled state, and it was very confusing to find how that could happen.

The html-minifier has a dif

[2016-04-09 13:16] EisenbergEffect commented on #108
@ahmedshuhel I think it would be a good idea to change this.

[2016-04-09 14:07] Scapal commented on #106
JSPM 0.16.15
jspm_packages/system.js: v0.19.6

[2016-04-09 15:50] ahmedshuhel commented on #108
Fixed in master.

[2016-04-09 15:50] #108 closed

[2016-04-09 16:12] ahmedshuhel commented on #106
I found the problem too. Looking at it now. I keep you updated.

[2016-04-09 17:47] JeroenVinke commented on #108
Thanks :+1:

[2016-04-10 22:14] danielabar commented on #103
I was having the same error as reported in this issue, starting from ES2016 navigation skeleton, then organizing src in subdirectories like this:

[code]

After updating the `bundles.js` file to use globbing as mentioned above, it's mostly working. Except getting a 404 on `suggestion-service.js`:

![image](https://cloud.githubusercontent.com/assets/2428282/14413431/9484ea00-ff47-11e5-9532-4c0c4a48

[2016-04-12 21:29] BrightShadow commented on #103
Hi,

I have smilar problem. After bundling the application I have two budle files aurelia.js and app-build.js. When starting application I get many 404 error from system.js that none of my custom js files was found. Morover I checked the app-bundle.js, everything is there... So what could be the problem?
Here my bundles.js

`module.exports = {
    "bundles": {
        "dist/app-build": {

[2016-04-14 13:22] ahmedshuhel commented on #106
@Scapal can set `depCache: false` in the bundle config and see if the problem goes away. I think `depCache` causing a conflict here.

[2016-04-14 13:57] Scapal commented on #106
@ahmedshuhel it does indeed solve the problem

[2016-04-14 16:09] ahmedshuhel commented on #106
I am closing it here. It's a SystemJS bug/constraint. It seems like bundle and depCache cannot be used in parallel.

[2016-04-14 16:09] #106 closed

[2016-04-16 05:00] jadrake75 commented on #95
Myself and a few other devs at my company saw this when we went from 0.19 to 0.32.  Similiar package.json/config.js to above (we are using 0.16 of JSPM)

Everything looks good in the bundle... it is just not loading/using the HTML

+1

[2016-04-19 07:15] dilvish4ever commented on #96
Same issue with toastr.
Same `bundle.js`, no errors when bundling and page loading.
I don't import css in main.js, the question is why toastr object is empty only when minified.
When bundled with `minify=false` all work correct.
Origin:
[code]
Minified:
[code]

[2016-04-25 13:50] jithinoj opened #110 "The files in the library folder of core-js is not bundling correctly"
We have developed aurelia applicaton. We have bundling is done through gulp. The files in the “core-js” module(core-js@2.1.1/modules) folder are bundled correctly but the files in the library(core-js@2.1.1/library) folder is not bundling. We have using core-js@2.1.0 and core-js@2.1.1 versions.

[2016-04-25 13:52] EisenbergEffect commented on #110
Can you provide more information on your bundling setup? Your configuration may be incorrect. Also, if you are using the full core-js, you may want to consider mapping that to the shim.min version in the client folder of that library which will give you a single module with all polyfills.

[2016-04-25 13:57] jithinoj commented on #110
The bundle.json

{
  "force": true,
  "bundles": {
    "dist/aurelia": {
      "includes": [
        "aurelia-binding",
        "aurelia-bootstrapper",
        "aurelia-logging-console",
        "aurelia-breeze",
        "aurelia-dependency-injection",
        "aurelia-dialog",
        "aurelia-event-aggregator",
        "aurelia-framework",
        "aurelia-history",
        "aurelia-history-brow

[2016-04-25 14:05] EisenbergEffect commented on #110
That's surprising. For some reason system builder must not be able to trace the dependencies of the core-js library. Have you tried remapping it in the config.js so that it just brings in the single file shim library?

@ahmedshuhel Do you know anything about this?

[2016-04-26 05:42] jithinoj commented on #110
**Config.js**

 "npm:core-js@2.1.0": {
      "fs": "github:jspm/nodelibs-fs@0.1.2",
      "path": "github:jspm/nodelibs-path@0.1.0",
      "process": "github:jspm/nodelibs-process@0.1.2",
      "systemjs-json": "github:systemjs/plugin-json@0.1.0"
    },
    "npm:core-js@2.1.1": {
      "fs": "github:jspm/nodelibs-fs@0.1.2",
      "path": "github:jspm/nodelibs-path@0.1.0",
      "process": "github:

[2016-04-26 06:51] jithinoj commented on #110
How can we remapp in the config.js ,Please give the details regarding this

[2016-04-26 11:39] EisenbergEffect commented on #110
One of the simplest things you can do is add this to your package.json

[code]

Then re-install core-js. jspm will set everything up for you. Then you should just need to ensure that core-js gets bundled by including it in your bundle. If you are using the latest Aurelia though, you should know that you don't need core-hs unless you are using additional Polyfills not provided by our polyfill libra

[2016-04-26 11:39] #110 closed

[2016-04-26 22:45] snortblt commented on #54
I'm seeing this too with the latest Aurelia starter kit. Tried with both node 4.4.3 and 6.0.0. It doesn't appear to be only a node version issue.

[2016-04-26 22:55] snortblt commented on #54
Moving the $(PATH) item to the top of the list under Options|Projects and Solutions|External Web Tools as suggested by @Jak3b0 does fix the problem.

[2016-04-28 08:47] AdamWillden commented on #95
I think I'm suffering the same issue here.

[2016-04-28 20:42] bta199 opened #112 "Injected Bundle Name Using Full Absolute Path Leading to 404 Errors"
I have setup the following in my gulp config;

[code]
My expectation is that when I run bundling I will see an entry in config.js under bundles "aurelia"

However, I instead see this;

[code]
I see "D:\Projects\CFTF\aurelia.js" not "aurelia.js".

This results in a request for the bundle 404ing trying to query localhost/d:/projects/cftf/aurelia.js.

i can see in aurelia-bundler.js in injectBundle

[2016-04-29 09:00] grofit commented on #29
As I am still on babel 5 and got this issue and this was the only bit of info I could find about it but the overrides no longer exist as the repos now use babel 6 I just wanted to provide a link to back when Aurelia was on babel 5 which should fix this issue:

https://github.com/aurelia/skeleton-navigation/blob/9509749bd162b1f9fbeff079ff9e96c5d488edfb/skeleton-es2016/package.json

[2016-04-30 16:10] dfk7677 opened #114 "Type error in path.js with node 6.x"
After updating to node 6.0.0 and trying to execute `gulp bundle` I get the following error:
`TypeError: Path must be a string. Received undefined
    at assertPath (path.js:7:11)
    at Object.basename (path.js:1355:5)
    at exports.writeOutputs (/media/dfk_7677/New Volume/workspace/js/bfrcon/node_modules/systemjs-builder/lib/output.js:137:23)
    at /media/dfk_7677/New Volume/workspace/js/bfrcon

[2016-04-30 19:49] atsu85 opened #115 "create separate bundles per route automatically (based on router conf and dependency analysis)"
Hi,
I found an interesting bundler project (built on top of SystemJS) from following comment:

Looks like it can be used with Angular 1 to automatically split bundles by route and to extract common code out to shared bundles.

I'm wondering if (more-less) the same approach could be useful for Aurelia as well (and as the comment is copied from the [blog post](http://ilikekillnerds.com/2016/03/ditch

[2016-04-30 20:07] atsu85 commented on #115
@amcdnl, can You comment on this issue? Did You (or Your team) try/manage to get it working with Aurelia? If You got it working, what did You have to do differently compared to Angular, to get it working with Aurelia (did You include html and css as well or just JS?). How do You feel about using/suggesting that plugin (or same approach) for Aurelia?

[2016-04-30 22:01] amcdnl commented on #115
Its not specific to Angular. All you need is a route definition and to use SystemJS.

[2016-05-01 06:35] atsu85 commented on #115
@amcdnl, yes I understood SystemJS and routes part from the lines I linked above (and I understand how to modify the lines for Aurelia to bundle only scripts), but I wanted to know if You have used it with Aurelia as well. And if so, then did You only bundle scripts or html and css as well?

[2016-05-01 14:42] marjan-georgiev commented on #115
We haven't used it with aurelia, only angular, but it shouldn't matter. You can specify your root modules and it builds the route and common bundles based on that. We do bundle html and css as well.

[2016-05-06 16:38] lbendezu opened #116 "Error when Bundling"
Sudenly we started seeing the following error into all our applications on productions environments when we bundle.

2016-05-05T16:17:44.9198976Z [11:17:44] Error: MultipleErrors: Error compiling global module "Web.config" at app\Web.config
2016-05-05T16:17:44.9198976Z app/Web.config:1:1: Unexpected token <
2016-05-05T16:17:44.9198976Z app/Web.config:1:7: Unexpected token version
2016-05-05T16:17:

[2016-05-06 17:16] doktordirk commented on #116
well, what it web.config? a html?

[2016-05-06 19:59] lbendezu commented on #116
that is an XML file that is used in microsoft web projects

[2016-05-06 21:07] doktordirk commented on #116
the more info, the better, ok. so, should it be bundled? i guess not
what has changed? have you updated the bundler? if yes, which was the version it last worked?

[2016-05-08 18:33] ahmedshuhel commented on #114
Thanks for reporting. We will be looking into it.

[2016-05-08 18:35] ahmedshuhel commented on #112
[This pull](https://github.com/aurelia/bundler/pull/111) will resolve the issue. We will release as soon as possible.

[2016-05-08 18:35] ahmedshuhel commented on #115
Interesting approach. We can certainly use the concept.

[2016-05-09 20:10] #92 closed

[2016-05-13 14:28] sensedeep opened #117 "Import from "./file" has wrong path after bundling."
I have an app that works without bundling. With bundling, I get console errors when I run the app. No errors during bundling.

The source in question is:

services/index.js
[code]

This is bundled as:
[code]

Auth.js is not dot relative to the bundled source anymore. it should be rewritten as require("services/auth")

How can I fix or work around this?  Any ideas?

[2016-05-16 14:15] EisenbergEffect commented on #7
@ahmedshuhel What is the status on this? Was it completed?

[2016-05-16 14:18] EisenbergEffect commented on #20
Ok, this was probably an error in the configuration for Karma. Try this in your paths

[code]

[2016-05-16 14:18] #20 closed

[2016-05-16 14:23] #23 closed

[2016-05-16 14:24] EisenbergEffect commented on #24
@ahmedshuhel Can you provide an update on this issue? Can it be closed?

[2016-05-16 14:28] EisenbergEffect commented on #27
What is the status of this?

[2016-05-16 15:14] #42 closed

[2016-05-16 16:20] EisenbergEffect commented on #48
Can this issue be closed?

[2016-05-16 18:02] LivesleyWA commented on #48
From my point of view - yes. This issue appears to have disappeared although I am still having issues with the bundle. The project where this occurred has been accepted as is. I expect to shortly be starting a new project based on Aurelia, despite this and other issues, and I will re-open a new ticket if I am still experiencing issues with the bundler. Getting the bundler to work consistently is i

[2016-05-16 22:02] tomtomau commented on #42
Sorry to pest, but this is a pretty important feature if you're using exception monitoring in production and want to unfurl the bundled files to locate where the issue really lies. At present, I'm not minifying my production files so that I can fairly easily get some level of context from the bundled files to locate any issues.

@ahmedshuhel I cannot see sourcemaps as a ticket in the backlog in Ze

[2016-05-17 10:01] ahmedshuhel commented on #117
@sensedeep Could you please provide a sample repo the reproduces this problem?

[2016-05-17 10:37] ahmedshuhel commented on #42
@tomtomau Working on it now.. Will give you an update when done.

[2016-05-17 10:54] ahmedshuhel commented on #7
No, but now that `systemjs-builder` exists as a separate project from jspm and it offers [a feature like that](https://github.com/systemjs/builder#in-memory-builds), we may directly use it when more control on output read/write minification etc is needed.

[2016-05-17 12:55] #48 closed

[2016-05-17 12:58] ahmedshuhel commented on #27
We may close this given https://github.com/aurelia/bundler/pull/63 is already merged.

[2016-05-17 12:58] #27 closed

[2016-05-17 13:54] EisenbergEffect commented on #38
Closing this because it can be accomplished by either:

* Concating the files like @PWKad states
* Use Webpack
* Use r.js optimizer with almond

[2016-05-17 13:54] #38 closed

[2016-05-17 14:43] #43 closed

[2016-05-17 15:29] EisenbergEffect commented on #58
Fixed in our tasks. Clean runs unbundle.

[2016-05-17 15:29] #58 closed

[2016-05-17 15:34] EisenbergEffect commented on #61
Have we determined this yet? I'd like to support 4.x and up.

[2016-05-17 16:19] ahmedshuhel commented on #61
Works on 4.x and up. But, we have to determine if it works on 6.x. We have an issue for that [here](https://github.com/aurelia/bundler/issues/114) Latest version should work on 6.x though. There was an issue in systemjs-builder and I believe that is fixed already.

[2016-05-17 16:23] EisenbergEffect commented on #61
Ok, please close this issue once it's all resolved. Thanks!

[2016-05-19 03:57] jaroslawziolkowski opened #118 "gulp bundle and text plugin error"
Hi,
I have code in build/tasks/bundle.js

[code]

when I run

[code]

I see error:

[code]

but this file exists in my app root dir /jspm_packages/github/systemjs/plugin-text@0.0.4.js

Have you any idea? Because combination with baseUrl create others errors regards to real bad paths.

Thanks in advance for your help.

[2016-05-19 04:46] sensedeep commented on #117
Sorry, but the source has moved on and I cannot re-create. From memory, we added map entries to config.js to solve the problem. Sorry. Please feel free to close the issue as I cannot provide more information.

[2016-05-19 11:56] #117 closed

[2016-05-19 16:07] MeirionHughes commented on #30
@heruan seems they are under resources now, so you need:

[code]

[2016-05-19 16:15] atsu85 commented on #118
@jaroslawziolkowski, are You using Windows? If so, make sure files are not locked.

[2016-05-19 16:29] jaroslawziolkowski commented on #118
@atsu85 I'm using debian, permissions for files are ok

[2016-05-19 17:12] jaroslawziolkowski commented on #118
@atsu85 below is ls -la files list from this plugin

[code]

[2016-05-19 18:36] seesharper opened #119 "Failed to bundle skeleton-typescript"
Hi!
Bundling started to fail at our build servers last night for some reason. Up until last night our builds has been running flawlessly for months.

It is pretty easy to reproduce though.

Get the latest skeleton-typescript from the skeleton repo

[code]

Error message:

[code]

I also have a folder locally on my machine where everything works as expected. Its been weeks since I did npm/jspm inst

[2016-05-19 20:18] njappboy commented on #119
I'm seeing the same issue.

If I comment out these 2 lines the process works as expected (minus sourcemaps of course):
https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/build/tasks/build.js#L22
https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-typescript/build/tasks/build.js#L24

[2016-05-19 21:04] njappboy commented on #119
I changed package.json to use an earlier version "aurelia-bundler": "0.3.0" but the same issue still persists.

[2016-05-19 21:58] njappboy commented on #119
@seesharper did you have any luck resolving this issue?

[2016-05-20 05:22] michaelmalonenz opened #120 "Upgrading to 0.4.0 breaks import 'something.css!';"
After upgrading to 0.4.0 (and a crucial step of deleting node_modules and then doing `npm install`) I can no longer bundle when the `.js` file includes css using the systemjs plugin-css.

I get this error:
[code]

This is using jspm v0.16.34 and plugin-text v0.1.21

[2016-05-20 07:40] alexisargyris opened #121 "bundling font-awesome"
Yesterday, I started getting this error:

[code]
It happens in a CI setup and I cannot reproduce it locally (bundled or unbundled versions).

Anybody knows anything?

[2016-05-20 09:00] dev0x10 commented on #120
@michaelmalonenz
I have the same problem. It's good you also have the problem 👍

My error:

` Error on fetch for github:dogfalo/materialize@0.97.6/css/materialize.css!github:systemjs/plugin-css@0.1.21.js at file:///Users/name/Git/4leaflabs/ospoon-merchant/jspm_packages/github/dogfalo/materialize@0.97.6/css/materialize.css!file:///Users/name/Git/4leaflabs/ospoon-merchant/jspm_packages/github/system

[2016-05-20 09:08] alexisargyris commented on #121
Made a clean installation locally and now the error is reproducible. It happens when trying to bundle. The unbundled version is fine.

[2016-05-20 09:19] dev0x10 commented on #121
@alexisargyris same problem #120

[2016-05-20 09:41] seesharper commented on #119
Well, if I comment out those two lines in the build taks, the bundle task succeeds. The strange thing is that the build task alone also completes without errors. I can get by without the source maps in production, but they are sure nice to have when debugging. So maybe a custom build task used only when bundling. But still I think it is important that the skeleton apps works as expected out of the

[2016-05-20 09:58] riddla commented on #61
I can confirm it works on OS X `version 10.11.4 (15E65)` with two node versions:

[code]

[code]

[2016-05-20 10:01] riddla commented on #54
If anybody needs a concrete instruction to configure Visual Studio to use the new/external Node.js version, have a look at https://blogs.msdn.microsoft.com/webdev/2015/03/19/customize-external-web-tools-in-visual-studio-2015/.

[2016-05-20 10:05] riddla commented on #59
Maybe you could add a hint to the extended Visual Studio configuration for Node.js also within the docs? https://blogs.msdn.microsoft.com/webdev/2015/03/19/customize-external-web-tools-in-visual-studio-2015/ as mentioned in https://github.com/aurelia/bundler/issues/54#issuecomment-220566146?

[2016-05-20 10:47] paulocezar commented on #120
Also had this problem, it's related to systemjs-builder 0.15.17 and it isn't only 0.4.0 as I got it on 0.3.2.
Manually installing systemjs-builder@=0.15.16 solved for me.

[2016-05-20 10:51] dev0x10 commented on #120
@paulocezar ah nice! thanks man! I'll try later 🍻

[2016-05-20 12:05] alexisargyris commented on #120
@paulocezar in that case the problem should be in systemjs/builder@61d7540. Any ideas?

[2016-05-20 13:17] EisenbergEffect commented on #121
Closing as duplicate. @ahmedshuhel Please look into this. Did jspm break us *again*?

[2016-05-20 13:17] #121 closed

[2016-05-20 14:27] dilvish4ever commented on #119
Same issue on fresh install. I have two locations with same source files - old works fine, new - this error.

[2016-05-20 14:42] EisenbergEffect commented on #119
@ahmedshuhel Please take a look.

[2016-05-20 14:55] krostkowski commented on #119
It's for sure some node module. After I've made npm install 15 minutes ago 'gulp bundle' stopped working. I'm looking which module could did it.

[2016-05-20 15:01] krostkowski commented on #119
@dilvish4ever Can you check differences on node modules versions? I do not have a working copy now.

[2016-05-20 17:33] dfk7677 commented on #114
Issue seems to be resolved and aurelia-bundler works with node 6.2.0.

[2016-05-20 17:33] #114 closed

[2016-05-20 19:57] michaelmalonenz commented on #120
I have raised https://github.com/systemjs/builder/issues/600 and made a circular reference :)

[2016-05-21 06:52] dev0x10 commented on #120
I can confirm that the solution from @paulocezar can fixing export problem

[2016-05-22 01:24] michaelmalonenz commented on #120
The commit in SystemJS builder associated with the issue above fixes my problem, too.

[2016-05-22 01:24] #120 closed

[2016-05-23 07:05] dilvish4ever commented on #119
module -> working -> not working

systemjs-builder -> 0.15.16 -> 0.15.17
babel-core (inside system-builder) -> 6.8.0 -> 6.9.0

[2016-05-23 07:13] krostkowski commented on #119
Thank you, there is some issue with systemjs-builder 0.15.17. With 0.15.16 it's working.

[2016-05-23 07:20] dilvish4ever commented on #96
works with config:
[code]

[2016-05-23 09:34] seesharper commented on #119
For a NPM novice, how do I fix this? Is it possible to lock to version
0.15.16 somehow?

On Mon, May 23, 2016 at 9:13 AM, Kamil Rostkowski <notifications@github.com>
wrote:

[2016-05-23 10:12] krostkowski commented on #119
In your package.json:
    "systemjs-builder": "0.15.16" (without ^)

[2016-05-23 12:29] KernowCode opened #122 "1.0.0-beta.1.2.5 typescript asp net 5 skeleton bundle app.js.map not such file error"
Following readme.md in the skeleton and perform 'gulp bundle' errors with

[13:25:12] Error on fetch for app.js at file:///C:/Aurelia/skeleton-navigation-1
.0.0-beta.1.2.5/skeleton-navigation-1.0.0-beta.1.2.5/ts-aspnet5/src/skeleton-nav
igation-typescript-vs/wwwroot/dist/app.js
        Error: ENOENT: no such file or directory, open 'C:\Aurelia\skeleton-navi
gation-1.0.0-beta.1.2.5\skeleton-navigat

[2016-05-23 12:41] KernowCode commented on #119
Where precisely in the package.json do we put
"systemjs-builder": "0.15.16" (without ^)
?

[2016-05-23 13:01] KernowCode commented on #119
Confirmed workaround for me was to rename
"aurelia-bundler": "^0.3.0"    to
"aurelia-bundler": "0.3.0"

[2016-05-23 13:21] ahmedshuhel commented on #61
@riddla Thanks. I have done the same with docker and found no problem. Works great with node 6.2.0.

[2016-05-23 13:21] #61 closed

[2016-05-23 13:23] njappboy commented on #119
Failing back to 0.3.0 did not work for me when I tried it.

[2016-05-23 13:24] njappboy commented on #122
Same as https://github.com/aurelia/bundler/issues/119

[2016-05-23 13:31] ahmedshuhel commented on #122
Closing this. We will track #119 for this issue.

[2016-05-23 13:31] #122 closed

[2016-05-23 13:48] ahmedshuhel commented on #118
@jaroslawziolkowski What version of bundler are you using? Could you try v0.4.0 and let us know? Could you also please create a repo that demonstrate the problem?

[2016-05-23 13:59] krostkowski commented on #119
@njappboy for me it didn't work either

[2016-05-23 14:12] seesharper commented on #119
Remember to delete node_modules and jspm_packages and do a clean restore

On Monday, 23 May 2016, Kamil Rostkowski <notifications@github.com> wrote:

[2016-05-23 14:37] ahmedshuhel commented on #119
@EisenbergEffect I believe the problem started after [this PR](https://github.com/systemjs/builder/pull/568) got merged. This is a great feature if it works specially in the cases like `skeleton-typescript` where we are providing a transpiled version of the code to the bundler and keeping or using the original source map makes a lot sense here instead of bundler generating source map of the transp

[2016-05-23 14:39] EisenbergEffect commented on #119
@ahmedshuhel My guess is that the build task would need to change in order to account for that.

[2016-05-23 14:42] ahmedshuhel commented on #112
@bta199 Closing this issue. Please try v0.4.0 and let us know how it goes.

[2016-05-23 14:42] #112 closed

[2016-05-23 14:47] ahmedshuhel commented on #102
Feature is already implemented [here](https://github.com/aurelia/bundler/blob/master/lib/bundler.js#L177). Please use the latest version and let us know if you have any problem. Thank you.

[2016-05-23 14:47] #102 closed

[2016-05-23 14:52] ahmedshuhel commented on #24
Let's close it. The idea here is we have to provide enough information to the bundler so that It can uniquely identify a module when multiple version of a module is installed/used in an application.

[2016-05-23 14:52] #24 closed

[2016-05-23 15:01] ahmedshuhel commented on #119
I am taking a look at how gulp source map works that we used in our build task. I will let everyone know if I find something. Basically, without `//#sourceMappingURL=app.js.map` bundler works fine.

[2016-05-23 15:36] ahmedshuhel commented on #119
@EisenbergEffect  I have submitted a PR for skeleton-navigation to to address this issue.

[2016-05-23 15:39] ahmedshuhel commented on #119
@all  Please try changing `.pipe(sourcemaps.write({includeContent: false, sourceRoot: '/src'}))` to `  .pipe(sourcemaps.write('.', {includeContent: false, sourceRoot: '/src'}))` in the `build.js` file and let us know.

[2016-05-23 15:40] ahmedshuhel commented on #119
Where would the PR go? Github is acting wired today with me! Strange.

[2016-05-23 15:48] ahmedshuhel commented on #119
@all please try changing  `.pipe(sourcemaps.write({includeContent: false, sourceRoot: '/src'}))` to `  .pipe(sourcemaps.write('.', {includeContent: false, sourceRoot: '/src'}))` in `build/tasks/build.js` and let us know.

[2016-05-23 15:51] EisenbergEffect commented on #119
Is this an issue across multiple skeletons? If so, we need to update it everywhere...

[2016-05-23 15:55] ahmedshuhel commented on #119
Yes, I will send the PR again if needed once Github gets settled. It's not showing me my comments or PR that I made already.

[2016-05-23 17:22] njappboy commented on #119
@seesharper of course I delete the /node_modules folder. (not a newbie)

@ahmedshuhel See weird issues with github today as well.  I don't like seeing the Rainbow unicorn.

[2016-05-24 07:41] dilvish4ever commented on #119
@ahmedshuhel new error:
[code]

[2016-05-24 14:51] dev0x10 opened #123 "[Question] Gulp Export Failed"
I have a problem with export
I'm using skeleton project and I have a problem with 'gulp export'
I think this is related to gulp config but I'm wondering if any of you know how to solve this. Here is my folder structure
![project structure](http://s33.postimg.org/5z0yznuwv/Screen_Shot_2016_05_24_at_9_08_41_PM.png)
And in some of classes using import from the 'api' folder
[code]
My gulp bundle confi

[2016-05-24 15:15] ahmedshuhel commented on #123
Does it work without bundling?

[2016-05-24 15:18] dev0x10 commented on #123
@ahmedshuhel 'gulp watch' and 'gulp bundle' works fine but 'gulp export' doesn't work
here is my export.js file content
[code]
I'm struggling more in bundle than developing in Aurelia :(

[2016-05-25 10:25] Souldrinker commented on #119
I just ran into this issue too in my real app (not built on skeleton) where I use VS2015 to transpile my typescript and then the babel-runtime to transpile it in the browser.

In my case however it initially complained about the last line in my jspm installed package ```github:nolimits4web/Swiper@^3.3.1/dist/js/swiper.js```: ```//# sourceMappingURL=maps/swiper.js.map```. When I removed that I got

[2016-05-25 11:26] ahmedshuhel commented on #119
@Souldrinker  It's a twofold problem or bug. One was in our skeleton. The skeletons were not configured to generate the sourcemaps correctly. That we solved. But you and @dilvish4ever is experiencing the other problem introduced in systemjs-builder's latest version. I believe a discussion is going on here about this problem  systemjs/builder#297

Before that gets resolved I assume it's better to s

[2016-05-27 12:48] WhiteBredWonder opened #124 "Add support for specifying the location of the bundle output instead of using the name."
I am developing an application using ASP.NET Core 1.0 RC2 and I was hoping there is a way to change the location where the bundle is saved.  Currently it is based on the baseURL and the name of the bundle.  Here is how I have my project setup.

The jspm_modules folder is located in the root of my project, not wwwroot.  Here is my current bundle configuration.

[code]

As you can see, the name of t

[2016-05-31 09:56] bta199 commented on #112
Hey @ahmedshuhel,

I am still able to reproduce this problem in v0.4.0.

[2016-06-03 12:43] RomkeVdMeulen opened #125 "Cannot create bundle dir of more than one level"
Rev a8a4f33 fixed #102  but unfortunately this only works if the bundle dir is one level deep. I'm currently working on a project where I'm producing a number of bundles which I want to separate in multiple levels. E.g.:

[code]

Currently trying to do this results in:

[code]

Perhaps the bundler could create every intermediate dir as needed? I'd be happy to work on a PR when I have some time on

[2016-06-04 22:20] RWOverdijk opened #126 "text plugin breaks templates"
Hello :)

I just tried bundling my app with `plugin-text@0.0.8` and it broke my application. It does so by yelling:

[code]

When I downgraded plugin-text to 0.0.3 everything worked fine again.

For now I'll stick to 0.0.3, but I think something is broken and should perhaps be fixed. If you could point me in the right direction I wouldn't mind doing it. :)

[2016-06-05 00:46] dev0x10 commented on #123
@ahmedshuhel after digging I found this similar issue
https://github.com/aurelia/bundler/issues/103

Now I know how to solve 👍  Thanks!

[2016-06-05 00:46] #123 closed

[2016-06-05 06:51] doktordirk commented on #126
@RWOverdijk see https://github.com/aurelia/bundler/issues/118

[2016-06-05 08:08] RWOverdijk commented on #126
@doktordirk pretty sure that's unrelated.

[2016-06-05 09:47] doktordirk commented on #126
right. but anyways, you might need to add more details, since i don't have problems with 0.0.8 (for the normal views)

[2016-06-05 10:47] EisenbergEffect commented on #126
@ahmedshuhel Did something change in the way that the text plugin exports text?

[2016-06-06 13:18] aivins opened #127 "Mixed Content error on exported bundle"
Seeing unexpected behaviour when serving an exported bundle. Not even sure what process.js is for or what needs it.

`Mixed Content: The page at 'https://localhost/#admin/users/new' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://localhost/#dist/process.js'. This request has been blocked; the content must be served over HTTPS.`

I am using aurelia-fetch-client and

[2016-06-18 10:48] damianof commented on #126
Same here

[2016-06-20 15:18] eliavmaman commented on #96
+1
i use the es6 plain js skeleton of aurelia, and after bundle all file iget this..
![image](https://cloud.githubusercontent.com/assets/6911449/16199733/615803f2-3713-11e6-9bca-03f9b0feaf3a.png)

Any ideas?

[2016-06-20 15:20] eliavmaman commented on #96
my config is like:
![image](https://cloud.githubusercontent.com/assets/6911449/16199779/8c0202e2-3713-11e6-8002-0aa7dd2fa16b.png)
 and the bundle.js is :+1:
![image](https://cloud.githubusercontent.com/assets/6911449/16199802/b19b68c2-3713-11e6-86cd-ef59b3362dae.png)

[2016-06-21 07:11] eliavmaman opened #128 "twitter bootstrap and font awsome not found after bundle"
After long straggle with the bundling the app.. i get that.
![image](https://cloud.githubusercontent.com/assets/6911449/16220882/3d88a4b0-3798-11e6-9041-07ee2ffd44bf.png)

I have installed bootstrap and forn-awsom with jspm. the app is stuck bcoz of that.
Can you please help? i

[2016-06-21 10:41] eliavmaman commented on #128
the issue solved.
I had reference to this files in the app.js. and the problem was i moved the jspm_packages folder to top level to have clean bundle.

Just referenced the  `../jspm_packages` one level up.

[2016-06-21 10:41] #128 closed

[2016-06-22 00:50] Vheissu opened #129 "Bundler not working with Jspm 0.17.0-beta.22"
I am seeing the following in my app:

[code]

**My bundle configuration is as follows:**

[code]

Even though the bundler has a check to see if it is an array, it seems to be ignored.

[2016-06-22 01:22] Vheissu commented on #129
The plot thickens. If I just supply a string to `configPath` like it wants, so I just provide: `jspm.config.js` instead, I get the following error:

[code]

[2016-06-22 01:27] Vheissu commented on #129
Changing my configuration files to just use `System.` and I get a few other errors now about not being able to find dependency JSON files.

``configPath: './jspm.config.js', `` will get the me the following error (presumably because it needs the browser config for paths):

[code]

[2016-06-22 05:12] toxicehc commented on #92
Greetings, I fortunately had a backup copy to consult and this is all I had to fix in my config.js file, to get it 'working' again:

"github:twbs/bootstrap@3.3.6": {
  "jquery": "npm:jquery@2.2.3"

It turned into this when I bundled: "jquery": "npm:jquery@3.0.0"

[2016-06-23 18:06] LordZardeck opened #130 "Develop with live-compilation, bundle for production"
Is it possible to utilize System.js' transpiler feature to develop locally, then when ready, use aurelia-bundler to deploy? I can't figure out how to make that work, since in the config i specify to look in my `src` folder, but when it's bundled, it will be in a different folder, such as `dist`. Is this possible? if so, could someone show me an example config that supports this?

[2016-06-23 20:48] atsu85 commented on #130
It is possible, but not smth you want - too slow. For example i even bundle all 3rd party resources in development and leave my app code unbundled until going to production.

[2016-06-23 20:50] LordZardeck commented on #130
@atsu85 Do you have an example of it working the way I'm describing?

Also, are you saying that you run bundle on your 3rd party resources, then do what I'm describing above for your source code? Because I could be down for that.

[2016-06-24 07:16] RomkeVdMeulen commented on #124
I reported the same problem in #101.

[2016-06-26 23:02] LivesleyWA commented on #92
I encountered this as well. Finally sorted it.

Nothing directly to do with bundling. The module declaration created for bootstrap by jspm declares the dependency as JQuery V3. Bootstrap currently requires JQuery less than v3 - now would be 2.2.4. The error is not informative.

You can either edit your _config.js_ file or, as I did, just load jquery from a script tag and remove JQuery from the con

[2016-06-27 18:57] atsu85 commented on #92
@LivesleyWA, (If I understood the problem correctly) You could have 2 versions of jQuery if You use alias for at least one of them when installing jQuery. I guess then You don't need to manually edit config.js.

[2016-06-30 18:21] allencoded opened #131 "Aurelia-Bundler won't fetch sub-directory imports from main.js."
Aurelia-Bundler won't grab sub directory imports from main.js. I am not sure how to fix here is what we have:

**/src/main.js**
[code]

**bundles.js**
[code]

**error:**
[code]

So what I am doing is:
`gulp export`
Then after it exports completely I `cd` into the created exports folder. Then I do `http-server -p 3001`. Launch the browser and get the error above. Something with main.js importing ou

[2016-06-30 18:25] EisenbergEffect commented on #131
Change your glob patterns:

[code]

[2016-06-30 18:25] #131 closed

[2016-06-30 18:34] allencoded commented on #131
If I change the glob patterns then it won't grab my sub-directories. Thats why my glob patterns are the way they are I took that fix from here:
https://github.com/aurelia/bundler/issues/103

[2016-06-30 18:36] EisenbergEffect commented on #131
The patterns I have pasted above should grab the subdirectories. They are a corrected form of the bundle configuration taken from the latest skeleton.

[2016-06-30 18:42] allencoded commented on #131
If I take away the globals though it wont grab my sub-directories. Throws network 404 errors galore in trying to find them. Here is my dist folder structure:

[code]

when using */**/*.js it seems to pull those files at least I am not seeing red. When using */**.js it doesn't seem to pull my files in the sub directories.

[2016-06-30 18:44] EisenbergEffect commented on #131
@AshleyGrant can you confirm that my globs above are correct to pull in all subfolders and if not can you correct them?

[2016-06-30 19:33] AshleyGrant commented on #131
The square braces tell the bundler not to follow imports. Try doing `"**/*.js",`

[2016-06-30 20:36] allencoded commented on #131
I tried removing the brackets. That ended not only not including my sub directories but also gave a lot of other errors:
[code]

The list goes on and on. If I add the brackets back then it goes back to telling me just the sub directories aren't included.

[2016-06-30 20:39] allencoded commented on #131
Bundles.js:
[code]

export.js
[code]

Index.html:
[code]

Main.js
[code]

[2016-06-30 20:49] EisenbergEffect commented on #131
The configuration I gave you is what has worked on every project I've done. I'm not sure what's going wrong in your case. We may need to have you create a repro and attach it.

However, that aside, did you intend to generate a depCache? My guess is no. Try setting that to false and see if it makes a difference.

[2016-07-01 13:20] robertsundstrom opened #132 "Bundling fails for skeleton app with updated SystemJS"
I have a project, based on the skeleton for ASP.NET Core, with and updated SystemJS/JSPM, that doesn't work.

The source can be found here: https://github.com/osterlentracker/osterlentracker2/tree/master/src/Osterlentracker.Web

Got some initial help from this issue #129, but ran into further problems.

JSPM version: 0.17.0-beta.22

When running ```aurelia bundle``` the tool is yielding the follow

[2016-07-01 13:23] robertsundstrom commented on #129
I'm using the same version in one of my projects. For me it fails when bundling. #132

[2016-07-01 21:01] allencoded commented on #131
depCache was part of the issue. turning that to false helped for those whom may stumble across this issue in the future.

[2016-07-03 01:51] robertsundstrom commented on #132
I got around this problem by using JSPM Bundler directly, as I initially prefered.

[2016-07-03 01:51] #132 closed

[2016-07-04 02:31] EisenbergEffect commented on #18
Closing this for now since tracing is possible. Deps only need to be specified when you have multiple bundles and don't want to trace source.

[2016-07-04 02:31] #18 closed

[2016-07-04 03:33] EisenbergEffect commented on #72
Closing since there was no response from the OP after Matt's recommendation.

[2016-07-04 03:33] #72 closed

[2016-07-04 14:43] EisenbergEffect commented on #82
Closing this issue as it's not a bug in bundling but a config issue that was addressed.

[2016-07-04 14:43] #82 closed

[2016-07-04 16:23] alfkonee commented on #126
Same Here

[2016-07-04 16:32] EisenbergEffect commented on #126
Are you using the absolute latest version of Aurelia? This issue was fixed.

[2016-07-04 16:32] #126 closed

[2016-07-04 16:42] alfkonee commented on #126
Yeah was using rc.1.0.0 libs

[2016-07-04 16:45] EisenbergEffect commented on #126
Please create a repro here so we can take a look.

[2016-07-04 16:50] EisenbergEffect commented on #91
@stefan505 Is this still an issue?

[2016-07-04 17:06] EisenbergEffect commented on #95
Is this still an issue?

[2016-07-04 17:10] #96 closed

[2016-07-04 19:11] EisenbergEffect commented on #100
Closing this since it's a config issue and no response from the OP in several months.

[2016-07-04 19:11] #100 closed

[2016-07-05 09:27] MaartenThomassen commented on #95
I'm sorry for not letting anything know regarding this. Our development is currently focussed elsewhere and bundeling is not a priority so I can't for sure say if its still an issue or not.

You can close the issue for now. Should i run into the problem again ill just post here or create another issue with more details

[2016-07-05 13:23] #95 closed

[2016-07-06 19:47] EisenbergEffect commented on #116
Your bundle config is including a file that shouldn't be in the bundle. You need to move that file out ore re-configure the bundler to not pick up the web.config file.

[2016-07-06 19:47] #116 closed

[2016-07-06 20:13] EisenbergEffect commented on #118
Haven't heard back from the OP in a while, so closing this. Make sure to have the text plugin installed and be running the latest bundler and system.js.

[2016-07-06 20:13] #118 closed

[2016-07-07 15:06] EisenbergEffect commented on #119
Closing since the issue was fixed via a merge.

[2016-07-07 15:06] #119 closed

[2016-07-08 00:15] EisenbergEffect commented on #124
Closing this as a duplicate. Incidentally, the CLI's build process (which doesn't use jspm though) enables this.

[2016-07-08 00:15] #124 closed

[2016-07-08 10:42] janvanderhaegen opened #133 "Aurelia pre-bundled? CDN?"
Hey,

I was wondering if the roadmap foresees pre-bundled aurelia downloads? Perhaps even CDN distributed?
@cmichaelgraham used to have a repository with aurelia & typescript bundles, and in some development workflows these were just the right scratch for our itch.

Thanks

J

[2016-07-08 14:42] EisenbergEffect commented on #133
Yes, it's already setup in the new `aurelia` repo. They aren't on CDN yet, but that's coming soon.

[2016-07-08 15:27] janvanderhaegen commented on #133
You're a champ!
[Link for future references...](FormatOptionsGridColumnAlign) =)

Thanks again!

J

[2016-07-08 20:30] EisenbergEffect commented on #125
@RomkeVdMeulen We'd love a PR for this if you can.

[2016-07-08 21:26] EisenbergEffect commented on #127
This sounds like you have a configuration error with system.js.

[2016-07-08 21:26] #127 closed

[2016-07-08 21:27] EisenbergEffect commented on #127
`process` is a native node module. It seems like something you are using is requesting that and the browser shim for that isn't getting bundled correctly.

[2016-07-09 05:50] EisenbergEffect commented on #129
@robertsundstrom Can you help identify the problem?

[2016-07-09 05:57] EisenbergEffect commented on #130
We would recommend other build setups such as webpack of cli.

[2016-07-09 05:57] #130 closed

[2016-07-09 21:38] atsu85 commented on #130
@LordZardeck

NO! As I said:

The development process with System.js transpiler (in browser) would be way-way-way too slow. For me even the default skeleton setup where in development mode You don't have anything bundled is too slow. So to waste less time on each refresh

So to achieve that setup where only 3rd party assets are bundled (but not my app-specific code), i have budnles.js:
[code]
and

[2016-07-09 22:15] LordZardeck commented on #130
The reason I want to do it regardless of speed, is conscience. Being able to have a coworker just run it without having to install some build process would be a huge win for us

[2016-07-12 16:22] Aedaeum opened #134 "After bundling, view models are still pulled from server"
I was wondering if there was some extra steps that are needed to force the application to use the bundled view model. As it is right now, my about page still makes a server request for the `about.js` file, instead of using the one bundled into the `app-build.js`. Now that I'm looking at it, even my `app.js` file is requested from the server instead of `app-build.js`. This kinda defeats the purpose

[2016-07-12 16:37] EisenbergEffect commented on #134
LOL Yes, it should not work that way. It sounds like there's something wrong with your bundle config. Take a look at that and compare it to what we've got in the skeleton project that matches yours. My guess is that you've got an incorrect glob pattern.

[2016-07-12 16:37] #134 closed

[2016-07-12 16:39] Aedaeum commented on #134
Okay, I'll check that out. I tried asking about this on Gitter, but no one is available.

[2016-07-12 17:47] Aedaeum commented on #134
Well I've done everything I can to get this to work and it just won't. The configs match exactly. The aurelia dependencies are working properly, just not the view model scripts.

[2016-07-12 17:53] EisenbergEffect commented on #134
Are your file names and import statements matched in their casing?

[2016-07-12 17:54] Aedaeum commented on #134
Everything is lowercase, though Aurelia seems to be requesting an uppercase `About.js` page, which doesn't make sense.

[2016-07-12 17:55] EisenbergEffect commented on #134
That's what is making my suspicious. Do a case sensitive search on your solution and your build folder to make sure you don't have that somewhere.

[2016-07-12 18:07] Aedaeum commented on #134
Okay, I've fixed the case issue. I was setting the route to About instead of about, but it's still not using the app-build file.

[2016-07-12 18:14] Aedaeum commented on #134
I think I've found the issue. I have `.pug` files that I serve from the server so it will always need to request those. I set the view strategy using `getViewStrategy()` on the view model. Using this method, Aurelia won't load the app from the app-build. If I remove the strategy, it will load the app just fine, except that it's requesting the wrong view (`app.html`).

Is this a bug with Aurelia?

[2016-07-15 21:01] vaskokj commented on #92
So I think I'm running into this same issue.

caught (in promise) Error: Bootstrap's JavaScript requires jQuery
	Error loading http://localhost:8080/jspm_packages/github/twbs/bootstrap@3.3.6/js/bootstrap.js

I run "gulp export" and then move the "export" folder into my webserver and got this error.

I then did what the suggested solution here

    "dist/common/lib": {
      "includes": [
        "

[2016-07-15 22:29] LivesleyWA commented on #92
For bootstrap v4, I added an explicit version of jquery as a project dependency in the jspm section of package.json.  "jquery": "npm:jquery@2.2.4". This should ensure that the bundler is picking up the correct version of JQuery. I haven't tried bundling this yet but I suspect that it will work.

[2016-07-18 17:01] vaskokj commented on #92
I tried that as well but it is still broken.

I did what LiveslyWA suggested and the other posts above but still get,

undefined:1 Uncaught (in promise) Error: Bootstrap's JavaScript requires jQuery
	Error loading http://localhost:8080/jspm_packages/github/twbs/bootstrap@3.3.6/js/bootstrap.js
    at http://localhost:8080/dist/aurelia.js:3:22533
    at http://localhost:8080/dist/aurelia.js:4:27234

[2016-07-18 18:55] cdaniel77 opened #135 "Bundle not overwriting when force is set to true"
I am using aurelia-bundler and have force set to true.  However, when I run the bundler using gulp, it fails because it says a bundle already exists.

[2016-07-20 14:34] amitHansda commented on #126
Same problem here. It's breaking for a particular custom element, though its view is wrapped inside _template_ tag. Its working for other custom element, but not working for the new one. I'm using aurelia-loader-default@1.0.0-rc.1.0.0 and systemjs/plugin-text@0.0.7

[2016-07-26 18:30] wegorich opened #136 "Bundler not working with TypeError: Cannot read property 'file:///X' of undefined"
It's seems an BUG in 'aurelia-bundler' module. I have the setup:

**bunder.js**
[code]

**tasks/bundle.js** - the gulp task
[code]

The build task works well it just put build files to dist folder.
Each time I run `gulp bundle` I received the error message.

[code]
The files exist by the path in the exception

Steps I did to resolve, but have no success:
1. I tried reinstall `npm` and `nodejs` 6.2

[2016-07-26 19:25] wegorich commented on #136
So the project settings:

**package.json**
[code]

and

**config.js**

[code]

[2016-07-26 19:30] AStoker commented on #136
We are experiencing the same issue. It began yesterday when we removed the cached node modules and reinstalled them (part of an upgrade process). So I feel that it's related to some library that's being referenced by the bundler (since the bundler itself hasn't updated recently).

[2016-07-26 19:32] EisenbergEffect commented on #136
JSPM just had some releases. They probably broke everything again. It's their usual practice.

[2016-07-26 19:38] wegorich commented on #136
God damn, thanks @AStoker @EisenbergEffect for clarification.

It's seems possible to move through the `jspm` and `aurelia-bundler` deps and trying to rollback each of them. May be find broken one 🎱

The point to start for me...

[2016-07-26 19:39] AStoker commented on #136
@wegorich does specifying the specific version before the broken one (https://github.com/jspm/jspm-cli/releases/tag/0.16.39) work for you? The updated version 0.16.40 is the one that might be causing the problem, so if you specify the exact version to be 0.16.39, it might work.

[2016-07-26 19:39] EisenbergEffect commented on #136
If you can help us track it down, we'll do our best to fix anything in our code. It's been very difficult working the the system-builder because it has frequent breaks.

[2016-07-26 19:49] AStoker commented on #136
Just checked, although JSPM did push an update, our JSPM cli is still locked at the version we had before they updated, and our errors began an hour before JSPM published their update...

[2016-07-26 19:52] EisenbergEffect commented on #136
Well, that is odd.

[2016-07-26 20:07] wegorich commented on #136
I rollback to the `jspm` `0.16.12` the issue still there. Seems it's old one module corrupted

[2016-07-26 20:26] doktordirk commented on #136
i.d wait a day then update the build tasks using the skeleton. but better fix versions of i18n xy, validation 0.6.6 and jspm 16.39

[2016-07-26 20:29] genachka commented on #136
Same here. Tried to narrow down by doing bundle on skeleton-esnext and same issue. Also tried as @wegorich to rollback jspm to previous releases without success.

[2016-07-26 20:58] wegorich commented on #136
@EisenbergEffect @AStoker fine the issue solution.

Added the override for system js to mine `package.json`;
"systemjs": "git+https://git@github.com/wegorich/systemjs.git"

Just forked systemjs for testing, https://github.com/wegorich/systemjs/commit/90e4eff29f0f8b7493b55546dccda0eadd5d1d51

All fine with JSPM, tested few version of it.

[2016-07-28 15:46] genachka commented on #136
With the updated systemjs builder fixes, bundling is working again for me.

[2016-08-02 23:46] pasky opened #137 "Transient data stored in git-tracked config.js"
The bundler stores depCache and more within config.js, which is recommended to be tracked in git AFAIK. However, after each gulp bundle, config.js is rewritten with different ordering and therefore each commit contains massive churn in the config.js file, merges always generate conflicts that are impossible to resolve etc.

Maybe this issue is more with the skeleton task and it's possible to achie

[2016-08-03 15:53] atsu85 commented on #137
One thing I'm doing to avoid massive git diffs, is always running bundling task after jspm cli commands(such as jspm install jquery), that change config.js. That way the file is always formatted with the same tool (and same formatting rules) before i commit. I hope it helps you as a workaround, but ideally bundler should format exactly the same way as jspm cli.

[2016-08-03 17:45] pasky commented on #137
Thanks for the advice - but I think I'm still missing something, as I need to re-bundle the app itself after each change, I don't bundle just the dependencies.

(Though, giving up on bundling the app itself might be an okay temporary compromise.)